@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: middle;
  border: 0; }

body {
  font-size: 16px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-text-size-adjust: none;
  font-family: 'Open Sans', sans-serif; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

a {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  text-decoration: none;
  color: #000000; }
  a:hover {
    color: #28b655; }

@font-face {
  font-family: 'Avenir-Black';
  src: url("../fonts/Avenir-Black.eot");
  src: local("☺"), url("../fonts/Avenir-Black.woff") format("woff"), url("../fonts/Avenir-Black.ttf") format("truetype"), url("../fonts/Avenir-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'OpenSans-Regular';
  src: url("../fonts/OpenSans-Regular.eot");
  src: local("☺"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'MitocGroup';
  src: url("../fonts/MitocGroup.eot?ko5y6l");
  src: url("../fonts/MitocGroup.eot?ko5y6l#iefix") format("embedded-opentype"), url("../fonts/MitocGroup.ttf?ko5y6l") format("truetype"), url("../fonts/MitocGroup.woff?ko5y6l") format("woff"), url("../fonts/MitocGroup.svg?ko5y6l#MitocGroup") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h6, h6 {
  font-family: 'Avenir-Black', sans-serif; }

p, ul, span {
  font-family: 'OpenSans-Regular', sans-serif; }

.clear {
  clear: both; }

.flex-row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.flex-item-1 {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%; }

.flex-item-2 {
  flex: 0 0 16.33333333%;
  max-width: 8.66666667%; }

.flex-item-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.flex-item-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%; }

.flex-item-5 {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%; }

.flex-item-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.flex-item-7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%; }

.flex-item-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%; }

.flex-item-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.flex-item-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%; }

.flex-item-11 {
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%; }

.flex-item-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.center {
  text-align: center; }

.hidden {
  display: none; }

.top_button {
  padding: 100px 0; }

.header-text {
  font-size: 30px;
  text-transform: uppercase;
  line-height: 180px; }
  .header-text.transform-text {
    text-transform: inherit; }

.text-uppercase {
  font-size: 30px;
  text-transform: uppercase; }

.pull-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.btn {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Avenir-Black', sans-serif;
  padding: 15px 40px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  color: #000000;
  display: inline-block;
  border-color: transparent;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out; }

.btn-green {
  background-color: #7ED257;
  box-shadow: 0 4px 10px #7ed257;
  -webkit-box-shadow: 0 4px 10px #7ed257;
  -moz-box-shadow: 0 4px 10px #7ed257; }
  .btn-green:hover {
    box-shadow: 0 8px 20px #28b655;
    -webkit-box-shadow: 0 8px 20px #28b655;
    -moz-box-shadow: 0 8px 20px #28b655;
    color: #000000;
    background-color: #28b655; }

.btn-white {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16); }
  .btn-white:hover {
    box-shadow: 0 8px 20px black;
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
    color: #000000; }

.btn-popup {
  font-size: 20px;
  color: #000000;
  border: 0;
  background-color: transparent;
  font-family: "Avenir-Black", sans-serif;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  text-decoration: none; }
  .btn-popup:hover {
    color: #28b655; }

.link-text {
  color: #28b655;
  font-weight: 900; }
  .link-text:hover {
    color: #000000; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.page-name {
  height: 296px;
  line-height: 296px; }

.read-more {
  text-transform: uppercase;
  font-size: 16px;
  font-family: Avenir-Black, sans-serif;
  padding-bottom: 20px;
  margin-top: auto; }

.green-block {
  background-color: #7ED257; }
  .green-block.small-block .top_button {
    padding-top: 0; }

.gray-block {
  background-color: #EFEFEF; }

.green-block.gray-block {
  background-color: #EFEFEF;
  margin: 90px 0;
  text-align: left; }
  .green-block.gray-block.atm-block .info-block {
    padding-right: 0;
    padding-left: 0; }
    .green-block.gray-block.atm-block .info-block .info, .green-block.gray-block.atm-block .info-block .read-more {
      padding-right: 20px;
      padding-left: 20px; }
.green-block .flex-row {
  margin: 0 -20px; }
.green-block .info-block {
  background: #ffffff;
  margin-right: 20px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  display: flex;
  flex-direction: column; }
  .green-block .info-block img {
    width: 100%; }
  .green-block .info-block .info {
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column; }
    .green-block .info-block .info h4 {
      transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      font-size: 21px;
      margin: 24px 0; }
    .green-block .info-block .info p {
      padding-bottom: 40px; }

.form-styles {
  padding: 23px;
  /* FF 4-18 */
  /* FF 19+ */
  /* IE 10+ */ }
  .form-styles input {
    text-align: center;
    color: #000000;
    border-top: transparent;
    border-right: transparent;
    border-left: transparent;
    border-bottom: 1px solid #000000;
    width: 100%;
    font-family: "Avenir-Black", sans-serif;
    font-size: 20px; }
  .form-styles input:focus::-webkit-input-placeholder {
    color: transparent; }
  .form-styles input:focus:-moz-placeholder {
    color: transparent; }
  .form-styles input:focus::-moz-placeholder {
    color: transparent; }
  .form-styles input:focus:-ms-input-placeholder {
    color: transparent; }
  .form-styles ::-webkit-input-placeholder {
    color: #000000; }
  .form-styles ::-moz-placeholder {
    color: #000000; }
  .form-styles :-ms-input-placeholder {
    color: #000000; }
  .form-styles :-moz-placeholder {
    color: #000000; }
  .form-styles .input-styles {
    padding: 25px 0 40px 0; }
    .form-styles .input-styles label {
      color: red; }

/* Icons*/
i {
  font-family: 'MitocGroup';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none; }

.icon-linkedin:before {
  content: "\e90b";
  color: #242424;
  font-size: 250%;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out; }
.icon-linkedin:hover:before {
  color: #28b655; }

.icon-youtube:before {
  content: "\e90d";
  color: #242424;
  font-size: 250%;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out; }
.icon-youtube:hover:before {
  color: #28b655; }

.icon-github:before {
  content: "\e909";
  color: #242424;
  font-size: 250%;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out; }
.icon-github:hover:before {
  color: #28b655; }

.icon-google:before {
  content: "\e90a";
  color: #242424;
  font-size: 250%;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out; }
.icon-google:hover:before {
  color: #28b655; }

.icon-twitter:before {
  content: "\e90c";
  color: #242424;
  font-size: 250%;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out; }
.icon-twitter:hover:before {
  color: #28b655; }

.icon-facebook:before {
  content: "\e908";
  color: #242424;
  font-size: 250%;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out; }
.icon-facebook:hover:before {
  color: #28b655; }

.icon-arrow, .icon-burger {
  cursor: pointer; }

.icon-burger:before {
  content: "\e904";
  font-size: 32px;
  background-color: transparent; }

.icon-arrow:before {
  content: "\e900";
  font-size: 32px;
  background-color: transparent; }

.icon-email:before {
  content: "\e907";
  background-color: transparent; }

.icon-phone:before {
  content: "\e906";
  background-color: transparent; }

.icon-map-marker:before {
  content: "\e905";
  background-color: transparent; }

/* Navigation */
.color-nav-responsive {
  background-color: #ffffff; }

.navbar-fix {
  z-index: 5;
  position: fixed;
  top: 0;
  height: 84px;
  width: 100%;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s; }
  .navbar-fix.color-nav {
    background-color: #ffffff;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    box-shadow: 0 4px 9px -7px #000000;
    -webkit-box-shadow: 0 4px 9px -7px #000000;
    -moz-box-shadow: 0 4px 9px -7px #000000;
    -o-box-shadow: 0 4px 9px -7px #000000;
    height: 54px; }
    .navbar-fix.color-nav .logo, .navbar-fix.color-nav .nav-bar {
      line-height: 54px; }
    .navbar-fix.color-nav .logo a .mitoc-logo {
      height: 32px; }
    .navbar-fix.color-nav .nav-bar ul li {
      font-size: 16px; }
  .navbar-fix .logo {
    float: left;
    line-height: 84px; }
    .navbar-fix .logo a {
      display: block; }
      .navbar-fix .logo a .mitoc-logo {
        height: 40px; }
  .navbar-fix .nav-bar {
    float: right;
    line-height: 84px; }
    .navbar-fix .nav-bar ul {
      list-style-type: none; }
      .navbar-fix .nav-bar ul li {
        display: inline;
        font-family: 'Avenir-Black', sans-serif;
        font-size: 18px; }
        .navbar-fix .nav-bar ul li:not(:last-child) {
          padding-right: 24px; }

.nav-up {
  top: -94px; }

.icon-burger, .icon-arrow {
  display: none; }

/* Individual modal styles with animations/transitions */
/* Effect 1: Fade in and scale up */
.md-effect-1 .md-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }

.md-show.md-effect-1 .md-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

/* MailChimp*/
#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
  position: absolute;
  background-color: #ffffff;
  color: red;
  padding: 0 0 5px 0;
  font-size: 14px;
  font-family: OpenSans-Regular, sans-serif; }

.contact-page {
  background-image: url(/images/map.png);
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 1000px;
  background-position: top;
  background-color: #EFEFEF;
  margin-top: 84px; }
  .contact-page .flex-row {
    margin: 0 -20px;
    padding-bottom: 70px; }
    .contact-page .flex-row .map-block .contact-info {
      background: #ffffff;
      border-radius: 5px;
      height: 100%;
      margin-right: 20px;
      margin-left: 20px; }
      .contact-page .flex-row .map-block .contact-info iframe {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px; }
      .contact-page .flex-row .map-block .contact-info .wrapper-info {
        padding: 0 24px; }
        .contact-page .flex-row .map-block .contact-info .wrapper-info h3 {
          font-size: 21px;
          line-height: 80px; }
        .contact-page .flex-row .map-block .contact-info .wrapper-info .icons-links {
          padding: 21px 0;
          position: relative; }
          .contact-page .flex-row .map-block .contact-info .wrapper-info .icons-links:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #EFEFEF;
            top: 0;
            left: 0; }
          .contact-page .flex-row .map-block .contact-info .wrapper-info .icons-links .icon-phone, .contact-page .flex-row .map-block .contact-info .wrapper-info .icons-links .icon-map-marker, .contact-page .flex-row .map-block .contact-info .wrapper-info .icons-links .icon-email {
            float: left;
            vertical-align: top;
            margin-right: 24px; }
          .contact-page .flex-row .map-block .contact-info .wrapper-info .icons-links span {
            display: inline-block;
            width: calc(100% - 40px); }

.contact-form {
  margin-bottom: 90px; }
  .contact-form .form-styles {
    padding: 0; }
    .contact-form .form-styles input {
      text-align: left; }
    .contact-form .form-styles .input-styles.space-input {
      padding-right: 20px; }

.wrapper .main-page {
  background-image: url(../images/hp-background-min.jpg);
  background-position: center;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column; }
  .wrapper .main-page .main-text {
    text-align: center;
    max-width: 70%;
    margin: 0 auto;
    width: 700px; }
    .wrapper .main-page .main-text h1 {
      font-size: 45px;
      color: #28b655;
      line-height: 61px;
      padding-top: 200px; }
  .wrapper .main-page .top_button {
    text-align: center;
    margin-top: auto;
    padding-top: 0;
    padding-bottom: 100px; }
.wrapper .pictures-block {
  margin-bottom: 90px; }
  .wrapper .pictures-block .flex-item-3 {
    text-align: center;
    padding: 0 20px; }
    .wrapper .pictures-block .flex-item-3:not(:last-child) {
      border-right: 2px solid #EFEFEF; }
    .wrapper .pictures-block .flex-item-3 img {
      height: 128px; }
    .wrapper .pictures-block .flex-item-3 h3 {
      padding: 40px 0; }
    .wrapper .pictures-block .flex-item-3 .hover-effect {
      transition: 0.4s ease;
      -webkit-transition: 0.4s ease;
      -moz-transition: 0.4s ease;
      -o-transition: 0.4s ease; }
      .wrapper .pictures-block .flex-item-3 .hover-effect:hover {
        transform: scale(1.2, 1.2); }

footer .media {
  padding: 90px 0;
  display: flex;
  justify-content: space-around; }
  footer .media a {
    display: inline-block;
    cursor: pointer; }
    footer .media a i {
      display: inline-block;
      transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out; }
footer .map-background {
  background-image: url(/images/map-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  background-position: center bottom;
  background-color: rgba(255, 255, 255, 0.5); }
  footer .map-background .container .flex-row .flex-item-3 {
    margin-top: 20px; }
    footer .map-background .container .flex-row .flex-item-3 h4 {
      text-transform: uppercase;
      position: relative;
      display: inline-block;
      padding-bottom: 3px;
      margin-bottom: 24px; }
      footer .map-background .container .flex-row .flex-item-3 h4:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #7ED257;
        bottom: 0; }
    footer .map-background .container .flex-row .flex-item-3 p, footer .map-background .container .flex-row .flex-item-3 ul li {
      margin-bottom: 10px; }
    footer .map-background .container .flex-row .flex-item-3 ul {
      list-style-type: none; }
    footer .map-background .container .flex-row .flex-item-3 .logo a {
      display: inline-block; }
      footer .map-background .container .flex-row .flex-item-3 .logo a img {
        height: 60px;
        margin-bottom: 20px; }
    footer .map-background .container .flex-row .flex-item-3 .aws-logo {
      width: 100%; }
    footer .map-background .container .flex-row .flex-item-3.block-info {
      padding-left: 40px; }

.block-effect:hover {
  margin-top: -4%;
  margin-bottom: 4%;
  box-shadow: 0 18px 20px rgba(0, 0, 0, 0.2);
  transition: 300ms; }
  .block-effect:hover .info h4 {
    color: #28b655; }

.carousel-block {
  background-color: #fbfbfb; }
  .carousel-block .carousel-mission {
    padding-top: 200px;
    padding-bottom: 90px; }
    .carousel-block .carousel-mission .slide-text-right {
      padding-left: 40px; }
      .carousel-block .carousel-mission .slide-text-right h3 {
        font-size: 30px;
        text-transform: uppercase; }
    .carousel-block .carousel-mission .slide-text-left {
      padding-right: 40px;
      text-align: right; }
      .carousel-block .carousel-mission .slide-text-left h3 {
        font-size: 30px;
        text-transform: uppercase; }
    .carousel-block .carousel-mission .slick-prev {
      left: auto;
      top: 15%;
      right: 50%;
      width: 150px; }
      .carousel-block .carousel-mission .slick-prev:before {
        content: "Our Mission";
        color: #000000;
        opacity: 1;
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Avenir-Black', sans-serif;
        font-weight: bold; }
      .carousel-block .carousel-mission .slick-prev.slick-disabled:before {
        border-bottom: 2px solid #7ED257; }
    .carousel-block .carousel-mission .slick-next {
      top: 15%;
      left: 50%;
      width: 200px; }
      .carousel-block .carousel-mission .slick-next:before {
        content: "Our Strategy";
        color: #000000;
        opacity: 1;
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Avenir-Black', sans-serif;
        font-weight: bold; }
      .carousel-block .carousel-mission .slick-next.slick-disabled:before {
        border-bottom: 2px solid #7ED257; }

/* Popup*/
.popup {
  background: #ffffff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center; }
  .popup h3 {
    text-transform: uppercase;
    line-height: 120px;
    background-color: #7ED257;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    font-size: 25px; }

.popup_back {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  cursor: pointer;
  background-color: #222; }

.popup_cont {
  position: fixed;
  z-index: 102; }

.preloader {
  z-index: 101;
  left: 50%;
  margin: -10px 0 0 -25px;
  position: fixed;
  top: 50%; }

div.popup {
  background: #fff;
  box-shadow: 0 3px 10px #222;
  max-width: 416px;
  min-width: 300px;
  width: 50%; }

.popup_close {
  display: none; }

.blog-block .container .section-content .flex-row .flex-item-12 .blog-post, .blog-block .container .section-content .flex-row .flex-item-6 .blog-post {
  border: 1px solid #000000;
  border-radius: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 0 20px;
  overflow: hidden; }
  .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .blog-content .post-date, .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .blog-content .post-date {
    font-family: Avenir-Black, sans-serif;
    color: #28b655;
    padding-bottom: 10px; }
  .blog-block .container .section-content .flex-row .flex-item-12 .blog-post:hover a, .blog-block .container .section-content .flex-row .flex-item-6 .blog-post:hover a {
    color: #28b655; }
.blog-block .container .section-content .flex-row .flex-item-12 .blog-post {
  margin-bottom: 40px;
  max-height: 300px;
  transition: 300ms;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease; }
  .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .blog-content {
    padding: 20px;
    display: flex;
    flex-direction: column; }
    .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .blog-content h4 {
      font-size: 30px; }
    .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .blog-content .button {
      margin-top: auto;
      font-size: 12px;
      font-family: "Avenir-Black", sans-serif; }
  .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .img-block a {
    display: inline; }
    .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .img-block a img {
      object-fit: cover;
      width: 100%;
      height: 100%; }
  .blog-block .container .section-content .flex-row .flex-item-12 .blog-post:hover {
    transform: scale(1.03, 1.03); }
.blog-block .container .section-content .flex-row .flex-item-6.rightPostItem .blog-post {
  transition: 300ms;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease; }
  .blog-block .container .section-content .flex-row .flex-item-6.rightPostItem .blog-post:hover {
    transform: scale(1.03, 1.03); }
.blog-block .container .section-content .flex-row .flex-item-6.leftPostItem .blog-post {
  transition: 300ms;
  -webkit-transition: 300ms ease;
  -moz-transition: 300ms ease;
  -o-transition: 300ms ease; }
  .blog-block .container .section-content .flex-row .flex-item-6.leftPostItem .blog-post:hover {
    transform: scale(1.03, 1.03); }
.blog-block .container .section-content .flex-row .flex-item-6 .blog-post {
  height: 100%;
  transition: 400ms; }
  .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .blog-content {
    padding: 20px;
    display: flex;
    flex-direction: column; }
    .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .blog-content h4 {
      font-size: 20px; }
    .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .blog-content .button {
      margin-top: auto;
      font-size: 12px;
      font-family: "Avenir-Black", sans-serif; }
  .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .img-block a {
    display: inline; }
    .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .img-block a img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      min-height: 250px; }

/* Animation*/
@-webkit-keyframes glowing {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-moz-keyframes glowing {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@-o-keyframes glowing {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; }
  100% {
    opacity: 0; } }
@keyframes glowing {
  0% {
    opacity: 1; }
  50% {
    opacity: 1; }
  51% {
    opacity: 0; }
  100% {
    opacity: 0; } }
.nav_anim {
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
  display: inline; }

.line-animation {
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
  display: inline; }

/*Confirm Page*/
.thank-you {
  height: calc(100vh - 84px);
  background-color: #EFEFEF;
  margin-top: 84px;
  text-align: center; }
  .thank-you.popup-pages {
    height: auto; }
    .thank-you.popup-pages h2 {
      margin-top: 90px; }
  .thank-you .text-block-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .thank-you h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 30px;
    color: #28b655; }
  .thank-you span {
    font-family: "Avenir-Black", sans-serif; }
  .thank-you .img-thanks {
    height: 146px;
    margin: 90px 0; }
  .thank-you h3 {
    font-family: Avenir-Black, sans-serif;
    font-size: 21px; }

@media (min-width: 800px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 950px; } }
@media (min-width: 1270px) {
  .container {
    width: 1232px; } }
@media (max-width: 1270px) {
  .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .blog-content h4 {
    font-size: 30px;
    margin-top: 10px; }
  .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .blog-content {
    display: inline;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    line-height: 24px;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    white-space: normal; }
    .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .blog-content:hover {
      color: #28b655; }
    .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .blog-content h4 {
      margin-top: 10px;
      overflow: hidden; }
    .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .blog-content .button {
      position: absolute;
      bottom: 10px; } }
@media (max-width: 992px) {
  .green-block .flex-row {
    margin: -10px; }
  .green-block .info-block {
    margin-left: 10px;
    margin-right: 10px; }
    .green-block .info-block.block-effect:hover {
      margin-top: 0;
      margin-bottom: 0;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none; }

  .contact-page .container .flex-row {
    margin: 0 -10px; }
    .contact-page .container .flex-row .flex-item-4 {
      flex: 0 0 100%;
      max-width: 100%; }
      .contact-page .container .flex-row .flex-item-4.map-block:not(:last-child) {
        margin-bottom: 20px; }
      .contact-page .container .flex-row .flex-item-4.map-block .contact-info {
        margin-right: 10px;
        margin-left: 10px; }
        .contact-page .container .flex-row .flex-item-4.map-block .contact-info iframe {
          height: 300px; }
  .contact-page .form-styles .flex-row {
    margin: 0 -10px; }
    .contact-page .form-styles .flex-row .flex-item-6 .input-styles, .contact-page .form-styles .flex-row .flex-item-12 .input-styles {
      margin-right: 10px;
      margin-left: 10px; }

  .aws-block .gray-block {
    text-align: center; }
    .aws-block .gray-block .container {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .aws-block .gray-block .container .logo-block, .aws-block .gray-block .container .text-block {
        float: none;
        line-height: normal; }
        .aws-block .gray-block .container .logo-block a img, .aws-block .gray-block .container .text-block a img {
          height: 80px; }
      .aws-block .gray-block .container .text-block h1 {
        margin-top: 20px;
        font-size: 24px; }

  .wrapper .pictures-block .flex-item-3 {
    flex: 0 0 50%;
    max-width: 50%; }
    .wrapper .pictures-block .flex-item-3 h3 {
      padding: 30px; }
    .wrapper .pictures-block .flex-item-3:not(:last-child) {
      padding-bottom: 30px;
      position: relative; }
      .wrapper .pictures-block .flex-item-3:not(:last-child):after {
        content: '';
        position: absolute;
        width: 100%; }
    .wrapper .pictures-block .flex-item-3:not(:first-child) {
      margin-top: 30px; }
    .wrapper .pictures-block .flex-item-3:nth-child(2) {
      border-right: 0; }
  .wrapper .blog-block .container .section-content .flex-row .flex-item-12 .blog-post:hover, .wrapper .blog-block .container .section-content .flex-row .flex-item-6 .blog-post:hover {
    transform: none; }
  .wrapper .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .blog-content {
    display: inline;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    line-height: 24px;
    -webkit-line-clamp: 4;
    -moz-line-clamp: 4;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    white-space: normal; }
    .wrapper .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .blog-content h4 {
      overflow: hidden;
      margin-top: 10px;
      font-size: 20px; }
    .wrapper .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .blog-content .button {
      position: absolute;
      bottom: 10px; }
  .wrapper .blog-block .container .section-content .flex-row .flex-item-6.leftPostItem, .wrapper .blog-block .container .section-content .flex-row .flex-item-6.rightPostItem {
    flex: 0 0 100%;
    max-width: 100%; }
  .wrapper .blog-block .container .section-content .flex-row .flex-item-6.leftPostItem {
    margin-bottom: 40px; }

  .icon-burger {
    display: block;
    float: right; }

  .icon-arrow {
    float: right;
    display: block; }

  .navbar-fix {
    height: 54px; }
    .navbar-fix .logo {
      line-height: 54px; }
      .navbar-fix .logo a .mitoc-logo {
        height: 32px; }
    .navbar-fix.color-nav-responsive .nav-bar ul li {
      font-size: 24px; }
    .navbar-fix .nav-bar {
      float: none; }
      .navbar-fix .nav-bar ul li:not(:last-child) {
        padding-right: 0; }
      .navbar-fix .nav-bar .navigation {
        display: none;
        position: absolute;
        top: 54px;
        width: 100%;
        left: 0;
        background: white;
        z-index: 2;
        line-height: 70px; }
      .navbar-fix .nav-bar .open + .navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: center;
        height: calc(100vh - 54px);
        background: white; }

  footer .map-background {
    background-image: none;
    height: auto; }
    footer .map-background .container .flex-row .flex-item-3 {
      flex: 0 0 100%;
      max-width: 100%;
      text-align: center;
      margin-top: 0; }
      footer .map-background .container .flex-row .flex-item-3.block-info {
        padding-left: 0;
        margin-bottom: 20px; }
        footer .map-background .container .flex-row .flex-item-3.block-info:nth-child(3) {
          display: none; }
      footer .map-background .container .flex-row .flex-item-3:last-child {
        flex: 0 0 50%;
        max-width: 50%;
        margin: 0 auto;
        margin-bottom: 20px; } }
@media (max-width: 800px) {
  .wrapper .main-page {
    height: 100vh; }
    .wrapper .main-page .main-text {
      width: 90%;
      max-width: unset; }
      .wrapper .main-page .main-text h1 {
        font-size: 30px;
        line-height: 40px; } }
@media (max-width: 680px) {
  .green-block .flex-row .flex-item-4, .green-block .flex-row .flex-item-6 {
    flex: 0 0 100%;
    max-width: 100%; }
    .green-block .flex-row .flex-item-4:nth-child(1), .green-block .flex-row .flex-item-4:nth-child(2), .green-block .flex-row .flex-item-6:nth-child(1), .green-block .flex-row .flex-item-6:nth-child(2) {
      margin-bottom: 20px; }

  .thank-you.popup-pages .text-block-confirm {
    justify-content: space-around; }
    .thank-you.popup-pages .text-block-confirm h2, .thank-you.popup-pages .text-block-confirm .img-thanks {
      margin: 40px 0; }
  .thank-you .text-block-confirm {
    justify-content: space-around; }
    .thank-you .text-block-confirm h2, .thank-you .text-block-confirm .img-thanks {
      margin: 0; }

  .contact-form .form-styles .flex-row {
    margin-bottom: 0;
    margin-top: 0; }
    .contact-form .form-styles .flex-row #name-contact, .contact-form .form-styles .flex-row #phone {
      padding-right: 0; }
    .contact-form .form-styles .flex-row .flex-item-6 {
      flex: 0 0 100%;
      max-width: 100%; }

  body .aws-block .aws-info .image-aws {
    width: 70%;
    margin: 40px auto; }

  .top_button {
    padding: 50px 0; }

  .btn-green, .btn-white {
    font-size: 14px; }

  .center .header-text {
    font-size: 24px;
    line-height: normal;
    padding: 50px 0; }

  .wrapper .blog-block .container .section-content .flex-row .flex-item-12 .blog-post {
    margin-bottom: 20px; }
  .wrapper .blog-block .container .section-content .flex-row .flex-item-12 .blog-post, .wrapper .blog-block .container .section-content .flex-row .flex-item-6 .blog-post {
    max-height: 200px;
    margin-right: 0;
    margin-left: 0; }
    .wrapper .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .img-block a img, .wrapper .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .img-block a img {
      min-height: 200px; }
    .wrapper .blog-block .container .section-content .flex-row .flex-item-12 .blog-post .blog-content h4, .wrapper .blog-block .container .section-content .flex-row .flex-item-6 .blog-post .blog-content h4 {
      font-size: 16px; }
  .wrapper .blog-block .container .section-content .flex-row .flex-item-6.leftPostItem {
    margin-bottom: 20px; }

  .carousel-block .container .carousel-mission {
    padding-bottom: 70px;
    padding-top: 100px; }
    .carousel-block .container .carousel-mission .slick-next {
      width: 145px; }
    .carousel-block .container .carousel-mission .slick-next:before, .carousel-block .container .carousel-mission .slick-prev:before {
      font-size: 17px; }
    .carousel-block .container .carousel-mission .flex-row {
      display: grid; }
      .carousel-block .container .carousel-mission .flex-row .flex-item-6 {
        flex: 0 0 100%;
        max-width: 100%; }
        .carousel-block .container .carousel-mission .flex-row .flex-item-6.slide-text-left, .carousel-block .container .carousel-mission .flex-row .flex-item-6.slide-text-right {
          padding-left: 0;
          padding-right: 0;
          text-align: left; }
          .carousel-block .container .carousel-mission .flex-row .flex-item-6.slide-text-left h3, .carousel-block .container .carousel-mission .flex-row .flex-item-6.slide-text-right h3 {
            display: none; }
        .carousel-block .container .carousel-mission .flex-row .flex-item-6.slide-img {
          margin-bottom: 40px;
          grid-column: 1/2;
          grid-row: 1/3; }

  footer .media {
    padding: 40px 0; } }
@media (max-height: 580px) {
  .thank-you.popup-pages .text-block-confirm {
    justify-content: space-around; }
    .thank-you.popup-pages .text-block-confirm h2, .thank-you.popup-pages .text-block-confirm .img-thanks {
      margin: 40px 0; }
  .thank-you .text-block-confirm {
    justify-content: space-around; }
    .thank-you .text-block-confirm h2, .thank-you .text-block-confirm .img-thanks {
      margin: 0; } }
@media (max-width: 568px) {
  .wrapper .pictures-block .flex-item-3 {
    flex: 0 0 100%;
    max-width: 100%; }
    .wrapper .pictures-block .flex-item-3:nth-child(2) {
      border-right: 0; }
    .wrapper .pictures-block .flex-item-3:nth-child(1), .wrapper .pictures-block .flex-item-3:nth-child(2), .wrapper .pictures-block .flex-item-3:nth-child(3), .wrapper .pictures-block .flex-item-3:nth-child(4) {
      border-right: 0; }
    .wrapper .pictures-block .flex-item-3:not(:last-child) {
      border-bottom: 2px solid #EFEFEF; } }
@media (max-height: 470px) {
  body .md-modal {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    transform: none;
    -webkit-transform: none; }
    body .md-modal .md-content {
      height: 100%;
      overflow: auto; }

  .wrapper .main-page .main-text h1 {
    padding-top: 130px; }

  .navbar-fix .nav-bar .navigation {
    line-height: normal; }
  .navbar-fix .nav-bar .open + .navigation {
    justify-content: space-around; } }
@media (max-width: 400px) {
  body .md-modal {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    transform: none;
    -webkit-transform: none;
    overflow: hidden; }
    body .md-modal .md-content {
      height: 100%; }

  footer .media {
    flex-wrap: wrap; }
    footer .media a {
      margin: 0 30px; } }
@media (max-width: 320px) {
  footer .media {
    flex-wrap: wrap; }
    footer .media a {
      margin: 0 25px; } }
.aws-block {
  margin-top: 84px; }
  .aws-block .gray-block .logo-block {
    float: left; }
    .aws-block .gray-block .logo-block a img {
      height: 138px; }
  .aws-block .gray-block .text-block {
    float: right; }
  .aws-block .aws-info {
    margin-top: 90px; }
    .aws-block .aws-info p {
      margin-bottom: 20px; }
      .aws-block .aws-info p:last-child {
        margin: 70px 0; }
      .aws-block .aws-info p:first-child {
        margin-bottom: 0; }
    .aws-block .aws-info .image-aws {
      width: 50%;
      margin: 90px auto; }
      .aws-block .aws-info .image-aws .aws-logo {
        max-height: 228px;
        width: 100%; }
    .aws-block .aws-info .block-text_img .aws-img {
      height: 72px;
      margin-right: 20px; }
    .aws-block .aws-info ul {
      list-style-position: inside;
      margin-left: 20px;
      color: #28b655; }
      .aws-block .aws-info ul span {
        color: #000000; }
    .aws-block .aws-info .image-block {
      margin-top: 40px; }
      .aws-block .aws-info .image-block .ahtech-img {
        max-height: 722px;
        width: 100%; }

/*# sourceMappingURL=index.css.map */
