@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: middle;
  border: 0; }

body {
  font-size: 16px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-text-size-adjust: none;
  font-family: 'Open Sans', sans-serif; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

a {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  text-decoration: none;
  color: #000000; }
  a:hover {
    color: #28b655; }

@font-face {
  font-family: 'Avenir';
  src: url("../fonts/Avenir.eot");
  src: local("☺"), url("../fonts/Avenir.woff") format("woff"), url("../fonts/Avenir.ttf") format("truetype"), url("../fonts/Avenir.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4, h6, h6 {
  font-family: 'Avenir', sans-serif; }

.clear {
  clear: both; }

.flex-row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap; }

.flex-item-1 {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%; }

.flex-item-2 {
  flex: 0 0 16.33333333%;
  max-width: 8.66666667%; }

.flex-item-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.flex-item-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%; }

.flex-item-5 {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%; }

.flex-item-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.flex-item-7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%; }

.flex-item-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%; }

.flex-item-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.flex-item-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%; }

.flex-item-11 {
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%; }

.flex-item-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.center {
  text-align: center; }

.top_button {
  padding: 90px 0; }

.header-text {
  font-size: 40px;
  text-transform: uppercase;
  line-height: 180px; }
  .header-text.transform-text {
    text-transform: inherit; }

.pull-center {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.btn {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Avenir', sans-serif;
  padding: 15px 40px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  color: #000000;
  display: inline-block; }

.btn-green {
  background-color: #7ED257;
  box-shadow: 0 4px 10px #7ed257;
  -webkit-box-shadow: 0 4px 10px #7ed257;
  -moz-box-shadow: 0 4px 10px #7ed257; }
  .btn-green:hover {
    box-shadow: 0 8px 20px #28b655;
    -webkit-box-shadow: 0 8px 20px #28b655;
    -moz-box-shadow: 0 8px 20px #28b655;
    color: #000000;
    background-color: #28b655; }

.btn-white {
  background-color: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16); }
  .btn-white:hover {
    box-shadow: 0 8px 20px black;
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
    color: #000000; }

.wrapper {
  height: 100vh; }
  .wrapper .main-page {
    background-image: url(../images/hp-background-min.jpg);
    background-position: center;
    background-size: cover;
    height: 700px; }
    .wrapper .main-page .logo {
      float: left;
      line-height: 84px; }
      .wrapper .main-page .logo a {
        display: block; }
        .wrapper .main-page .logo a .img-logo {
          height: 40px; }
    .wrapper .main-page .nav-bar {
      float: right;
      line-height: 84px; }
      .wrapper .main-page .nav-bar ul {
        list-style-type: none; }
        .wrapper .main-page .nav-bar ul li {
          display: inline;
          font-family: 'Avenir', sans-serif;
          font-weight: bold;
          font-size: 18px; }
          .wrapper .main-page .nav-bar ul li:not(:last-child) {
            padding-right: 24px; }
    .wrapper .main-page .main-text {
      text-align: center;
      width: 65%;
      margin: 0 auto; }
      .wrapper .main-page .main-text h1 {
        font-size: 45px;
        color: #28b655;
        line-height: 61px;
        padding-top: 100px; }
      .wrapper .main-page .main-text .btn-green {
        margin-top: 25%; }
  .wrapper .pictures-block {
    margin-bottom: 90px; }
    .wrapper .pictures-block .flex-item-3 {
      text-align: center;
      padding: 0 20px; }
      .wrapper .pictures-block .flex-item-3:not(:last-child) {
        border-right: 2px solid #ddd; }
      .wrapper .pictures-block .flex-item-3 img {
        height: 128px; }
      .wrapper .pictures-block .flex-item-3 h3 {
        padding: 40px 0; }
  .wrapper .green-block {
    background-color: #7ED257; }
    .wrapper .green-block .container .flex-row {
      margin: 0 -20px; }
    .wrapper .green-block .info-block {
      background: #ffffff;
      margin: 0 20px;
      padding: 0 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px; }
      .wrapper .green-block .info-block img {
        width: 100%; }
      .wrapper .green-block .info-block .info {
        min-height: 275px; }
        .wrapper .green-block .info-block .info h4 {
          font-size: 21px;
          margin: 24px 0; }
        .wrapper .green-block .info-block .info p {
          padding-bottom: 20px; }
    .wrapper .green-block.small-block .top_button {
      padding-top: 0; }

@media (min-width: 800px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 950px; } }
@media (min-width: 1270px) {
  .container {
    width: 1232px; } }

/*# sourceMappingURL=index.css.map */
