#media_width {}

.container-fluid {
    padding: 0px;
}

.footer_address > li > a {
    font-family: OpenSans;
    font-size: 14px;
    color: #121212;
}

@media (min-width:1px) and (max-width:991px) {
    .footer_social {
        font-size: 10px;
    }
    .navbar ul {
        text-align: center;
        height: 70%;
    }
    .nav_coll {
        min-height: 40px;
        height: 50px;
        margin-left: 7%;
        float: left;
        height: 50px;
        padding: 6px 0px;
        font-size: 18px;
        padding-left: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        line-height: 20px;
        margin-top: -52px;
    }
    #media_width {}
    .navbar-brand {
        margin-top: 2%;
        margin-left: 2%;
    }
    .navbar {
        width: 100%;
    }
    .navbar-default .navbar-nav > li > a {
        float: none;
        font-size: 23px;
        margin-bottom: 6%;
        font-family: Avenir;
        font-weight: 900;
        color: black;
    }
    .navbar-nav > li {
        float: none;
    }
    .cbp-spmenu {
        position: fixed;
    }
    .cbp-spmenu h3 {
        color: #afdefa;
        font-size: 1.9em;
        padding: 20px;
        margin: 0;
        font-weight: 300;
        background: #0d77b6;
    }
    .cbp-spmenu a {
        display: block;
        color: #fff;
        font-size: 1.1em;
        font-weight: 300;
    }
    .cbp-spmenu a:hover {
        background: #258ecd;
    }
    .cbp-spmenu a:active {
        background: #afdefa;
        color: #47a3da;
    }
    /* Orientation-dependent styles for the content of the menu */
    .cbp-spmenu-vertical {
        width: 100%;
        height: 100%;
        top: 0;
        z-index: 1000;
        transition: 3s ease-in-out 2s;
    }
    .cbp-spmenu-vertical a {
        padding: 1em;
    }
    .cbp-spmenu-horizontal {
        width: 100%;
        height: 150px;
        left: 0;
        z-index: 1000;
    }
    .cbp-spmenu-horizontal h3 {
        height: 100%;
        width: 20%;
        float: left;
    }
    .cbp-spmenu-horizontal a {
        float: left;
        width: 20%;
        padding: 0.8em;
        border-left: 1px solid #258ecd;
    }
    /* Vertical menu that slides from the left or right */
    .cbp-spmenu-right {
        right: -100%;
        transition: 2s;
    }
    .cbp-spmenu-left.cbp-spmenu-open {
        left: 0px;
    }
    .cbp-spmenu-right.cbp-spmenu-open {
        right: 0px;
    }
    /* Horizontal menu that slides from the top or bottom */
    .cbp-spmenu-top {
        top: -150px;
    }
    .cbp-spmenu-bottom {
        bottom: -150px;
    }
    .cbp-spmenu-top.cbp-spmenu-open {
        top: 0px;
    }
    .cbp-spmenu-bottom.cbp-spmenu-open {
        bottom: 0px;
    }
    /* Transitions */
    .cbp-spmenu,
    .cbp-spmenu-push {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }
    /* Example media queries */
    @media screen and (max-width: 55.1875em) {
        .cbp-spmenu-horizontal {
            font-size: 75%;
            height: 110px;
        }
        .cbp-spmenu-top {
            top: -110px;
        }
        .cbp-spmenu-bottom {
            bottom: -110px;
        }
    }
    @media screen and (max-height: 26.375em) {
        .cbp-spmenu-vertical {
            font-size: 90%;
            width: 190px;
        }
        .cbp-spmenu-left,
        .cbp-spmenu-push-toleft {
            left: -190px;
        }
        .cbp-spmenu-right {
            right: -190px;
        }
        .cbp-spmenu-push-toright {
            left: 190px;
        }
    }
}

#header {
    width: 100%;
    line-height: 35px;
    display: inline;
    background: #7ED257;
    margin: 0 auto;
}

.fixed#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    line-height: 60px;
    transition: all 3s ease-in-out 0s;
    -webkit-transition: all 3s ease-in-out 0s;
    z-index: 100;
    line-height: 60px;
    transition: all 0.7s ease-out;
    -webkit-transition: all 0.7s ease-out;
    z-index: 100;
}

#header img {
    float: left;
}

html,
body {
    height: 100%;
}

.he_gl {
    height: 100%;
}

a:hover {
    text-decoration: none;
}

.navbar {
    min-height: 70px;
}

.part_bl:hover .part_bl_2 h4 {
    color: #28B655;
}

@font-face {
    font-family: 'mitoc-group';
    src: url('fonts/mitoc-group.eot?ko5y6l');
    src: url('fonts/mitoc-group.eot?ko5y6l#iefix') format('embedded-opentype'), url('../fonts/mitoc-group.ttf?ko5y6l') format('truetype'), url('../fonts/mitoc-group.woff?ko5y6l') format('woff'), url('../fonts/mitoc-group.svg?ko5y6l#mitoc-group') format('svg');
    font-weight: normal;
    font-style: normal;
}

i {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'mitoc-group' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    /* Better Font Rendering =========== */
}

.icon-youtube:before {
    content: "\e900";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 175ms;
}

.footer_social li:hover .icon-youtube:before,
.footer_social li:focus .icon-youtube:before {
    color: #28B655;
}

.icon-github:before {
    content: "\e903";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 175ms;
}

.footer_social li:hover .icon-github:before,
.footer_social li:focus .icon-github:before {
    color: #28B655;
}

.icon-google:before {
    content: "\e904";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 175ms;
}

.footer_social li:hover .icon-google:before,
.footer_social li:focus .icon-google:before {
    color: #28B655;
}

.icon-linkedin:before {
    content: "\e905";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 175ms;
}

.footer_social li:hover .icon-linkedin:before,
.footer_social li:focus .icon-linkedin:before {
    color: #28B655;
}

.icon-twitter:before {
    content: "\e906";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 175ms;
}

.footer_social li:hover .icon-twitter:before,
.footer_social li:focus .icon-twitter:before {
    color: #28B655;
}

.icon-facebook:before {
    content: "\e907";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 175ms;
}

.footer_social li:hover .icon-facebook:before,
.footer_social li:focus .icon-facebook:before {
    color: #28B655;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}

.icon-burger:before {
    content: "\e908";
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0)!important;
}

.icon-arrow:before {
    content: "\e909";
    font-size: 36px;
    background-color: rgba(0, 0, 0, 0)!important;
}

@-webkit-keyframes glowing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1
    }
    51% {
        opacity: 0
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes glowing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1
    }
    51% {
        opacity: 0
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes glowing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1
    }
    51% {
        opacity: 0
    }
    100% {
        opacity: 0;
    }
}

@keyframes glowing {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1
    }
    51% {
        opacity: 0
    }
    100% {
        opacity: 0;
    }
}

.nav_anim {
    -webkit-animation: glowing 1000ms infinite;
    -moz-animation: glowing 1000ms infinite;
    -o-animation: glowing 1000ms infinite;
    animation: glowing 1000ms infinite;
    display: inline;
}


/* H_E_A_D_E_R ****************************************/

.head_glob {
    background-image: url(../images/hp-background-min.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.navbar-default,
navbar {
    border: 0px;
}

@media min-device-width:1024px) {
    .nav_call {
        font-size: 45px;
    }
}


/************************************************************************************************/

@media screen and (min-width: 992px) {
    /*****************  > 1024                          *****/
    .blog_title_2 {
        font-size: 16px;
    }
}

.blog_block {
    height: 134%;
}

.blog_inner {
    margin-left: 5%;
    margin-top: 5%;
}

.blog_bl2 {
    margin-top: 1.7%;
    height: 84%;
    padding-left: 0px;
    padding-right: 0px;
    max-height: 336px;
}

.blog_btn {
    margin-top: 6%;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    color: #121212;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(126, 210, 87, 1);
    background-color: #7ED257;
}

.blog_bl1 {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.blog_read_more,
.blog_read_more1 {
    font-family: Avenir;
    font-size: 12px;
    font-weight: 900;
    text-align: left;
    color: #121212;
    text-transform: uppercase;
}

.blog_1 {
    height: 35.5%;
}

.blog_2 {
    height: 29%;
}

.blog_title_1 {
    font-size: 30px;
}

.blog_bl2 {
    margin-left: 15.3333%;
}

.zxcv {
    margin-left: 15.3333%;
}

.blog_1 .blog_bl1:hover,
.blog_1 .blog_bl1:focus {
    margin-top: -1.2%;
    height: 105%;
    max-height: 470px;
    margin-left: 14.3333%;
    width: 71.3333%;
}

.blog_2_row_1 {
    margin-right: 1.3%;
}

.blog_2_row_2 {
    margin-left: 1.3%;
}

.blog_bl2 .blog_2_row_1:hover,
.blog_bl2 .blog_2_row_1:focus {
    width: 49%;
}

.blog_2_row_1:hover,
.blog_2_row_1:focus {
    height: 110%;
    margin-left: -1%;
    transition: 150ms;
}

.blog_bl2 .blog_2_row_2:hover,
.blog_bl2 .blog_2_row_2:focus {
    width: 49%;
}

.blog_2_row_2:hover,
.blog_2_row_2:focus {
    height: 107%;
    width: 50%;
    transition: 150ms;
}

.blog_2 .col-lg-5 {
    width: 48%;
}

.blog_2 .col-lg-11 {
    width: 70.3333%;
}

.blog_1 .col-lg-11 {
    width: 69.3333%;
}

.head_glob {
    height: 70%;
}

.footer_social {
    margin-left: 5%;
}

.call_btn {
    padding: 13px 47px;
}

.part_btn {
    padding: 13px 41px;
}

.navbar ul {
    margin-top: 1%;
}

.nav_btn {
    padding: 13px 47px;
}

.nav_coll {
    min-height: 40px;
    height: 50px;
    margin-left: 7%;
    float: left;
    height: 50px;
    padding: 6px 0px;
    font-size: 18px;
    padding-left: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 20px;
    margin-top: 1%;
}

.navbar-brand {
    display: none;
}

.fixed#header {
    min-height: 9%;
}

.navbar-default .navbar-nav > li > a {
    font-family: Avenir;
    font-size: 18px;
    font-weight: 900;
    color: #121212;
}

.container {
    max-width: 69%;
    width: 69%;
}

.serv_bord {
    height: 100%;
    border-right: solid grey 1px;
}

.serv_bl_1 {
    margin: 0 auto;
    min-height: 81px;
}

.can_do {
    font-size: 30px;
    margin-top: 7%;
    margin-bottom: 7%;
}

.part_bl {
    width: 20%;
}

.col-md-offset-1,
.col-lg-offset-1 {
    margin-left: 18%;
}

.part_bl_3 {
    min-height: 240px;
    ;
}

.part_bl_2 > h4 {
    margin-left: 10px;
}

.footer_bl {
    margin-left: 18%;
}

ul.footer_social li img {
    width: 8%;
    max-width: 77px;
}

.footer_bg {
    background-image: url(../images/map-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 67%;
    background-position: center bottom;
    background-color: rgba(255, 255, 255, 0.5);
}

.footer_amazon {
    width: 55%;
}

.footer_git p {
    margin: 0 0 3px;
    text-shadow: 1px 1px white, 1px 1px white, 1px 1px white, 1px 1px white;
}

.footer_logo {
    width: 93%;
}

.footer_copyright {
    margin-top: 20px;
}

ul.footer_social li {
    margin-right: 9%;
}

.carousel-indicators {
    position: relative;
    bottom: auto;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.car_img_1 {
    margin-left: 12%;
}

.car_p {
    font-size: 16px;
    margin-top: 8%;
}

.nav_call {
    margin-top: 8%;
    font-size: 41px;
}

.nav_btn {
    margin-top: 30%;
}

@media screen and (min-width: 1301px) {
    /*****************  > 1301                       *****/
    .nav_call {
        margin-top: 12%;
    }
    .nav_btn {
        margin-top: 14%;
    }
}

@media (min-width:1px) {
    .b-popup {
        width: 100%;
        min-height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        overflow: hidden;
        position: fixed;
        top: 0px;
        height: 100%;
    }
    .popup_bl1 {
        height: 22%;
        text-align: center;
        text-transform: uppercase;
        background-color: #7ED257;
        font-family: Avenir;
        font-size: 24px;
        font-weight: 900;
        color: #121212;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .popup_bl1 p {
        padding-top: 9%;
    }
    .popup_btn {
        margin-left: 12%;
    }
}

@media (min-width:1100px) {
    .serv_bl_1 {
        min-height: 90px;
    }
    .serv_bl_1 img:hover,
    .serv_bl_1 img:focus {
        width: 53%;
        transition-timing-function: ease-in-out;
        -webkit-transition-timing-function: ease-in-out;
    }
    .b-popup .b-popup-content {
        margin-top: 13%;
        margin-left: 33%;
        width: 25%;
        height: 57%;
        background-color: #fff;
        border-radius: 5px;
        z-index: 9999;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    }
    .popup_btn {
        margin-left: 14%;
    }
    input[type="submit"] {
        margin-left: 31%;
    }
}

@media (min-width:1200px) {
    .serv_bl_1 {
        min-height: 99px;
    }
    .b-popup .b-popup-content {
        margin-top: 13%;
        margin-left: 37%;
        width: 30%;
        height: 55%;
        background-color: #fff;
        border-radius: 5px;
        z-index: 9999;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    }
    .popup_btn {
        margin-left: 14%;
    }
    input[type="submit"] {
        margin-left: 33%;
    }
}

@media (min-width:1280px) {
    #se7en {
        margin-top: 38% !important;
    }
    .serv_bl_1 {
        min-height: 108px;
    }
    .nav_call {
        margin-top: 8%;
    }
    .nav_btn {
        margin-top: 20%;
    }
    .navbar-brand {
        margin-left: 12%;
        margin-top: 1%;
    }
    .navbar-right {
        margin-right: 5%;
    }
    .navbar-default .navbar-nav > li > a {
        font-family: Avenir;
        font-size: 18px;
        font-weight: 900;
        color: #121212;
    }
    .blog_read_more {
        margin-top: 33%;
    }
    .blog_read_more1 {
        margin-top: 51%;
    }
}

@media (min-width:1366px) {
    #se7en {
        margin-top: 19% !important;
    }
    .nav_btn {
        margin-top: 26%;
    }
    .blog_read_more {
        margin-top: 12%;
    }
    .blog_read_more1 {
        margin-top: 20%;
    }
}

@media (min-width:1400px) {
    .serv_bl_1 {
        min-height: 118px;
    }
}

@media (min-width:1500px) {
    .serv_bl_1 {
        min-height: 127px;
    }
    .b-popup .b-popup-content {
        margin-top: 13%;
        margin-left: 37%;
        width: 25%;
        height: 55%;
        background-color: #fff;
        border-radius: 5px;
        z-index: 9999;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    }
    input[type="submit"] {
        margin-left: 33%;
    }
    .popup_btn {
        margin-left: 14%;
    }
}

@media (min-width:1600px) {
    .blog_read_more {
        margin-top: 17%;
    }
    .blog_read_more1 {
        margin-top: 30%;
    }
    .serv_bl_1 {
        min-height: 136px;
    }
    .nav_call {
        margin-top: 6%;
        font-size: 50px;
    }
    .nav_btn {
        margin-top: 30%;
    }
    .navbar-brand {
        margin-left: 17%;
        margin-top: 1%;
    }
    .navbar-right {
        margin-right: 11%;
    }
    #se7en {
        margin-top: 28% !important;
    }
}

@media (min-width:1700px) {
    .serv_bl_1 {
        min-height: 145px;
    }
    input[type="submit"] {
        margin-left: 36%;
    }
    .popup_btn {
        margin-left: 13%;
    }
}

@media (min-width:1800px) {
    .navbar-default .navbar-nav > li > a {
        font-family: Avenir;
        font-size: 18px;
        font-weight: 900;
        color: #121212;
    }
    .navbar-brand {
        margin-left: 17%;
        margin-top: 1%;
    }
    .nav_call {
        margin-top: 8%;
    }
    .nav_btn {
        margin-top: 27%;
    }
    .popup_btn {
        margin-left: 20%;
    }
    input[type=submit] {
        margin-left: 20%;
    }
    .serv_bl_1 {
        min-height: 150px;
    }
}

@media (min-width:1900px) {
    .blog_read_more {
        margin-top: 30%;
    }
    .blog_read_more1 {
        margin-top: 44%;
    }
    .serv_bl_1 {
        min-height: 158px;
    }
    .b-popup .b-popup-content {
        margin-top: 13%;
        margin-left: 40%;
        width: 21%;
        height: 55%;
        background-color: #fff;
        border-radius: 5px;
        z-index: 9999;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    }
    input[type="submit"] {
        margin-left: 36%;
    }
    .popup_btn {
        margin-left: 14%;
    }
}

@media (min-width:2000px) {
    .serv_bl_1 {
        min-height: 168px;
    }
}


/**********************************************************************************/

@media screen and (max-width:991px) {
    blog_block {
        height: 100%;
    }
    .blog_bl2 {
        margin-top: 4%;
        height: 100%;
        padding-left: 0px;
        padding-right: 0px;
        max-height: 336px;
    }
    .blog_inner {
        margin-left: 4%;
        margin-top: 0%;
    }
    .blog_bl1 {
        height: 100%;
        padding-left: 0px;
        padding-right: 0px;
    }
    .blog_1 {
        height: 21%;
        margin-left: 4%;
        margin-right: 4%;
    }
    .blog_2_row_2 {
        margin-top: 4%;
    }
    .blog_2 {
        height: 21%;
        margin-left: 4%;
        margin-right: 4%;
    }
    .blog_btn_gl {
        margin-top: 18%;
    }
    .blog_title_1 {
        font-size: 15px;
    }
    .blog_read_more,
    .blog_read_more1 {
        display: none;
    }
    .head_glob {
        height: 100%;
    }
    .blog_btn {
        font-family: Avenir;
        font-size: 17px;
        font-weight: 900;
        color: #121212;
        border-radius: 30px;
        box-shadow: 0 4px 10px rgba(126, 210, 87, 1);
        background-color: #7ED257;
        padding: 10px 7px;
    }
    .call_btn {
        padding: 10px 26px;
    }
    .serv_bord {
        border-right: inherit;
        border-bottom: solid grey 1px;
    }
    .part_btn {
        padding: 10px 26px;
    }
    call_btn {
        padding: 10px 26px;
    }
    .navbar-toggle {
        position: relative;
        float: right;
        padding: 0;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: transparent;
        background-image: none;
        border: 0px solid transparent;
        border-radius: 4px;
    }
    navbar-default .navbar-toggle:focus,
    .navbar-default .navbar-toggle:hover {
        background-color: rgba(0, 0, 0, 0)!important;
    }
    .navbar-default .navbar-toggle .icon-bar-1 {
        display: block;
        width: 21px;
        height: 2px;
        border-radius: 1px;
    }
    .icon-bar-2 {
        display: block;
        width: 14px;
        height: 2px;
        border-radius: 1px;
    }
    .icon-bar-3 {
        display: block;
        width: 7px;
        height: 2px;
        border-radius: 1px;
    }
    .serv_bl_1 {
        margin-top: 15%;
        margin-right: auto;
        margin-bottom: 0px;
        margin-left: auto;
    }
    .can_do {
        font-size: 28px;
        margin-top: 7%;
        margin-bottom: 7%;
    }
    .serv_bl_3 {
        margin-bottom: 15%;
    }
    .part_bl {
        margin-bottom: 11%;
    }
    .part_bl:focus,
    .part_bl:hover {
        margin-bottom: 10%;
    }
    .part_bl_3 {
        margin-bottom: 5%;
    }
    ul.footer_social li img {
        width: 27%;
        max-width: 107px;
    }
    .footer_social {
        padding-left: 0px;
    }
    .footer_bl {
        text-align: center;
    }
    .footer_nav {
        display: none;
    }
    .footer_amazon {
        width: 80%;
        margin-bottom: 10%;
    }
    .footer_git p {
        margin: 0 0 5px;
    }
    .footer_adr {
        margin-bottom: 15%;
    }
    .footer_logo {
        width: 50%;
    }
    .footer_copyright {
        margin-top: 3%;
    }
    .git_mob {
        margin-top: 12%;
    }
    ul.footer_social li {
        margin: 9%;
    }
    .carousel-indicators {
        margin-left: 0%;
        left: 0;
        z-index: 15;
        width: 100%;
        padding-left: 0;
        list-style: none;
        text-align: center;
    }
    .car_h3 {
        display: none;
    }
    .navbar-brand {
        margin-left: 7%;
    }
    div br {
        display: none;
    }
    .car_p {
        margin: 3%;
        font-size: 18px;
    }
}


/* asdf */

@media (min-width:1px) and (max-width:330px) {
    .blog_btn {
        margin-top: 30%;
    }
    .blog_title_1 {
        font-size: 14px;
    }
    .blog_date_2 {
        font-size: 14px;
    }
    .nav_call {
        margin-top: 26%;
    }
    .navbar ul {
        margin-top: 13%;
    }
    .nav_btn {
        margin-top: 30%;
        padding: 10px 26px;
    }
    input[type=submit] {
        margin-left: 29%;
    }
}

@media (min-width:331px) and (max-width:400px) {
    .blog_title_1 {
        margin-top: 6%;
    }
    .blog_title_2 {
        margin-top: 6%;
    }
    .blog_date_2,
    .blog_date_1 {
        margin-top: 3%;
    }
    .blog_btn {
        margin-top: 45%;
    }
    .navbar ul {
        margin-top: 30%;
    }
    input[type=submit] {
        margin-left: 35%;
    }
    .nav_btn {
        margin-top: 50%;
        padding: 10px 26px;
    }
    .nav_call {
        margin-top: 35%;
    }
}

@media (max-width: 991px) {
    .blog_title_1 {
        margin-top: 6%;
    }
    .blog_title_2 {
        margin-top: 6%;
    }
    .blog_date_2,
    .blog_date_1 {
        margin-top: 3%;
    }
    .b-popup .b-popup-content {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 5px;
        z-index: 9999;
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    }
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .collapse.in {
        display: block !important;
    }
}

@media (min-width:401px) and (max-width:550px) {
    .blog_btn {
        margin-top: 34%;
    }
    input[type=submit] {
        margin-left: 48%;
    }
    .navbar ul {
        margin-top: 30%;
    }
    .nav_btn {
        margin-top: 46%;
        padding: 10px 26px;
    }
}

@media (min-width:1px) and (max-width:550px) {
    .nav_call {
        font-size: 30px;
    }
}

@media (min-width:551px) and (max-width:767px) {
    blog_title_1 {
        margin-top: 11%;
    }
    .blog_btn {
        margin-top: 34%;
    }
    .nav_call {
        font-size: 40px;
    }
    .nav_btn {
        margin-top: 46%;
    }
    .navbar ul {
        margin-top: 32%;
    }
    input[type=submit] {
        margin-left: 58%;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .blog_btn {
        margin-top: 29%;
    }
    blog_title_1 margin-top: 8%;
    font-size:34px;
}

input[type=submit] {
    margin-left: 62%;
}

.nav_call {
    font-size: 40px;
}

.nav_btn {
    margin-top: 32%;
}

@media (min-width:991px) and (max-width:1205px) {
    .col-md-offset-1,
    .col-lg-offset-1 {
        margin-left: 0% !important;
    }
}

@media (min-width:1205px) and (max-width:1600px) {
    .part_bl {
        width: 25%;
    }
    .col-md-offset-1,
    .col-lg-offset-1 {
        margin-left: 10% !important;
    }
}

@media (min-width:1116px) and (max-width:1204px) {
    .part_bl {
        width: 27%;
    }
    .col-md-offset-1,
    .col-lg-offset-1 {
        margin-left: 7% !important;
    }
}

@media (min-width:992px) and (max-width:1115px) {
    .part_bl {
        width: 29%;
    }
    .col-md-offset-1,
    .col-lg-offset-1 {
        margin-left: 4% !important;
    }
}


/* **********************************************************************************************/

.part_bl:focus,
.part_bl:hover {
    margin-top: -2%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    transition: 300ms;
}

.navbar-brand {
    min-height: 40px;
}

img.center {
    display: block;
    margin: 0 auto;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: #28b655;
    transition: 200ms;
}

.nav_btn_bl {
    margin-top: 6%;
}

.nav_call {
    text-align: center;
    font-family: Avenir;
    font-weight: 900;
    color: #28b655;
}

.nav_btn {
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    color: #121212;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(126, 210, 87, 1);
    background-color: #7ED257;
}

.nav_btn:hover,
.nav_btn:focus {
    box-shadow: 0 8px 20px rgba(40, 182, 85, 1);
    border: 0px;
}


/* SERVICES ***********************************************/

.can_do {
    text-align: center;
    font-family: Avenir;
    font-weight: 900;
    color: #242424;
}

.serv_all {
    margin-bottom: 7%;
}

.serv_bl_1 {
    width: 100%;
    display: block;
}

.serv_glob {
    height: 100%;
    display: inline-table;
    margin-bottom: 7%;
}

.serv_bl_1 img {
    width: 50%;
    transition: width 150ms;
}

.serv_bl_2,
.serv_bl_2 > h4 {
    font-family: Avenir;
    font-size: 18px;
    font-weight: 900;
    margin-top: 38px;
    margin-bottom: 32px;
    color: #121212;
    text-align: center;
}

.serv_bl_3 {
    font-family: OpenSans;
    font-size: 16px;
    color: #121212;
    text-align: center;
}


/* PARTNERS ***********************************************************************************/

.part_our {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Avenir;
    font-size: 30px;
    font-weight: 900;
    color: #242424;
}

.part_bg {
    background-color: #7ED257;
}

.part_bl {
    background-color: #fff;
    transition: 150ms;
    border-radius: 5px;
}

.part_margin {
    margin-right: 2%;
}

.part_bl_2 > h4 {
    font-family: Avenir;
    font-size: 21px;
    font-weight: 900;
    color: #121212;
}

.part_bl_1 img {
    width: 100%;
    margin-top: 2%;
}

.part_bl_2 {
    margin-bottom: 8%;
    margin-top: 7%;
}

.part_bl_3 {
    font-family: OpenSans;
    font-size: 16px;
    color: #121212;
}

.part_btn {
    margin-top: 15.5%;
    margin-bottom: 15.5%;
    border-radius: 21px;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    color: #121212;
    border: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
}

.part_btn:hover,
.part_btn:focus {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
}


/* C_A_R_O_U_S_E_L ******************************/


/* .carousel_indicator_left{
        margin-right: 20px;*/

.carousel-indicators {
    position: relative;
    margin-top: 4.4%;
    margin-bottom: 4.4%;
    z-index: 15;
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.carousel-indicators .active {
    margin-left: 25px;
    margin-right: 25px;
    width: auto;
    height: auto;
    background-color: none;
    border-bottom: 2px solid #7ED257;
    background-color: rgba(0, 0, 0, 0);
}

.car_bl {
    margin-bottom: 4.4%;
}

.carousel-indicators li {
    display: inline-block;
    width: auto;
    height: auto;
    margin-left: 25px;
    margin-right: 25px;
    text-indent: inherit;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 0px;
    font-family: Avenir;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    transition: 150ms;
    color: #121212;
}

.carousel-indicators li:hover {
    border-bottom: 2px solid #7ED257;
}

.carousel_right {
    text-align: right;
}

.carousel {
    background-color: #fbfbfb;
}

.car_h3 {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #121212;
    font-family: Avenir;
    margin-top: 6%;
}

.car_p {
    font-family: OpenSans;
    color: #121212;
}


/* CALL_TO_ACTION ******************************/

.call_h {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 4%;
    font-family: Avenir;
    font-size: 30px;
    font-weight: 900;
    color: #121212;
}

.call_btn {
    margin-top: 15.5%;
    margin-bottom: 15.5%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
    border: 0px;
    border-radius: 21px;
    font-family: Avenir;
    font-size: 20px;
    font-weight: 900;
    color: #121212;
}

.blog_cont {
    height: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.zxcv {
    transition: 150ms;
    max-height: 448px;
    border: 2px solid grey;
    border-radius: 6px;
}

.blog_2_row_1 {
    transition: 150ms;
    border: 2px solid grey;
    border-radius: 6px;
}

.blog_2_row_2 {
    transition: 150ms;
    border: 2px solid grey;
    border-radius: 6px;
}

.blog_date_1 {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    color: #28b655;
}

.blog_title_1 {
    font-family: Avenir;
    font-weight: 900;
    text-align: left;
    color: #121212;
    max-width: 90%;
}

.blog_read_more .icon-arrow:before,
blog_read_more1 .icon-arrow:before,
{
    font-size: 16px;
    color: #28b655;
    font-weight: 900;
    margin-top: 50px;
}

.blog_date_2 {
    font-family: Avenir;
    font-size: 16px;
    font-weight: 900;
    text-align: left;
    color: #28b655;
}

.blog_title_2 {
    font-family: Avenir;
    font-weight: 900;
    text-align: left;
    color: #121212;
}

.blog_read_more,
.blog_read_more1 {
    font-family: Avenir;
    font-size: 11px;
    font-weight: 900;
    text-align: left;
    color: #121212;
    text-transform: uppercase;
}

.blog_read_more .icon-arrow:before,
.blog_read_more1 .icon-arrow:before {
    font-size: 16px;
    color: #28b655;
    font-weight: 900;
}

.blog_img {
    max-width: 100%;
    max-height: 100%;
    background-position: center center;
    background-size: cover;
}


/* FOOTER ************************************/

.footer_social {
    text-align: center;
}

ul.footer_social li {
    display: inline;
    width: 20px;
    list-style: none;
}

.footer_bl {
    margin-top: 2.5%;
}

.footer_copyright {
    font-family: OpenSans;
    font-size: 14px;
    color: #121212;
}

.footer_git h4 {
    text-transform: uppercase;
    font-family: Avenir;
    font-size: 14px;
    font-weight: 900;
    color: #121212;
    border-bottom: 2px solid #7ED257;
    display: inline;
}

.footer_git li > a:hover,
.footer_git li > a:focus {
    text-decoration: none;
    color: #28b655;
    transition: 150ms;
}

.footer_git ul {
    text-decoration: none;
    padding-left: 0px;
    margin-left: 0px;
    list-style: none;
    margin-top: 15px;
}

.footer_git li {
    margin-bottom: 2px;
}

.footer_adr {
    margin-top: 15px;
    font-family: OpenSans;
    font-size: 14px;
    color: #121212;
}

.footer_git li > a {
    font-family: HelveticaNeue;
    font-size: 14px;
    text-decoration: none;
    color: #121212;
}

.footer_nav {
    margin-left: 6%;
}

input[type=text],
select {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #121212;
    text-align: center;
    padding-top: 18%;
    height: 20%;
    color: #121212;
    font-size: 20px;
    font-family: Avenir;
    font-weight: 900;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

input[type=submit] {
    background-color: rgba(0, 0, 0, 0);
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #28b655;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #121212;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #121212;
    opacity: 1;
    transition: 1s;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #121212;
    opacity: 1;
    transition: 1s;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #121212;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #121212;
}

.popup_btn {
    margin-top: 27%;
    font-family: Avenir;
    font-weight: 900;
    font-size: 25px;
}

.popup_close {
    color: #121212;
}

.popup_btn:hover > a:hover,
popup_btn:focus > a:focus {
    color: #28b655;
    text-decoration: none;
    transition: 100ms;
}
