.filter-btn {
  padding: 13px 10px;
  background-color: transparent;
  border: 2px solid $black-color;
  font-family: "Avenir-Black", sans-serif;
  font-size: 18px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  i {
    margin-right: 10px;
    vertical-align: middle;
    font-size: 24px;
  }
  &:not(:last-child) {
    margin-right: 10px;
  }
  &:hover, &.active {
    color: $accent-green;
    border-color: $accent-green;
  }
}

/*AdTechMedia Page*/

.laptop {
  background: url('../images/laptop.svg') right center no-repeat;
  background-position: center;
  position: relative;
  height: 390px;
  #laptop-anim {
    position: absolute;
    width: 100%;
    height: 84%;
    right: 0;
    top: 20px;
  }
}

.adtechmedia-info {
  margin: 0 -15px;
  .flex-item-6 {
    padding: 0 20px;
  }
  p, ul li {
    padding-bottom: 20px;
  }
  ul {
    list-style-position: inside;
    list-style: none;
    li {
      img {
        height: 15px;
        padding-right: 10px;
      }
    }
  }
}