.wrapper {
  .main-page {
    background-image: url(../images/hp-background-min.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    .main-text {
      text-align: center;
      max-width: 70%;
      margin: 0 auto;
      width: 700px;
      h1 {
        font-size: 45px;
        color: $accent-green;
        line-height: 61px;
        padding-top: 200px;
      }
    }
    .top_button {
      text-align: center;
      margin-top: auto;
      padding-top: 0;
      padding-bottom: 100px;
    }
  }
  .pictures-block {
    margin-bottom: 90px;
    a {
      &:hover {
        color: $black-color;
      }
    }
    .read-more {
      padding-bottom: 0;
      padding-top: 10px;
      text-align: left;
      opacity: 0;
    }
    .flex-item-3 {
      text-align: center;
      padding: 40px 20px 0;
      cursor: pointer;
      &:not(:last-child) {
        border-right: 2px solid $gray-dark-color;
      }
      img {
        height: 128px;
      }
      h3 {
        padding: 40px 0;
      }
      .hover-effect {
        -webkit-transition: 0.4s ease;
        -moz-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease;
      }
      &:hover {
        .read-more {
          opacity: 1;
          color: $black-color;
          .icon-arrow {
            left: 10px;
            color: #28b655;
          }
        }
      }
      &:hover {
       .hover-effect {
         -webkit-transform: scale(1.2, 1.2);
         -moz-transform: scale(1.2, 1.2);
         -o-transform: scale(1.2, 1.2);
         transform: scale(1.2, 1.2);
       }
      }
    }
  }
}

footer {
  .media {
    padding: 90px 0;
    display: flex;
    justify-content: space-around;
    a {
      display: inline-block;
      cursor: pointer;
      i {
        display: inline-block;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
      }
    }
  }
  .map-background {
    background-image: url(/images/maps/map-footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    background-position: center bottom;
    background-color: rgba(255, 255, 255, 0.5);
    .container {
      .flex-row {
        .flex-item-3 {
          margin-top: 20px;
          h4 {
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            padding-bottom: 3px;
            margin-bottom: 24px;
            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: $main-color;
              bottom: 0;
            }
          }
          p, ul li {
            margin-bottom: 10px;
          }
          ul {
            list-style-type: none;
          }
          .logo {
            a {
              display: inline-block;
              img {
                height: 60px;
                margin-bottom: 20px;
              }
            }
          }
          .aws-logo {
            width: 100%;
          }
          &.block-info {
            padding-left: 40px;
          }
        }
      }
    }
  }
}

.block-effect {
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
  &.blog-content {
    &:hover {
      margin-top: 0;
      margin-bottom: 0;
      a {
        color: $black-color;
      }
    }
  }
  &:hover {
    margin-top: -4%;
    margin-bottom: 4%;
    -webkit-box-shadow: 0 18px 20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 18px 20px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 18px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 18px 20px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 400ms;
    -moz-transition: all 400ms;
    -o-transition: all 400ms;
    transition: all 400ms;
    a {
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      transition: none;
      color: $black-color;
    }
    .icon-arrow-more {
      opacity: 1;
      left: 10px;
      color: $accent-green;
    }
  }
}

.carousel-block {
  .carousel-mission {
    padding-top: 200px;
    padding-bottom: 90px;
    &.slick-dotted {
      &.slick-slider {
        margin-bottom: 0;
      }
    }
    a {
      p {
        text-transform: none;
        margin-bottom: 10px;
      }
      &:hover {
        color: $black-color;
      }
    }
  &.slick-slider {
    .slick-list {
      z-index: 3;
    }
  }
    .slide-text-right {
      padding-left: 40px;
      h3 {
        font-size: 30px;
        text-transform: uppercase;
      }
    }
    .slide-text-left {
      padding-right: 40px;
      text-align: right;
      h3 {
        font-size: 30px;
        text-transform: uppercase;
      }
    }

    .slick-dots {
      top: 90px;
      li {
        width: auto;
        height: auto;
        &.slick-active {
          button {
          &:before {
            border-bottom: 2px solid $main-color;
            content: '';
            opacity: 1;
          }
          }
        }
        button {
          height: auto;
          width: auto;
          &:before {
           content: '';
            opacity: 1;
            position: static;
          }
          &#slick-slide-control00 {
            &:before {
             content: 'Our Mission';
              height: 40px;
              width: 200px;
              font-size: 20px;
              text-transform: uppercase;
              font-family: Avenir-Black,sans-serif;
              font-weight: 700;
            }
          }
          &#slick-slide-control01 {
            &:before {
              content: 'Our Strategy';
              height: 40px;
              width: 200px;
              font-size: 20px;
              text-transform: uppercase;
              font-family: Avenir-Black,sans-serif;
              font-weight: 700;
            }
          }
          &#slick-slide-control02 {
            &:before {
              content: 'Our Team';
              height: 40px;
              width: 200px;
              font-size: 20px;
              text-transform: uppercase;
              font-family: Avenir-Black,sans-serif;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

/* Popup*/

.popup {
  background: $white-color;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  h3 {
    text-transform: uppercase;
    line-height: 120px;
    background-color: $main-color;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 4px 4px 0 0;
    font-size: 25px;
  }
}

.popup_back {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh !important;
  z-index: 100;
  cursor: pointer;
  background-color: #222;

}

.popup_cont {
  position: fixed;
  z-index: 102;
}

.preloader {
  z-index: 101;
  left: 50%;
  margin: -10px 0 0 -25px;
  position: fixed;
  top: 50%;
}

div {
  &.popup {
    background: #fff;
    -webkit-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
    -o-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.16);
    max-width: 500px;
    min-width: 400px;
    width: 50%;
  }
}

.popup_close {
  display: none;
}

.blog-block {
  .container {
    .section-content {
      .flex-row {
        .flex-item-12, .flex-item-6 {
          .blog-post {
            border: 1px solid $black-color;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            margin: 0 20px;
            overflow: hidden;
            .blog-content {
              .post-date {
                font-family: Avenir-Black, sans-serif;
                color: $accent-green;
                padding-bottom: 10px;
              }
            }
          }
        }
        .flex-item-12 {
          .blog-post {
            margin-bottom: 40px;
            max-height: 300px;
            -webkit-transition: 300ms ease;
            -moz-transition: 300ms ease;
            -o-transition: 300ms ease;
            transition: 300ms;
            .blog-content {
              padding: 20px;
              display: flex;
              flex-direction: column;
              h4 {
                font-size: 30px;
              }
              .button {
                margin-top: auto;
                font-size: 12px;
                font-family: "Avenir-Black", sans-serif;
                &.read-more {
                  padding-bottom: 0;
                }
              }
            }
            .img-block {
              a {
                display: inline;
                img {
                  object-fit: cover;
                  width: 100%;
                  height: 100%;
                  max-height: 300px;
                  min-height: 300px;
                }
              }
            }
            &:hover {
              -webkit-transform: scale(1.03, 1.03);
              -moz-transform: scale(1.03, 1.03);
              -o-transform: scale(1.03, 1.03);
              transform: scale(1.03, 1.03);
            }
          }
        }
        .flex-item-6 {
          &.rightPostItem {
            .blog-post {
              -webkit-transition: 300ms ease;
              -moz-transition: 300ms ease;
              -o-transition: 300ms ease;
              transition: 300ms;
              &:hover {
                -webkit-transform: scale(1.03, 1.03);
                -moz-transform: scale(1.03, 1.03);
                -o-transform: scale(1.03, 1.03);
                transform: scale(1.03, 1.03);
              }
            }
          }
          &.leftPostItem {
            .blog-post {
              -webkit-transition: 300ms ease;
              -moz-transition: 300ms ease;
              -o-transition: 300ms ease;
              transition: 300ms;
              &:hover {
                -webkit-transform: scale(1.03, 1.03);
                -moz-transform: scale(1.03, 1.03);
                -o-transform: scale(1.03, 1.03);
                transform: scale(1.03, 1.03);
              }
            }
          }
          .blog-post {
            height: 100%;
            -webkit-transition: 400ms;
            -moz-transition: 400ms;
            -o-transition: 400ms;
            transition: 400ms;
            .blog-content {
              padding: 20px;
              display: flex;
              flex-direction: column;
              h4 {
                font-size: 20px;
              }
              .button {
                margin-top: auto;
                font-size: 12px;
                font-family: "Avenir-Black", sans-serif;
                &.read-more {
                  padding-bottom: 0;
                }
              }
            }
            .img-block {
              a {
                display: inline;
                img {
                  object-fit: cover;
                  height: 100%;
                  width: 100%;
                  min-height: 250px;
                  max-height: 250px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.read-more-team {
  &:hover {
    cursor: pointer;
    .icon-arrow-more {
      opacity: 1;
      left: 10px;
      color: #28b655;
    }
  }
}

/* Animation*/


@-webkit-keyframes glowing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1
  }
  51% {
    opacity: 0
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes glowing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1
  }
  51% {
    opacity: 0
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes glowing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1
  }
  51% {
    opacity: 0
  }
  100% {
    opacity: 0;
  }
}

@keyframes glowing {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1
  }
  51% {
    opacity: 0
  }
  100% {
    opacity: 0;
  }
}

.nav_anim {
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
  display: inline;
}

.line-animation {
  -webkit-animation: glowing 1000ms infinite;
  -moz-animation: glowing 1000ms infinite;
  -o-animation: glowing 1000ms infinite;
  animation: glowing 1000ms infinite;
  display: inline;
}

/*Confirm Page*/

.gray-light-block {
  &.not-found {
    background-color: $gray-color;
    h2 {
      font-family: "Avenir-Black", sans-serif;
      text-transform: uppercase;
      margin-bottom: 40px;
      font-size: 30px;
      color: $accent-green;
    }
    .link-back {
      a, h3 {
      padding: 0 20px;
      }
    }
    h3 {
      display: inline-block;
      cursor: pointer;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      transition: 0.4s ease-in-out;
      &:hover {
        color: $accent-green;
      }
    }
    .not-found {
      max-height: 146px;
    }
  }
}

.thank-you {
  background-color: $gray-dark-color;
  margin-top: 84px;
  text-align: center;
  &.popup-pages {
    height: auto;
    h2 {
      margin-top: 90px;
    }
  }
  .text-block-confirm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }
  h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 30px;
    color: $accent-green;
  }
  span {
    font-family: "Avenir-Black", sans-serif;
  }
  .img-thanks {
    height: 146px;
    margin: 90px 0;
  }
  h3 {
    font-family: Avenir-Black, sans-serif;
    font-size: 21px;
  }
}
