.wrapper {
  .main-page {
    background-image: url(../images/hp-background-min.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
    //.navbar-fix {
    //  position: fixed;
    //  width: 100%;
    //}
    .logo {
      float: left;
      line-height: 84px;
      a {
        display: block;
        .mitoc-logo {
          height: 40px;
        }
      }
    }
    .nav-bar {
      float: right;
      line-height: 84px;
      ul {
        list-style-type: none;
        li {
          display: inline;
          font-family: 'Avenir-Black', sans-serif;
          font-weight: bold;
          font-size: 18px;
          &:not(:last-child) {
            padding-right: 24px;
          }
        }
      }
    }
    .main-text {
      text-align: center;
      width: 54%;
      margin: 0 auto;
      h1 {
        font-size: 45px;
        color: $accent-green;
        line-height: 61px;
        padding-top: 100px;
      }
    }
    .top_button {
      text-align: center;
      padding-top: 10%;
    }
  }
  .pictures-block {
    margin-bottom: 90px;
    .flex-item-3 {
      text-align: center;
      padding: 0 20px;
      &:not(:last-child) {
        border-right: 2px solid #ddd;
      }
      img {
        height: 128px;
      }
      h3 {
        padding: 40px 0;
      }
      .hover-effect {
        transition: 0.4s ease;
        &:hover {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
  .green-block {
    background-color: $main-color;
    .container {
      .flex-row {
        margin: 0 -20px;
      }
    }
    .info-block {
      background: $white-color;
      margin-right: 20px;
      margin-left: 20px;
      padding-left: 20px;
      padding-right: 20px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
      img {
        width: 100%;
      }
      .info {
        min-height: 275px;
        transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        h4 {
          font-size: 21px;
          margin: 24px 0;
        }
        p {
          padding-bottom: 20px;
        }
      }
    }
    &.small-block {
      .top_button {
        padding-top: 0;
      }
    }
  }
}

footer {
  .media {
    padding: 90px 0;
    display: flex;
    justify-content: space-around;
    a {
      display: inline-block;
      cursor: pointer;
      i {
        display: inline-block;
        transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
      }
    }
  }
  .map-background {
    background-image: url(/images/map-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    background-position: center bottom;
    background-color: rgba(255, 255, 255, 0.5);
    .container {
      .flex-row {
        .flex-item-3 {
          margin-top: 20px;
          h4 {
            text-transform: uppercase;
            position: relative;
            display: inline-block;
            padding-bottom: 3px;
            margin-bottom: 24px;
            &:before {
              content: '';
              position: absolute;
              width: 100%;
              height: 2px;
              background-color: $main-color;
              bottom: 0;
            }
          }
          p, ul li {
            margin-bottom: 10px;
          }
          ul {
            list-style-type: none;
          }
          .logo {
            a {
              display: inline-block;
              img {
                height: 60px;
                margin-bottom: 20px;
              }
            }
          }
          .aws-logo {
            width: 100%;
          }
          &.block-info {
            padding-left: 40px;
          }
        }
      }
    }
  }
}

i {
  font-family: 'Avenir-Mitoc';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
}

.icon-linkedin {
  &:before {
    content: "\e905";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
  }
  &:hover:before {
    color: $accent-green;
  }
}

.icon-youtube {
  &:before {
    content: "\e900";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
  }
  &:hover:before {
    color: $accent-green;
  }
}

.icon-github {
  &:before {
    content: "\e903";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
  }
  &:hover:before {
    color: $accent-green;
  }
}

.icon-google {
  &:before {
    content: "\e904";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
  }
  &:hover:before {
    color: $accent-green;
  }
}

.icon-twitter {
  &:before {
    content: "\e906";
    color: rgb(36, 36, 36);
    font-size: 375%;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
  }
  &:hover:before {
    color: $accent-green;
  }
}

.icon-facebook {
  &:before {
    content: "\e907";
    color: rgb(36, 36, 36);
    font-size: 375%;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
  }
  &:hover:before {
    color: $accent-green;
  }
}

.block-effect {
  &:hover {
    margin-top: -4%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.16);
    transition: 300ms;
    .info h4 {
      color: $accent-green;
    }
  }
}

.carousel-block {
  background-color: $gray-color;
  .carousel-mission {
    padding-top: 200px;
    padding-bottom: 90px;
    .slide-text-right {
      padding-left: 40px;
      h3 {
        font-size: 30px;
        text-transform: uppercase;
      }
    }
    .slide-text-left {
      padding-right: 40px;
      text-align: right;
      h3 {
        font-size: 30px;
        text-transform: uppercase;
      }
    }
    .slick-prev {
      left: auto;
      top: 15%;
      right: 50%;
      width: 150px;
      &:before {
        content: "Our mission";
        color: $black-color;
        opacity: 1;
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Avenir-Black', sans-serif;
        font-weight: bold;
      }
      &.slick-disabled {
        &:before {
          border-bottom: 2px solid $main-color;
        }
      }
    }
    .slick-next {
      top: 15%;
      left: 50%;
      width: 200px;
      &:before {
        content: "Our Strategy";
        color: $black-color;
        opacity: 1;
        font-size: 20px;
        text-transform: uppercase;
        font-family: 'Avenir-Black', sans-serif;
        font-weight: bold;
      }
      &.slick-disabled {
        &:before {
          border-bottom: 2px solid $main-color;
        }
      }
    }
  }
}