.about {
  .title-text{
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  p {
    padding-bottom: 20px;
  }
  .container-top {
    margin-right: -20px;
    margin-left: -20px;
    .flex-item-6 {
      padding: 0 20px;
    }
  }
}

.gray-light-block {
  &.about {
    img {
      width: 100%;
    }
    .flex-row {
      margin-left: -15px;
      margin-right: -15px;
      .flex-item-4 {
        padding: 0 15px;
      }
      .flex-column {
        padding: 0 20px;
      }
    }
  }
}