.about {
  .title-text{
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
  p {
    padding-bottom: 20px;
  }
  .container-top {
    margin-right: -15px;
    margin-left: -15px;
    .flex-item-6 {
      padding: 0 15px;
    }
  }
}

.gray-light-block {
  &.about {
    img {
      width: 100%;
    }
    .flex-row {
      margin-left: -15px;
      margin-right: -15px;
      .flex-item-4 {
        padding: 0 15px;
        img {
          max-height: 178px;
        }
      }
      .flex-column {
        padding: 0 20px;
        p {
          font-size: 21px;
        }
      }
    }
  }
}

.quote {
  .quote-block {
    background-color: $main-color;
    position: relative;
    right: -16px;
    bottom: -16px;
    padding: 48px;
    h4 {
      font-size: 35px;
      padding-bottom: 20px;
    }
    span {
      font-size: 90px;
      line-height: 70px;
      display: -webkit-box;
    }
  }
  .quote-image-block {
    position: relative;
    top: -16px;
    z-index: -2;
    right: 16px;
  }
  img {
    width: 100%;
  }
}

.year {
  position: relative;
  font-weight: bold;
  font-size: 21px;
  font-family: Avenir-Black, sans-serif;
  margin: 0 20px;
  h3 {
    display: inline;
    padding: 0 12px;
    background-color: $white-color;
    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: 2px;
      background-color: $gray-dark-color;
      left: 0;
      z-index: -1;
      top: 50%;
    }
  }
}

.events {
  .flex-row {
    &.full-screen {
      margin: 0 -20px;
    }
    .flex-item-4 {
        &:first-child, &:nth-child(2) {
          .year {
            &:before {
              position: absolute;
              content: '';
              width: 100%;
              height: 2px;
              background-color: $gray-dark-color;
              left: 45px;
              z-index: -1;
              top: 50%;
            }
          }
        }

      img {
        width: 100%;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      .flex-row {
        .flex-item-12 {
          padding: 0 20px;
          &:nth-child(1), &:nth-child(2) {
            padding-bottom: 40px;
          }
        }
      }
    }
  }
}