.partners {
  .gray-block {
    .logo-block {
      float: left;
      a {
        img {
          height: 138px;
        }
      }
    }
    .text-block {
      float: right;
    }
  }
  .aws-info {
    p {
      margin-bottom: 20px;
      &:last-child {
        margin: 90px 0;
      }
      &:first-child {
        margin-bottom: 0;
      }
    }
    .image-aws {
      width: 50%;
      margin: 90px auto;
      .aws-logo {
        width: 100%;
      }
    }
    .block-text_img {
      .aws-img {
        height: 72px;
        margin-right: 20px;
      }
    }
    ul {
      list-style-position: inside;
      margin-left: 20px;
      color: $accent-green;
      span {
        color: $black-color;
      }
    }
    .image-block {
      margin-top: 40px;
      .ahtech-img {
        max-height: 722px;
        width: 100%;
      }
    }
  }
}

.partner {
  img {
    padding-right: 40px;
    padding-bottom: 20px;
    width: 100%;
  }
  p {
    padding-bottom: 20px;
  }
  h3 {
    display: inline-block;
  }
  .icon-facebook, .icon-twitter, .icon-linkedin {
    cursor: pointer;
    &:before {
      font-size: 16px;
    }
  }
  .icon-facebook, .icon-linkedin {
    margin-right: 10px;
  }
}