@media (min-width: 800px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1270px) {
  .container {
    width: 1232px;
  }
}

//@media (min-width: 992px) {
//  .navbar-fix {
//    .nav-bar {
//     .icon-burder {
//       display: none;
//      }
//    }
//  }
//}
//
//@media (max-width: 992px) {
//   .navbar-fix {
//     .nav-bar {
//       ul {
//         display: none;
//       }
//     }
//   }
//}