@media (min-width: 800px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1270px) {
  .container {
    width: 1246px;
  }
}

@media (max-width: 1270px) {
  .block-half {
    &.buttons-header {
      text-align: center;
    }
    .filter-btn {
      &:last-child {
        margin-top: 15px;
      }
    }
  }
  .quote {
    .quote-block {
      h4 {
        font-size: 21px;
      }
    }
  }
  .blog-block {
    .container {
      .section-content {
        .flex-row {
          .flex-item-12 {
            .blog-post {
              .blog-content {
                h4 {
                  font-size: 30px;
                  margin-top: 10px;
                }
              }
            }
          }
          .flex-item-6 {
            .blog-post {
              .blog-content {
                display: inline;
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-inline-box;
                display: -moz-inline-box;
                line-height: 24px;
                -webkit-line-clamp: 4;
                -moz-line-clamp: 4;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                -ms-box-orient: vertical;
                white-space: normal;
                &:hover {
                  color: $accent-green;
                }
                h4 {
                  margin-top: 10px;
                  overflow: hidden;
                }
                .button {
                  position: absolute;
                  bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .green-block {
    &.white-block, &.gray-light-block {
      .flex-row {
        .flex-item-4 {
          &.shadow-block {
            flex: 0 0 100%;
            max-width: 100%;
            &:nth-child(1), &:nth-child(2) {
              margin-bottom: 20px;
            }
            img {
              max-height: 300px;
              object-fit: contain;
            }
          }
        }
      }
    }
  }

  .manning-page {
    .pull-left, .pull-right {
      float: none;
    }
    .pull-left {
      .image-full-size {
        padding-right: 0;
      }
    }
    .pull-right {
      .image-full-size {
        padding-left: 0;
      }
    }
  }
  .cloud-cumputing {
    .flex-row {
      &.cloud-block {
        padding-bottom: 0;
        &.display-grid {
          display: grid;
          .flex-item-6 {
            &:last-child {
              grid-row: 1;
            }
          }
        }
      }
      .flex-item-6 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 90px;
        .image-data {
          max-height: 250px;
        }
        img {
          max-height: 200px;
        }
      }
    }
  }
  .laptop {
    #laptop-anim {
      width: 71%;
      height: 77%;
      right: 15%;
      top: 10%;
    }
  }
  .green-block {
    &.white-block {
      .info-block {
        -webkit-box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        -o-box-shadow: 0 8px 20px rgba(0,0,0,0.2);
        box-shadow: 0 8px 20px rgba(0,0,0,0.2);
      }
    }
  }
  .block-effect {
    &:hover {
      margin-top: 0;
      margin-bottom: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -o-box-shadow: none;
      box-shadow: none;
    }
  }
  .partner {
    .pull-left {
      float: none;
      img {
        width: 100%;
        padding-right: 0;
        padding-bottom: 40px;
      }
    }
  }
  .page-name {
    .pull-right {
      float: none;
      text-align: center;
    }
  }
  .gray-light-block {
    &.about {
      .flex-row {
        .flex-column {
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
  .text-uppercase {
    font-size: 24px;
  }
  .about  {
    .title-text {
      width: 100%;
    }
    .container-top {
      .flex-item-6 {
        flex: 0 0 100%;
        max-width: 100%;
        &:first-child {
          margin-bottom: 20px;
        }
      }
    }
  }
 .header {
   &.automation {
     .text-uppercase {
       text-align: center;
     }
   }
   .container {
     .display-flex {
       display: grid;
       text-align: center;
       justify-content: unset;
       -webkit-justify-content: unset;
       .block-half {
         width: 100%;
         font-size: 16px;
         margin-top: 25px;
         .cloud-img {
           max-width: 70px;
         }
         img {
           max-width: 200px;
         }
       }
       .text-uppercase {
         grid-row: 1;
         font-size: 24px;
       }
     }
   }
 }
  .wrapper {
    .contact-form {
      .form-styles {
        .input-styles {
          &.space-input {
            padding-right: 10px;
          }
        }
      }
      .flex-row {
        margin-right: -10px;
        .flex-item-12 {
          .button {
            padding-right: 10px;
          }
        }
      }
    }
  }
  .green-block {
      .flex-row {
        margin: -10px;
      }
    .info-block {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
.contact-page {
  background-size: 1610px;
  .container {
    .flex-row {
      margin: 0 -10px;
      .flex-item-4 {
        flex: unset;
        max-width: unset;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        &.map-block {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          .contact-info {
            margin-right: 10px;
            margin-left: 10px;
            img {
              max-height: 300px;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
  .form-styles {
    .flex-row {
      margin: 0 -10px;
      .flex-item-6, .flex-item-12 {
        .input-styles {
          margin-right: 10px;
          margin-left:  10px;
        }
      }
    }
  }
}
  .partners {
    .container-top {
      &.aws-info {
        p {
          &:last-child {
            margin: 45px 0;
          }
        }
      }
    }
    .gray-block {
      text-align: center;
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        .logo-block, .text-block {
          float: none;
          line-height: normal;
          a {
            img {
              height: 80px;
            }
          }
        }
        .text-block {
          h1 {
            margin-top: 20px;
            font-size: 24px;
          }
        }
      }
    }
  }
  .wrapper {
    .pictures-block {
      .flex-item-3 {
        h3 {
          padding: 30px;
        }
        &:not(:last-child) {
          position: relative;
          &:after {
            content: '';
            position: absolute;
            width: 100%;
          }
        }
        &:not(:first-child) {
          margin-top: 30px;
        }
        flex: 0 0 50%;
        max-width: 50%;
        &:nth-child(2) {
          border-right: 0;
        }
      }
    }

    .blog-block {
      .container {
        .section-content {
          .flex-row {
            .flex-item-12, .flex-item-6 {
              .blog-post {
                &:hover {
                  -webkit-transform: none;
                  -moz-transform: none;
                  -o-transform: none;
                  transform: none;
                }
              }
            }
            .flex-item-12 {
              .blog-post {
                .blog-content {
                  display: inline;
                  position: relative;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-inline-box;
                  display: -moz-inline-box;
                  line-height: 24px;
                  -webkit-line-clamp: 4;
                  -moz-line-clamp: 4;
                  -webkit-box-orient: vertical;
                  -moz-box-orient: vertical;
                  -ms-box-orient: vertical;
                  white-space: normal;
                  h4 {
                    overflow: hidden;
                    margin-top: 10px;
                    font-size: 20px;
                  }
                  .button {
                    position: absolute;
                    bottom: 10px;
                  }
                }
                .img-block {
                  a {
                    img {
                      min-height: 250px;
                      max-height: 250px;
                    }
                  }
                }
              }
            }
            .flex-item-6 {
              &.leftPostItem, &.rightPostItem {
                flex: 0 0 100%;
                max-width: 100%;
              }
              &.leftPostItem {
                margin-bottom: 40px;
              }
            }
          }
        }
      }
    }
  }

  .space-top {
    margin-top: 54px;
  }

  .navbar-fix {
    height: 54px;
    &.gray-color {
      background-color: #EFEFEF;
    }
    .logo {
      line-height: 54px;
      a {
        .mitoc-logo {
          height: 32px;
          -webkit-transition: .4s;
          -moz-transition: .4s;
          -o-transition: .4s;
          transition: .4s;
        }
      }
    }
    &.color-nav-responsive {
      background-color: $white-color;
      .nav-bar {
        ul {
          li {
            font-size: 24px;
          }
        }
      }
    }
    .nav-bar {
      float: none;
      ul {
        li:not(:last-child) {
          padding-right: 0;
        }
      }
      .navigation {
        display: none;
        position: absolute;
        width: 100%;
        top: 54px;
        left: 0;
        background: white;
        z-index: 2;
        line-height: 70px
      }
      .open + .navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: center;
        height: calc(100vh - 54px);
        background: white;
      }
    }
    .icon-burger, .icon-arrow {
      display: block;
      float: right;
      line-height: 54px;
    }
  }
  footer {
    .map-background {
      background-image: none;
      height: auto;
      .container {
        .flex-row {
          .flex-item-3 {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            margin-top: 0;
            &.block-info {
              padding-left: 0;
              margin-bottom: 20px;
              &:nth-child(3) {
                display: none;
              }
            }
            &:last-child {
              flex: 0 0 50%;
              max-width: 50%;
              margin: 0 auto;
              margin-bottom: 45px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .if-image {
    img {
      padding-top: 45px;
    }
  }
  .cloud-cumputing {
    .cloud-block {
     &.flex-row {
       margin: 0 -15px;
       .flex-item-6 {
         padding: 0 15px;
       }
     }
    }
  }
  .laptop {
    height: 200px;
  }
  .block-atm {
    .flex-row {
      .flex-item-6 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  .adtechmedia-info {
    .amazon-logo {
      margin: 0 auto;
    }
    .flex-item-6 {
      flex: 0 0 100%;
      max-width: 100%;
      p {
        &:first-child {
          padding-top: 45px;
        }
      }
    }
    &.visa_versa {
      display: grid;
      .flex-item-6 {
        &:last-child {
          grid-row: 1
        }
      }
    }
  }

  .tab-wrap {
    width: 100%;
    flex-wrap: wrap;
    label {
      display: block;
      &:hover {
        img {
          -webkit-transform: none;
          -moz-transform: none;
          -o-transform: none;
          transform: none;
        }
      }
    }
    .tab-label-content {
      .tab-content {
        position: static;
        display: block;
      }
    }
    .slide {
      display: none;
    }
  }

  .events {
    .flex-row {
     &.full-screen {
       margin: 0 -15px;
       .year {
         margin: 0 15px;
       }
     }
    }
  }
  .quote {
   .flex-item-6 {
     flex: 0 0 100%;
     max-width: 100%;
     &.quote-block {
       position: static;
       right: auto;
       bottom: auto;
       span {
         font-size: 60px;
       }
       h4 {
         margin-bottom: 20px;
       }
     }
     &.quote-image-block {
       position: static;
       top: auto;
       right: auto;
       img {
         max-height: 400px;
         object-fit: cover;
         object-position: bottom;
       }
     }
   }
  }
  .gray-light-block {
    &.about {
      .container-top-bottom {
        img {
          max-height: unset;
        }
      }
      img {
        max-height: 150px;
      }
      .flex-row {
        .flex-item-4 {
          flex: 0 0 100%;
          max-width: 100%;
          &:nth-child(1), &:nth-child(2) {
            margin-bottom: 20px;
          }
        }
        .flex-item-8 {
          flex: 100%;
          max-width: 100%;
          text-align: center;
        }
      }
    }
  }
  .wrapper {
    .main-page {
      height: 100vh;
      .main-text {
        width: 90%;
        max-width: unset;
        h1 {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .cloud-cumputing {
    .flex-row {
      .flex-item-6 {
        margin-bottom: 45px;
      }
    }
  }
  .block-half {
    .filter-btn {
      padding: 5px;
      i {
        font-size: 20px;
      }
    }
  }
  .contact-page {
    background-size: 1400px;
  }
  .quote {
    .quote-block {
      h4 {
        font-size: 18px;
      }
    }
  }
  .title-text {
    font-size: 16px;
  }
  .events {
    .flex-row {
      .flex-item-4 {
        flex: 0 0 100%;
        max-width: 100%;
        &:first-child, &:nth-child(2) {
         .year {
           &:before {
             display: none;
           }
         }
        }
      }
    }
  }
  .container-top {
    margin-top: 45px;
  }
  .container-space {
    padding: 45px 0;
  }
  .container-bottom {
    margin-bottom: 45px;
  }
  .container-top-bottom {
    margin: 45px 0;
  }
  .container-space-button {
    padding-bottom: 45px;
  }
  .header {
    height: 220px;
  }
  .page-name {
    height: 220px;
    line-height: 220px;
  }
  .container-top-space {
    padding-top: 45px;
  }
  .wrapper {
    .main-page {
      .main-text {
        h1 {
          padding-top: 150px;
        }
      }
      .top_button {
        padding-bottom: 110px;
      }
    }
  }
  .green-block {
    .flex-row {
      .flex-item-4, .flex-item-6 {
        flex: 0 0 100%;
        max-width: 100%;
        &:nth-child(1), &:nth-child(2) {
          margin-bottom: 20px;
        }
      }
    }
  }
  .thank-you {
    &.popup-pages {
      .text-block-confirm {
        justify-content: space-around;
        h2, .img-thanks {
          margin: 40px 0;
        }
      }
    }
    .text-block-confirm {
      justify-content: space-around;
      h2, .img-thanks {
        margin: 0;
      }
    }
  }
    .contact-form {
      .form-styles {
        .flex-row {
          margin-bottom: 0;
          margin-top: 0;
          #name-contact, #phone {
            padding-right: 0;
          }
          .flex-item-6 {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }

  body {
    .partners {
      .aws-info {
        .block-text_img {
          &.pull-left {
            float: none;
            text-align: center;
            margin-bottom: 40px;
          }
        }
        .image-aws {
          width: 100%;
          margin: 40px auto;
        }
      }
    }
  }
  .top_button {
    padding: 50px 0;
  }
  .btn-green, .btn-white {
    font-size: 14px;
  }
  .center {
    .header-text {
      font-size: 24px;
      line-height: normal;
      padding: 50px 0;
    }
  }
  .wrapper {
    .blog-block {
      .container {
        .section-content {
          .flex-row {
            .flex-item-12 {
              .blog-post {
                margin-bottom: 20px;
              }
            }
            .flex-item-12, .flex-item-6 {
              .blog-post {
                max-height: 200px;
                margin-right: 0;
                margin-left: 0;
                .img-block {
                  a {
                    img {
                      min-height: 200px;
                    }
                  }
                }
                .blog-content {
                  h4 {
                    font-size: 16px;
                  }
                }
              }
            }
            .flex-item-6 {
              &.leftPostItem {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
  .carousel-block {
    .container {
      .carousel-mission {
        padding-bottom: 45px;
        padding-top: 100px;
        .slick-dots {
          top: 45px;
          li {
            button {
              &#slick-slide-control00, &#slick-slide-control01, &#slick-slide-control02 {
                &:before {
                  font-size: 16px;
                }
              }
            }
          }
        }

        .flex-row {
          display: grid;
          .flex-item-6 {
            flex: 0 0 100%;
            max-width: 100%;
            &.slide-text-left, &.slide-text-right {
              padding-left: 0;
              padding-right: 0;
              text-align: left;
              h3 {
                display: none;
              }
            }
            &.slide-img {
              margin-bottom: 40px;
              grid-row: 1;
            }
          }
        }
      }
    }
  }
  footer {
    .media {
      padding: 40px 0;
    }
  }
}

@media (max-height: 580px) {
  body {
    .popup_cont {
      left: 0 !important;
      top: 0 !important;
      div.popup {
        min-width: 100vw;
        max-width: 100vw;
        height: 100vh;
        overflow: auto;
      }
    }
  }
  .thank-you {
    &.popup-pages {
      .text-block-confirm {
        justify-content: space-around;
        h2, .img-thanks {
          margin: 40px 0;
        }
      }
    }
    .text-block-confirm {
      justify-content: space-around;
      h2, .img-thanks {
        margin: 0;
      }
    }
  }
}

@media (max-width: 568px) {
  body {
    .popup_cont {
      position: absolute;
      left: 0 !important;
      top: 0 !important;
      div.popup {
        min-width: 100vw;
        max-width: 100vw;
        height: 100vh;
        overflow: auto;
      }
    }
  }
  .wrapper {
    .pictures-block {
      .flex-item-3 {
        flex: 0 0 100%;
        max-width: 100%;
        &:nth-child(2) {
          border-right: 0;
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          border-right: 0;
        }
        &:not(:last-child) {
          border-bottom: 2px solid $gray-dark-color;
          .read-more {
            padding-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-height: 470px) {
  body {
    .md-modal {
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      max-width: 100vw;
      -webkit-transform: none;
      -moz-transform: none;
      transform: none;
      .md-content {
        height: 100%;
        overflow: auto;
      }
    }
  }
  .wrapper {
    .main-page {
      .main-text {
        h1 {
          padding-top: 130px;
        }
      }
    }
  }
  .navbar-fix {
    .nav-bar {
      .open +.navigation {
        justify-content: space-around;
        line-height: normal;
      }
    }
  }
}

@media (max-width: 400px) {
  body {
    .text-uppercase {
      font-size: 24px;
    }
  }
  footer {
    .media {
      flex-wrap: wrap;
      a {
        margin: 0 30px;
      }
    }
  }
}

@media (max-width: 320px) {
  footer {
    .media {
      flex-wrap: wrap;
      a {
        margin: 0 25px;
      }
    }
  }
}