@media (min-width: 800px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
}

@media (min-width: 1270px) {
  .container {
    width: 1232px;
  }
}

@media (max-width: 1270px) {
  .blog-block {
    .container {
      .section-content {
        .flex-row {
          .flex-item-12 {
            .blog-post {
              .blog-content {
                h4 {
                  font-size: 30px;
                  margin-top: 10px;
                }
              }
            }
          }
          .flex-item-6 {
            &.rightPostItem {
              .blog-post {

              }
            }
            &.leftPostItem {
              .blog-post {


              }
            }
            .blog-post {
              .blog-content {
                display: inline;
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-inline-box;
                display: -moz-inline-box;
                line-height: 24px;
                -webkit-line-clamp: 4;
                -moz-line-clamp: 4;
                -webkit-box-orient: vertical;
                -moz-box-orient: vertical;
                white-space: normal;
                &:hover {
                  color: $accent-green;
                }
                h4 {
                  margin-top: 10px;
                  overflow: hidden;
                }
                .button {
                  position: absolute;
                  bottom: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .green-block {
      .flex-row {
        margin: -10px;
      }
    .info-block {
      margin-left: 10px;
      margin-right: 10px;
      &.block-effect {
        &:hover {
          margin-top: 0;
          margin-bottom: 0;
          box-shadow: none;
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          -o-box-shadow: none;
        }
      }
    }
  }
.contact-page {
  .container {
    .flex-row {
      margin: 0 -10px;
      .flex-item-4 {
        flex: 0 0 100%;
        max-width: 100%;
        &.map-block {
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          .contact-info {
            margin-right: 10px;
            margin-left: 10px;
            iframe {
              height: 300px;
            }
          }
        }
      }
    }
  }
  .form-styles {
    .flex-row {
      margin: 0 -10px;
      .flex-item-6, .flex-item-12 {
        .input-styles {
          margin-right: 10px;
          margin-left:  10px;
        }
      }
    }
  }
}
  .aws-block {
    .gray-block {
      text-align: center;
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        .logo-block, .text-block {
          float: none;
          line-height: normal;
          a {
            img {
              height: 80px;
            }
          }
        }
        .text-block {
          h1 {
            margin-top: 20px;
            font-size: 24px;
          }
        }
      }
    }
  }
  .wrapper {
    .pictures-block {
      .flex-item-3 {
        h3 {
          padding: 30px;
        }
        &:not(:last-child) {
          padding-bottom: 30px;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            width: 100%;
          }
        }
        &:not(:first-child) {
          margin-top: 30px;
        }
        flex: 0 0 50%;
        max-width: 50%;
        &:nth-child(2) {
          border-right: 0;
        }
      }
    }

    .blog-block {
      .container {
        .section-content {
          .flex-row {
            .flex-item-12, .flex-item-6 {
              .blog-post {
                &:hover {
                  transform: none;
                }
              }
            }
            .flex-item-12 {
              .blog-post {
                .blog-content {
                  display: inline;
                  position: relative;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  display: -webkit-inline-box;
                  display: -moz-inline-box;
                  line-height: 24px;
                  -webkit-line-clamp: 4;
                  -moz-line-clamp: 4;
                  -webkit-box-orient: vertical;
                  -moz-box-orient: vertical;
                  white-space: normal;
                  h4 {
                    overflow: hidden;
                    margin-top: 10px;
                    font-size: 20px;
                  }
                  .button {
                    position: absolute;
                    bottom: 10px;
                  }
                }
                .img-block {
                  a {
                    img {
                      min-height: 250px;
                      max-height: 250px;
                    }
                  }
                }
              }
            }
            .flex-item-6 {
              &.leftPostItem, &.rightPostItem {
                flex: 0 0 100%;
                max-width: 100%;
              }
              &.leftPostItem {
                margin-bottom: 40px;
              }
            }
          }
        }
      }
    }
  }
  .icon-burger {
    display: block;
    float: right;
  }
  .icon-arrow {
    float: right;
    display: block;
  }
  .navbar-fix {
    .logo {
      a {
        .mitoc-logo {
          height: 32px;
        }
      }
    }
    &.color-nav-responsive {
      .nav-bar {
        ul {
          li {
            font-size: 24px;
          }
        }
      }
    }
    .nav-bar {
      float: none;
      ul {
        li:not(:last-child) {
          padding-right: 0;
        }
      }
      .navigation {
        display: none;
        position: absolute;
        width: 100%;
        top: 84px;
        left: 0;
        background: white;
        z-index: 2;
        line-height: 70px
      }
      .open + .navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: center;
        height: calc(100vh - 84px);
        background: white;

      }
    }
  }
  footer {
    .map-background {
      background-image: none;
      height: auto;
      .container {
        .flex-row {
          .flex-item-3 {
            flex: 0 0 100%;
            max-width: 100%;
            text-align: center;
            margin-top: 0;
            &.block-info {
              padding-left: 0;
              margin-bottom: 20px;
              &:nth-child(3) {
                display: none;
              }
            }
            &:last-child {
              flex: 0 0 50%;
              max-width: 50%;
              margin: 0 auto;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .wrapper {
    .main-page {
      height: 100vh;
      .main-text {
        width: 90%;
        max-width: unset;
        h1 {
          font-size: 30px;
          line-height: 40px;
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .green-block {
    .flex-row {
      .flex-item-4, .flex-item-6 {
        flex: 0 0 100%;
        max-width: 100%;
        &:nth-child(1), &:nth-child(2) {
          margin-bottom: 20px;
        }
      }
    }
  }
  .thank-you {
    &.popup-pages {
      .text-block-confirm {
        justify-content: space-around;
        h2, .img-thanks {
          margin: 40px 0;
        }
      }
    }
    .text-block-confirm {
      justify-content: space-around;
      h2, .img-thanks {
        margin: 0;
      }
    }
  }
    .contact-form {
      .form-styles {
        .flex-row {
          margin-bottom: 0;
          margin-top: 0;
          #name-contact, #phone {
            padding-right: 0;
          }
          .flex-item-6 {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }

  body {
    .aws-block {
      .aws-info {
        .image-aws {
          width: 70%;
          margin: 40px auto;
        }
      }
    }
  }
  .top_button {
    padding: 50px 0;
  }
  .btn-green, .btn-white {
    font-size: 14px;
  }
  .center {
    .header-text {
      font-size: 24px;
      line-height: normal;
      padding: 50px 0;
    }
  }
  .wrapper {
    .blog-block {
      .container {
        .section-content {
          .flex-row {
            .flex-item-12 {
              .blog-post {
                margin-bottom: 20px;
              }
            }
            .flex-item-12, .flex-item-6 {
              .blog-post {
                max-height: 200px;
                margin-right: 0;
                margin-left: 0;
                .img-block {
                  a {
                    img {
                      min-height: 200px;
                    }
                  }
                }
                .blog-content {
                  h4 {
                    font-size: 16px;
                  }
                }
              }
            }
            .flex-item-6 {
              &.leftPostItem {
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
  .carousel-block {
    .container {
      .carousel-mission {
        padding-bottom: 70px;
        padding-top: 100px;
        .slick-next {
          width: 145px;
        }
        .slick-next, .slick-prev {
          &:before {
            font-size: 17px;
          }
        }
        .flex-row {
          display: grid;
          .flex-item-6 {
            flex: 0 0 100%;
            max-width: 100%;
            &.slide-text-left, &.slide-text-right {
              padding-left: 0;
              padding-right: 0;
              text-align: left;
              h3 {
                display: none;
              }
            }
            &.slide-img {
              margin-bottom: 40px;
              grid-column: 1/2;
              grid-row: 1/3;
            }
          }
        }
      }
    }
  }
  footer {
    .media {
      padding: 40px 0;
    }
  }
}

@media (max-height: 580px) {
  .thank-you {
    &.popup-pages {
      .text-block-confirm {
        justify-content: space-around;
        h2, .img-thanks {
          margin: 40px 0;
        }
      }
    }
    .text-block-confirm {
      justify-content: space-around;
      h2, .img-thanks {
        margin: 0;
      }
    }
  }
}

@media (max-width: 568px) {
  .wrapper {
    .pictures-block {
      .flex-item-3 {
        flex: 0 0 100%;
        max-width: 100%;
        &:nth-child(2) {
          border-right: 0;
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          border-right: 0;
        }
        &:not(:last-child) {
          border-bottom: 2px solid $gray-dark-color;
        }
      }
    }
  }
}

@media (max-height: 470px) {
  body {
    .md-modal {
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      max-width: 100vw;
      transform: none;
      -webkit-transform: none;

      .md-content {
        height: 100%;
        overflow: auto;
      }
    }
  }
  .wrapper {
    .main-page {
      .main-text {
        h1 {
          padding-top: 130px;
        }
      }
    }
  }
  .navbar-fix {
    .nav-bar {
      .navigation {
        line-height: normal;
      }
      .open +.navigation {
        justify-content: space-around;
      }
    }
  }
}

@media (max-width: 400px) {
  body {
    .md-modal {
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      max-width: 100vw;
      transform: none;
      -webkit-transform: none;
      overflow: hidden;
      .md-content {
        height: 100%;
      }
    }
  }
  footer {
    .media {
      flex-wrap: wrap;
      a {
        margin: 0 30px;
      }
    }
  }
}

@media (max-width: 320px) {

  footer {
    .media {
      flex-wrap: wrap;
      a {
        margin: 0 25px;
      }
    }
  }
}