.cloud-cumputing {
  .cloud-block {
    margin: 0 -20px;
    padding-bottom: 90px;
    .flex-item-6 {
      padding: 0 20px;
    }
  }
  .h4 {
    width: 95%;
    margin: 0 auto;
  }
  .list-block {
    .title-text {
      padding-bottom: 20px;
    }
  }
  .logo-size {
    max-height: 180px;
    width: 100%;
    object-fit: contain;
  }
}

.number {
  padding: 2px 10px;
  border-radius: 50%;
  background-color: $accent-green;
  margin-right: 20px;
  font-family: "Avenir-Black", sans-serif;
}