{% extends '../case-studies.twig' %}

{% block content %}

    <div class="hide-mobile">
        <div class="space-top header case-study flex-column">
            <div class="header__bg green">
                <div class="bg bg-green bg-pic analityc flex-column">
                    <div class="container text-styles">
                        <div class="flex-row">
                            <div class="flex-item-3">

                            </div>
                            <div class="flex-item-9 flex-column text-color-white">
                                <p>Case Study</p>
                                <h1>Major Content <br> Analytics Company</h1>
                                <h5 class="text-24 marginTop36">
                                    A company that provides insights and analytics that accelerate the pace of
                                    innovation for customers around the world.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="widthBlock80 up80 paddingBottom61">
                <div class="flex-row case-study-br">
                    <div class="flex-item-3">
                        <h2 class="text-36-SemiBold">
                            About the Company
                        </h2>
                    </div>
                    <div class="flex-item-9 padding-left43">
                        <h4 class="text-20 text-color-dark paddingBottom20">
                            Major content analytics company, owned by leading private equity firm and formerly
                            the intellectual property and science business unit of a major mass media and information company.
                        </h4>
                        <p>
                            They own and operate a collection of leading subscription-based businesses focused
                            on scientific and academic research, patent analytics and regulatory standards,
                            pharmaceutical and biotech intelligence, trademark protection,
                            domain brand protection and intellectual property management.
                        </p>
                    </div>
                </div>
            </div>
            <div class="block-img marginBottom-94">
                <div class="flex-row display-grid">
                    <div class="flex-item-7 what-is flex-column gradient-left-right green">
                        <div class="text-color-white text-italic text-left">
                            New owners agreed to completely vacate their data centers over the period of three years.
                        </div>
                        <div class="text-color-white paddingTop20 text-20">
                            Using this opportunity, major content analytics company decided to migrate entire
                            infrastructure into the cloud and avoid undifferentiated heavy lifting.
                        </div>
                    </div>
                    <div class="flex-item-5">
                        <img 
                            {{ images['/images/v2/png/analytics-company.png'] }}
                            sizes="(max-width: 500px) 100vw,
                                ((min-width: 500px) and (max-width: 750px)) 50vw, 33vw"
                            alt="Case Study Content Analytics Company"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="gray-block">
            <div class="container">
                <div class="widthBlock80 paddingTop150 paddingBottom61">
                    <div class="flex-row case-study-br">
                        <div class="flex-item-3">
                            <h2 class="text-36-SemiBold">
                                The Challenge
                            </h2>
                        </div>
                        <div class="flex-item-9 padding-left43">
                            <h4 class="text-20 text-color-dark paddingBottom20">
                                As a result of divestiture, this major content analytics company required a detailed
                                plan to operationalize their existing AWS cloud footprint outside of former parent company.
                            </h4>
                            <p>
                                It also needed to develop a plan to exit the on-premises infrastructure
                                footprint managed by previous owners. They needed to partner with somebody
                                who can help with its data centers migrations, IT operations and management.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="footer-bg green-block flex-column">
            <div class="container">
                <div class="center text-styles text-color-white text-italic-regular text-20 widthBlock80">
                    "We want to be internal enablers and cloud advocates, to provide meaningful help and
                    support without being the ones who delay or block adoption of cloud services.
                    Let's get stuff done and get out of the way of smart people who onboard on their cloud journeys.
                    Also, we don't want to be featured in the media for some security breaches or other unwanted negative press,
                    so let's do it by the book, no cut corners."
                </div>
                <div class="marginTop36 uppercase center text-20 text-color-white">
                    Executive @ Major Content Analytics Company
                </div>
            </div>
        </section>
        <section>
            <div class="gray-block block-left">
                <div class="container">
                   <div class="widthBlock80">
                       <div class="up80 down80">
                           <div class="center">
                               <h3 class="text-36-SemiBold">Why Mitoc Group?</h3>
                               <div class="mobile-img">
                                   <img class="img-size lazyload" data-src="{{ asset('@images/v2/services/automation-serverless.svg') }}" alt="Automation Serverless"/>
                               </div>
                               <div class="paddingTop20 text-20 text-bold widthBlock70">
                                   As one of the leading companies in terms of automation and devops practice on AWS cloud,
                                   Mitoc Group worked together with other partners within AWS ecosystem to deliver business results in timely manner.
                               </div>
                           </div>
                           <div class="flex-row block-space">
                               <div class="flex-item-6">
                                   <ul class="square green marginTop36 text-20">
                                       <li>
                                           In the first phase, we engaged with partners to help manage and operate
                                           customer's current AWS footprint, which supported both production and non-production platforms,
                                           and provided recommendations to improve cost and operational efficiency.
                                       </li>
                                       <li class="marginTop36">
                                           In the second phase, we contributed to large-scale assessment
                                           of 30 ecosystems and over 4,500 servers using a combination of in-depth
                                           customer interviews and automation processes discussions.
                                       </li>
                                       <li class="marginTop36">
                                           In the third and last phase, we were involved in hands-on
                                           implementation of foundational build and migration of all ecosystems
                                           within the company's global footprint to AWS.
                                       </li>
                                   </ul>
                               </div>
                               <div class="flex-item-6 center flex-column space">
                                   <img class="img-size web-img lazyload" data-src="{{ asset('@images/v2/services/automation-serverless.svg') }}"  alt="Automation Serverless"/>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
              <div class="widthBlock80">
                  <div class="up80 down80">
                      <div class="center">
                          <h3 class="text-36-SemiBold">The Benefits</h3>
                      </div>
                      <div class="flex-row block-space case-study">
                          <div class="flex-item-6 center flex-column space">
                              <img class="img-size lazyload" data-src="{{ asset('@images/v2/case-studies/benefits-aws.svg') }}" alt="The Benefits"/>
                          </div>
                          <div class="flex-item-6">
                              <div class="marginTop36 text-20">
                                  The results of this multi-year project created an even stronger partnership
                                  between major content analytics company, AWS and other partners involved in this effort.
                                  The migration strategy developed an incredible ROI output that resulted in a
                                  reduction in infrastructure costs of nearly 40% and savings of 50% from an
                                  operational perspective. Most importantly, the customer was able to
                                  vacate on-premises data centers ahead of deadline and avoid associated
                                  penalties estimated at several millions of dollars.
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </section>
    </div>

{% endblock %}
