{% extends '../case-studies.twig' %}

{% block content %}

    <div class="hide-mobile">
        <div class="space-top header case-study flex-column">
            <div class="header__bg green">
                <div class="bg bg-green bg-pic case-study1 flex-column">
                    <div class="container text-styles">
                        <div class="flex-row">
                            <div class="flex-item-3">

                            </div>
                            <div class="flex-item-9 flex-column text-color-white">
                                <p>Case Study</p>
                                <h1>Major Broadcasting Conglomerate</h1>
                                <h5 class="text-24 marginTop36">
                                    A secure cloud services platform, offering compute power, database storage, content
                                    delivery.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="widthBlock80 up80 paddingBottom61">
                <div class="flex-row case-study-br">
                    <div class="flex-item-3">
                        <h2 class="text-36-SemiBold">
                            About the Company
                        </h2>
                    </div>
                    <div class="flex-item-9 padding-left43">
                        <h4 class="text-20 text-color-dark paddingBottom20">
                            Major broadcasting conglomerate embarked on an amazing journey to transform and innovate
                            their
                            businesses in the cloud.
                        </h4>
                        <p>
                            Operational and technical services teams have been empowered to perform mission-critical
                            roles across company's portfolio of broadcast, cable and film businesses,
                            to ensure that they keep the position of leader in media technology.
                        </p>
                    </div>
                </div>
            </div>
            <div class="block-img marginBottom-94">
                <div class="flex-row display-grid">
                    <div class="flex-item-7 what-is flex-column gradient-left-right green">
                        <div class="text-color-white text-italic text-left">
                            In order to be successful, the company adopted Cloud First strategy across entire
                            enterprise.
                        </div>
                        <div class="text-color-white paddingTop20 text-20">
                            This strategy enabled businesses to shift from highly specialized and dedicated on-premises
                            infrastructure to self-provisioned public and private cloud resources.
                        </div>
                    </div>
                    <div class="flex-item-5">
                        <img src="{{ asset('@images/v2/png/case-study1-png.png') }}" alt="Case Study"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="gray-block">
            <div class="container">
                <div class="widthBlock80 paddingTop150 paddingBottom61">
                    <div class="flex-row case-study-br">
                        <div class="flex-item-3">
                            <h2 class="text-36-SemiBold">
                                The Challenge
                            </h2>
                        </div>
                        <div class="flex-item-9 padding-left43">
                            <h4 class="text-20 text-color-dark paddingBottom20">
                                Major broadcasting conglomerate's operational and technical services teams support
                                tens of internal customers with hundreds of ecosystems and thousands of applications
                            </h4>
                            <p>
                                Operational and technical services teams have been empowered to perform mission-critical
                                roles across company's portfolio of broadcast, cable and film businesses,
                                to ensure that they keep the position of leader in media technology.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="footer-bg green-block flex-column">
            <div class="container">
                <div class="center text-styles text-color-white text-italic-regular text-20 widthBlock80">
                    "We want to be internal enablers and cloud advocates,
                    to provide meaningful help and support without being the ones who
                    delay or block adoption of cloud services. Let's get stuff done and get out of the way
                    of smart people who onboard on their cloud journeys.
                    Also, we don't want to be featured in the media for some security
                    breaches or other unwanted negative press, so let's do it by the book, no cut corners."
                </div>
                <div class="marginTop36 uppercase center text-20 text-color-white">
                    Executive @ Major Broadcasting Conglomerate
                </div>
            </div>
        </section>
        <section>
            <div class="gray-block block-left">
                <div class="container">
                    <div class="widthBlock80">
                        <div class="up80 down80">
                            <div class="center">
                                <h3 class="text-36-SemiBold">Why Mitoc Group?</h3>
                                <div class="mobile-img">
                                    <img class="img-size lazyload" data-src="{{ asset('@images/v2/services/automation-infrastructure.svg') }}" alt="Automation Infrastructure">
                                </div>

                                <div class="paddingTop20 text-20 text-bold widthBlock70">
                                    This collaboration involved several geographically distributed operational teams
                                    on customer's side and several partners who worked directly with AWS to deliver successful customer experience.
                                </div>
                            </div>
                            <div class="flex-row block-space">
                                <div class="flex-item-6">
                                    <ul class="square green marginTop36 text-20">
                                        <li>
                                            We designed and implemented fully automated provisioning process for
                                            couple of dozen AWS accounts, as well as integrated them with enterprise identity management,
                                            monitoring and security systems.
                                        </li>
                                        <li class="marginTop36">
                                            Additionally, we developed standard operating procedures and operational
                                            checklists that simplified the way business units engaged with cloud operational teams.
                                        </li>
                                    </ul>
                                </div>
                                <div class="flex-item-6 center flex-column space">
                                    <img class="img-size web-img lazyload" data-src="{{ asset('@images/v2/services/automation-infrastructure.svg') }}" alt="Automation Infrastructure">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="widthBlock80">
                    <div class="up80 down80">
                        <div class="center">
                            <h3 class="text-36-SemiBold">The Benefits</h3>
                        </div>
                        <div class="flex-row block-space case-study">
                            <div class="flex-item-6 center flex-column space">
                                <img class="img-size lazyload" data-src="{{ asset('@images/v2/case-studies/benefits-aws.svg') }}" alt="The Benefits">
                            </div>
                            <div class="flex-item-6">
                                <div class="marginTop36 text-20">
                                    Mitoc Group designed the process of managing and provisioning cloud resources
                                    using infrastructure as code. We made it easier and faster for the customer
                                    to create new AWS accounts, built out foundational configurations,
                                    and standardized the way business units consume cloud services.
                                    Increased agility and decreased delivery time empowered customer's
                                    business units to focus on revenue generation instead of cloud operations.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
