{% extends '../case-studies.twig' %}

{% block content %}

    <div class="hide-mobile">
        <div class="space-top header flex-column">
            <div class="header__bg green">
                <div class="bg bg-green flex-column case-study">
                    <div class="container text-styles">
                        <div class="flex-column text-color-white center">
                            <p class="uppercase">Case Study</p>
                            <h1>Manning Publications</h1>
                            <h5 class="text-24 marginTop36">
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="laptop-manning marginTop-200 container-bottom">
        </div>
        <section>
            <div class="container">
                <div class="widthBlock80">
                    <div class="flex-row block-space up80 down80">
                        <div class="flex-item-6">
                            <div class="text-bold text-20">
                                Manning is an independent publisher of computer books for software developers,
                                engineers, architects,
                                system administrators, managers and all who are professionally involved with the
                                computer business.
                                We also publish for students and young programmers, including occasionally for children.
                                We are an entirely virtual organization based on Shelter Island, New York,
                                with many staff working from far-flung places like Manila and Zagreb.
                            </div>
                        </div>
                        <div class="flex-item-6">
                            <div class="text-20">
                                "Independent" means we are not owned by a large corporate entity and are free to make
                                decisions without bureaucratic overhead. That has allowed us to innovate and be
                                flexible and to quickly adjust what we do as we go. We were the first by several years
                                to sell our books as unprotected PDFs, something that later became commonplace.
                                We were the first to start selling books before they were finished, in the Manning Early
                                Access Program.
                                This gave our readers access to our content as soon as it was readable, and this too has
                                become
                                common in the industry. And it means we are thinking every day about new ways to satisfy
                                our customers,
                                some of which we hope you will be pleased to discover in the not-too-distant future.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="gray-block up80 down80">
                <div class="container">
                    <div class="center">
                        <h3 class="text-36-SemiBold">The Challenge</h3>
                    </div>
                    <div class="widthBlock80">
                        <div class="flex-row block-space marginTop36">
                            <div class="flex-item-6 flex-column">
                                <img class="fullscreen-img marginLeft-43 lazyload"
                                     data-src="{{ asset('@images/v2/case-studies/serverless-architectures-on-aws.png') }}"
                                     alt="Case Study">
                                <div class="marginTop-auto marginLeft-43">
                                    <p class="text-bold paddingBottom20">
                                        Put simply:
                                    </p>
                                    <p class="text-italic text-color-green text-20">
                                        How do we make Manning's content accessible without giving it away?
                                        How do we make the paywall porous?
                                    </p>
                                </div>
                            </div>
                            <div class="flex-item-6 text-20">
                                The excellent content we have painstakingly helped authors develop, with tens of
                                different
                                specialists and reviewers contributing their know-how to the author's hard work,
                                is for most potential readers idly sitting, locked behind a paywall.
                                Yes, we sell our books in digital form allowing you to get one on your machine in
                                minutes,
                                but book content is still only accessible if it is bought. Otherwise it's hidden behind
                                a firm and inflexible paywall. You either buy the book and have it, or don't buy it and
                                don't
                                have it.
                                (Unless you are a pirate.) Since people cannot buy all the content they might be
                                interested in,
                                the effect is to separate potential readers from our books.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="widthBlock80 block-left">
                    <div class="up80">
                        <div class="center">
                            <h3 class="text-36-SemiBold">Why Mitoc Group?</h3>
                            <div class="mobile-img">
                                <img class="img-size lazyload" data-src="{{ asset('@images/v2/services/automation-infrastructure.svg') }}" alt="Automation Infrastructure">
                            </div>
                        </div>
                        <div class="flex-row block-space">
                            <div class="flex-item-6">
                                <div class="marginTop36 text-20">
                                    It was a revelation when we learned about serverless technology.
                                    <span class="text-bold">Mitoc Group</span>, an <span class="text-bold">AWS Advanced Technology Partner</span>
                                    and featured <span class="text-bold">AWS Lambda Partner</span>,
                                    is one of pioneers and early adopters of serverless architecture on AWS.
                                    The opportunities for speeding up the development and the reuse
                                    of existing services was heartening. Additionally,
                                    the low cost of operation with the ease of scaling up the number
                                    of users was immensely appealing for our small company
                                </div>
                            </div>
                            <div class="flex-item-6 center flex-column space">
                                <img class="img-size web-img lazyload" data-src="{{ asset('@images/v2/services/automation-infrastructure.svg') }}" alt="Automation Infrastructure">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="widthBlock80">
                    <div class="up80 down80">
                        <div class="center">
                            <h3 class="text-36-SemiBold">The Benefits</h3>
                        </div>
                        <div class="flex-row block-space case-study">
                            <div class="flex-item-6 center flex-column space">
                                <img class="img-size lazyload" data-src="{{ asset('@images/v2/case-studies/benefits-aws.svg') }}" alt="The Benefits">
                            </div>
                            <div class="flex-item-6">
                                <div class="marginTop36 text-20">
                                    <span class="text-bold">AWS Serverless</span> provides an incredibly
                                    rich suite of next generation cloud native services.
                                    Mitoc Group made it easier and quicker to build and release software,
                                    as well as manage services and associated resources.
                                    We increased development agility and reduced product's time to market.
                                    Engaging continuous integration and continuous deployment processes allowed
                                    us to remain a small team with a tiny budget.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

{% endblock %}
