{% extends '../case-studies.twig' %}

{% block content %}

    <div class="hide-mobile">
        <div class="space-top header case-study flex-column">
            <div class="header__bg green">
                <div class="bg bg-green bg-pic publishing-conglomerate flex-column">
                    <div class="container text-styles">
                        <div class="flex-row">
                            <div class="flex-item-3">

                            </div>
                            <div class="flex-item-9 flex-column text-color-white">
                                <p>Case Study</p>
                                <h1>Major Publishing Conglomerate</h1>
                                <h5 class="text-24 marginTop36">
                                    A leading media, information and services company with hundreds of businesses under its umbrella.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="widthBlock80 up80 paddingBottom61">
                <div class="flex-row case-study-br">
                    <div class="flex-item-3">
                        <h2 class="text-36-SemiBold">
                            About the Company
                        </h2>
                    </div>
                    <div class="flex-item-9 padding-left43">
                        <h4 class="text-20 text-color-dark paddingBottom20">
                            Major publishing conglomerate continues a legacy of innovation for more than
                            a dozen of decades — and a love of what's next.
                        </h4>
                        <p>
                            Their portfolio includes ownership in cable television networks,
                            newspapers and magazines around the world, global financial services,
                            medical information and services businesses, digital services and emerging digital entertainment companies.
                        </p>
                    </div>
                </div>
            </div>
            <div class="block-img marginBottom-94">
                <div class="flex-row display-grid">
                    <div class="flex-item-7 what-is flex-column gradient-left-right green">
                        <div class="text-color-white text-italic text-left">
                            The company embarked on a journey to produce unique meaningful insights across their televisions,
                            newspapers and magazines that only few in the industry are able to address.
                        </div>
                    </div>
                    <div class="flex-item-5">
                        <img
                            {{ images['/images/v2/png/publishing-conglomerate.png'] }}
                            sizes="(max-width: 500px) 100vw,
                                ((min-width: 500px) and (max-width: 750px)) 50vw, 33vw"
                            alt="Case Study Publishing Conglomerate"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="gray-block">
            <div class="container">
                <div class="widthBlock80 paddingTop150 paddingBottom61">
                    <div class="flex-row case-study-br">
                        <div class="flex-item-3">
                            <h2 class="text-36-SemiBold">
                                The Challenge
                            </h2>
                        </div>
                        <div class="flex-item-9 padding-left43">
                            <h4 class="text-20 text-color-dark paddingBottom20">
                                Major publishing conglomerate creates breaking news and entertainment content
                                that gets consumed by millions around the world.
                            </h4>
                            <p>
                                The company wanted to consolidate and link both online and offline behavioral data
                                with marketing and advertising data that would help decision makers to learn about business performance in minutes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="footer-bg green-block flex-column">
            <div class="container">
                <div class="center text-styles text-color-white text-italic-regular text-20 widthBlock80">
                    "We want to be internal enablers and cloud advocates, to provide meaningful help
                    and support without being the ones who delay or block adoption of cloud services.
                    Let's get stuff done and get out of the way of smart people who onboard on their cloud journeys.
                    Also, we don't want to be featured in the media for some security breaches or other unwanted negative press,
                    so let's do it by the book, no cut corners."
                </div>
                <div class="marginTop36 uppercase center text-20 text-color-white">
                    Executive @ Major Publishing Conglomerate
                </div>
            </div>
        </section>
        <section>
            <div class="gray-block block-left">
                <div class="container">
                    <div class="widthBlock80">
                        <div class="up80 down80">
                            <div class="center">
                                <h3 class="text-36-SemiBold">Why Mitoc Group?</h3>
                                <div class="mobile-img">
                                    <img class="img-size lazyload" data-src="{{ asset('@images/v2/case-studies/why-mitoc.svg') }}" alt="Case Study">
                                </div>
                                <div class="paddingTop20 text-20 text-bold widthBlock70">
                                    Primarily driven by revenue data coming from Google AdX and Google DfP,
                                    as well as newly announced Google BigQuery's capabilities,
                                    the customer reached out to Mitoc Group in order to design and implement the data
                                    management processes.
                                </div>
                            </div>
                            <div class="flex-row block-space">
                                <div class="flex-item-6">
                                    <ul class="square green marginTop36 text-20">
                                        <li>
                                            With proven track record in automation and data operations,
                                            we provided very detailed plan on how to address revenue data sources first.
                                        </li>
                                        <li class="marginTop36">
                                            Later integrate into a standardized workflow other sources like online
                                            behavioral data,
                                            offline subscribers data, social media data and marketing operational data.
                                        </li>
                                    </ul>
                                </div>
                                <div class="flex-item-6 center flex-column space">
                                    <img class="img-size web-img lazyload" data-src="{{ asset('@images/v2/case-studies/why-mitoc.svg') }}" alt="Case Study">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
               <div class="widthBlock80">
                   <div class="up80 down80">
                       <div class="center">
                           <h3 class="text-36-SemiBold">The Benefits</h3>
                       </div>
                       <div class="flex-row block-space case-study">
                           <div class="flex-item-6 center flex-column space">
                               <img class="img-size lazyload" data-src="{{ asset('@images/v2/case-studies/benefits-google.svg') }}" alt="The Benefits">
                           </div>
                           <div class="flex-item-6">
                               <div class="marginTop36 text-20">
                                   Agile methodology and incremental approach to data operations allowed
                                   the customer to reduce dashboard's delivery time from a month and a half down to 72 hours.
                                   Also, consolidation across business units of enterprise licenses and enterprise agreements
                                   for data sources reduced their bill by several millions of dollars a year.
                                   Automation of data processes increased company's appetite for better and richer
                                   data insights that directly brings positive business impact and delivers
                                   on corporate goal of providing what's next.
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </section>
    </div>

{% endblock %}
