# IntelliJ files
.idea

# Dependency directories
node_modules
package-lock.json

# Configs
.env

# Compiled files
build/*
static/js/*
static/css/*

# Logs
*.log

#SHA256 index
index.txt

# custom
.DS_Store
.sass-cache
npm-debug.log

**/.terraform
**/terraform.**
