{
  "lambdaName": "MediumFeedMitocgroup",
  "lambda": "index.js",
  "handler": "handler",
  "event": "event.js",
  "role": "arn:aws:iam::888888888888:role/XxxxxxxXxxxXxxxxxXxxxxxxxxxx",
  "collectionId":"Xxxx8xxx88xxXxx",
  "feedItemsToShow": 30,
  "maxImageWidth": 590,
  "destBucket": "www.mitocgroup.com"
}
