{% extends 'layout.twig' %}

{% block css %}
<link rel="stylesheet" href="{{ asset('@css/common.min.css') }}" />
{% endblock %}

{% block body %}
<div class="wrapper">
  <div id="checkdiv"></div>
  {% block content %}{% endblock %}
</div>
{% endblock %}

{% block js %}
<script async src="{{ asset('@js/common.min.js') }}"></script>
{% endblock %}
