<footer itemscope itemtype="http://schema.org/WPFooter">
  <div class="container">
    <div class="flex-row">
      <div class="flex-item-3">
        <div class="logo">
          <a href="/"><img class="mitoc-logo" src="{{ asset('@images/v2/logos/mitoc.svg') }}" alt="Mitoc Group Logo" /></a>
          <div class="mobile">
            Copyright &copy; Mitoc Group Inc.
            <div>Since 2014. All rights reserved.</div>
          </div>
        </div>
      </div>
      <div class="flex-item-3 block-info">
        <h4>Navigate</h4>
        <div class="flex">
          <ul>
            <li><a href="/services/">Services</a></li>
            <li><a href="/partners/">Partners</a></li>
            <li><a href="/case-studies/">Case Studies</a></li>
          </ul>
          <ul>
            <li><a href="/about/">About Us</a></li>
            <li><a href="/contact/">Contact</a></li>
            <li><a href="https://blog.mitocgroup.com">Blog</a></li>
          </ul>
        </div>
      </div>
      <div class="flex-item-3 block-info">
        <div><h4>Mitoc Group</h4></div>
        <a class="location" href="https://goo.gl/oY87jd" target="_blank" rel="noreferrer">
          <i class="icon-map-marker"></i>
          <div class="one-line">2 University Plaza Suite 100<br/>Hackensack New Jersey 07601</div>
        </a>
        <a class="phone" href="tel:+18018108186"><i class="icon-phone"></i>(+1) 801 810 8186</a>
        <a class="email" href="mailto:hello@mitocgroup.com"><i class="icon-email"></i>hello@mitocgroup.com</a>
      </div>
      <div class="flex-item-3 block-info flex">
        <a href="https://aws.amazon.com/partners/find/partnerdetails/?id=001E0000018XsYSIA0" target="_blank" rel="noreferrer">
          <img class="aws-logo lazyload" data-src="{{ asset('@images/v2/partners/aws-partner-saas.svg') }}" alt="Amazon Web Services" />
        </a>
        <a href="https://cloud.withgoogle.com/partners/detail/?id=CIGAgICAgID7%2FgE%3D&language=en&hl=en-US" target="_blank" rel="noreferrer">
          <img class="aws-logo lazyload" data-src="{{ asset('@images/v2/partners/google-partner.svg') }}" alt="Google Cloud Platform" />
        </a>
      </div>
    </div>
    <div class="display-flex footer-down">
      <a href="/terms/"><p>Terms &amp; Conditions</p></a>
      <a href="/privacy/"><p>Privacy Policy</p></a>
      <div class="media" id="contact">
        <a href="https://www.linkedin.com/company/mitoc-group" alt="Mitoc Group on LinkedIn" target="_blank" rel="noreferrer"><i class="icon-linkedin"></i></a>
        <a href="https://twitter.com/MitocGroup" alt="Mitoc Group on Twitter" target="_blank" rel="noreferrer"><i class="icon-twitter"></i></a>
        <a href="https://facebook.com/MitocGroup" alt="Mitoc Group on Facebook" target="_blank" rel="noreferrer"><i class="icon-facebook"></i></a>
        <a href="https://github.com/MitocGroup" alt="Mitoc Group on GitHub" target="_blank" rel="noreferrer"><i class="icon-github"></i></a>
        <a href="https://www.youtube.com/channel/UCyLr_SKBBsA9pNxouO9VB0Q" alt="Mitoc Group on YouTube" target="_blank" rel="noreferrer"><i class="icon-youtube"></i></a>
      </div>
    </div>
  </div>
</footer>
