<div class="wrapper">
  <section class="footer-bg green-block flex-column">
    <div class="container">
      <div class="center text-styles text-color-white">
        <h3>well done is better than well said.</h3>
        <h2>Let's Build Something Great Together</h2>
        <button class="btn btn-white start-project">Start a Project</button>
      </div>
    </div>
  </section>
</div>
