{% extends 'layout.twig' %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('@css/services.min.css') }}"/>
{% endblock %}

{% block body %}
  <div class="wrapper">
    {% block content %}{% endblock %}
  </div>
{% endblock %}

{% block js %}
  <script async src="{{ asset('@js/services.min.js') }}"></script>
{% endblock %}
