{% extends 'layout.twig' %}

{% block css %}
  <link rel="stylesheet" href="{{ asset('@css/common.min.css') }}"/>
{% endblock %}

{% block body %}
  <div class="wrapper">
    <div class="hide-mobile">
      <div class="down80">
        <div id="main">
          <div class="container menu-scroll">
            <div id="sidebar">
              <div id="checkdiv"></div>
              <nav class="nav-scroll">
                <ul>
                  <li><a href="#about" class="active">About The Site</a></li>
                  <li><a href="#paid">Paid Services</a></li>
                  <li><a href="#content-restrictions">Content And Restrictions</a></li>
                  <li><a href="#service">Use Of The Site Or The Service</a></li>
                  <li><a href="#restrictions">Use Restrictions</a></li>
                  <li><a href="#propperty">Intelectual Propperty</a></li>
                  <li><a href="#indemnification">Indemnification</a></li>
                  <li><a href="#online">Online Content Disclaimer</a></li>
                  <li><a href="#communications">User Consent To Receive Communications In Electronic Form</a></li>
                  <li><a href="#warranty">Warranty Disclaimer</a></li>
                  <li><a href="#limitation">Limitation Of Damages; Release</a></li>
                  <li><a href="#modification">Modification Of Terms Of Use</a></li>
                  <li><a href="#privacy">Privacy Policy</a></li>
                  <li><a href="#terms">General Terms</a></li>
                  <li><a href="#california">Notice For California Users</a></li>
                </ul>
              </nav>
            </div>
            <div id="content">
              <section>
                <h1 class="paddingBottom20">Terms and Conditions</h1>
                <div>
                  Last updated: 2018-02-01.
                </div>
                <p>
                  Welcome to MitocGroup.com, a website operated by Mitoc Group Inc (the "Company").
                </p>
                <p>
                  The following Terms of Use (the "Terms") apply when you use the website located at www.mitocgroup.com (the
                  "Site").
                  Please review these Terms carefully. By clicking "I accept", by creating an account,
                  or by accessing or using the Site, you show you agree to these Terms. If you don't agree to these
                  Terms,
                  you may not access or use the Site.
                </p>
              </section>
              <section id="about">
                <h2 class="paddingBottom20">About The Site</h2>
                <p>
                  The Site provides access to AdTechMedia, an advertising platform with micropayments capabilities
                  for media content monetization (the "Platform").
                </p>
                <p>
                  The "Service" is defined as any service provided or enabled via the Platform.
                </p>
                <p>
                  The Platform empowers publishers and content providers (the "Business Customers")
                  to generate complementary revenue streams that are immune to ad blocking software.
                </p>
                <p>
                  The Business Customers may provide text, images, software, videos and/or other material
                  on their own web sites or web applications, including user-generated material (the "Content").
                </p>
                <p>
                  The Business Customers can easily and seamlessly integrate the Platform into their
                  web sites or web applications, offering their web users (the "Content Consumers")
                  options to either pay for the Content out of their pockets through micropayments
                  or watch advertising to continue consuming the Content for free.
                </p>
                <p>
                  The Site allows the Business Customers to register for the Service. As discussed in Privacy Policy,
                  when you register for the Service, you'll be asked to provide your email address and optional
                  password.
                  Further, Business Customers will be required to provide certain information about themselves and their
                  company,
                  such as first name and last name, company name, employer identification number or tax identification
                  number,
                  bank account number, and billing address.
                </p>
                <p>
                  Content Consumers will be required to provide certain information such as first name,
                  last name, and email address, as well as information about their payment gateway accounts,
                  such as (but not limited to) Apple Pay, Android Pay, PayPal, Amazon Payments,
                  Stripe (the "Payment Gateways"). The Payment Gateways will generate time-limited identity tokens,
                  which the Platform will retain for further use.
                </p>
                <p>
                  Also, please note that the Site is under constant development. New features may be added frequently,
                  so it's important to check back to this page for updates.
                </p>
              </section>
              <section id="paid">
                <h2 class="paddingBottom20">Paid Services</h2>
                <p>
                  The Content Consumers are charged for access to the Content by the Business Customers
                  only when they choose to pay using the Platform's micropayments feature.
                  All micropayment transactions within a month are consolidated and,
                  if they meet the minimum payment limit imposed by the Payment Gateways,
                  are charged to the Content Consumers as one transaction to the associated payment option.
                </p>
                <p>
                  The Content Consumers are charged via the web sites or web applications for the Business Customers
                  using the payment option specified on the Business Customer's web site or web application,
                  which may have its own legal terms.
                </p>
                <p>
                  During the first 5 (five) days of the month following the month in which funds from
                  the Content Consumers were received, the Company will consolidate all amounts
                  collected from the Content Consumers in the previous month. Unless otherwise
                  specified in a separate agreement, the Company will retain 30% (thirty percent)
                  of each transaction collected from the Content Consumers (the "Fee")
                  and transfer the remaining balance to the Business Customers.
                </p>
                <p>
                  You can terminate your use of the Service, change your password, and otherwise manage your account
                  using the Site.
                </p>
                <p>
                  We reserve the right to change the Company's Fee. If the Company does change its Fee,
                  the Company will provide notice of the change on the Site or in email to you, at the Companyss option,
                  at least 14 (fourteen) days before the change is to take effect. Your continued use of
                  the Service after the Fee change becomes effective constitutes your agreement to the changed amount.
                </p>
              </section>
              <section id="content-restrictions">
                <h2 class="paddingBottom20">Content And Restrictions</h2>
                <span>
                  The following rules pertain to use of the Site and Service in connection with the Content.
                  By using the Site or the Service, you agree as follows:
                </span>
                <ul>
                  <li>
                    You are solely responsible for your account and the activity that occurs while signed
                    in to or while using your account;
                  </li>
                  <li>
                    You will not use the Service with the Content that is copyrighted or subject to
                    third party proprietary rights, including privacy, publicity, trade secret, etc,
                    unless you are the owner of such rights or have the appropriate permission from their
                    rightful owner to specifically submit such Content, or unless your use of the Content
                    is within the scope of fair use;
                  </li>
                  <li>
                    You will not use the Service with the Content that is pornographic.
                  </li>
                  <li>
                    You understand and agree that any liability, loss or damage that occurs as a result of the use
                    of any Content that you make available or access through your use of the Site or the Service
                    is solely your responsibility.
                  </li>
                </ul>
                <p>
                  The Company is not responsible for any public display or misuse of the Content.
                  The Company does not, and cannot, pre-screen or monitor all the Content.
                  However, at our discretion, technology we use may monitor and/or record the use of
                  the Service in conjunction with the Content.
                </p>
              </section>
              <section id="service">
                <h2 class="paddingBottom20">Use Of The Site Or The Service</h2>
                <div>
                  You need to be at least 18 years old to use the Site or the Service.
                </div>
                <p>
                  You hereby affirm we have the right to terminate your account for any reason, with or without prior
                  notice.
                </p>

              </section>
              <section id="restrictions">
                <h2 class="paddingBottom20">Use Restrictions</h2>
                <div>
                  Your permission to use the Site and the Service is conditioned upon the following restrictions and
                  conditions.
                </div>
                <span>
                  You agree that you will not:
                </span>
                <ul>
                  <li>
                    use the Site or the Service for any unlawful purpose or for the promotion of illegal activities;
                  </li>
                  <li>
                    use another user's account without permission;
                  </li>
                  <li>
                    provide false or inaccurate information when registering an account;
                  </li>
                  <li>
                    interfere or attempt to interfere with the proper functioning of the Site or the Service;
                  </li>
                  <li>
                    make any automated use of the system, or take any action that we deem to impose or to potentially
                    impose
                    an unreasonable or disproportionately large load on our servers or network infrastructure;
                  </li>
                  <li>
                    bypass any robot exclusion headers or other measures we take to restrict access to the Site or
                    the Service or use any software, technology, or device to scrape, spider,
                    or crawl the Site or the Service or harvest or manipulate data;
                  </li>
                  <li>
                    publish or link to malicious content intended to damage or disrupt another user's browser or
                    computer.
                  </li>
                </ul>
              </section>
              <section id="propperty">
                <h2 class="paddingBottom20">Intelectual Propperty</h2>
                <p>
                  You acknowledge and agree that the Company and its licensors retain ownership of all intellectual
                  property rights of any kind related to the Site or the Service (except for the Content),
                  including applicable copyrights, trademarks, and other proprietary rights.
                  The Company reserves all rights that are not expressly granted to you under these Terms.
                </p>
              </section>
              <section id="indemnification">
                <h2 class="paddingBottom20">Indemnification</h2>
                <p>
                  You agree to indemnify, defend, and hold harmless the Company from any and all claims,
                  liabilities, expenses, and damages, including reasonable attorneys' fees and costs,
                  made by any third party related to: (a) your use or attempted use of the Site or the Service
                  in violation of these Terms; (b) your violation of any law or rights of any third party;
                  or (c) your publication or sharing of Content, including without limitation any claim of
                  infringement or misappropriation of intellectual property or other proprietary rights.
                </p>
              </section>
              <section id="online">
                <h2 class="paddingBottom20">Online Content Disclaimer</h2>
                <p>
                  The Company takes no responsibility and assumes no liability for any Content that appears
                  in connection with the Service. Under no circumstances will the Company be responsible
                  for any loss or damage resulting from anyone's reliance on information or other
                  Content posted or transmitted in connection with the Service.
                </p>
              </section>
              <section id="communications">
                <h2 class="paddingBottom20">User Consent To Receive Communications In Electronic Form</h2>
                <p>
                  For contractual purposes, you (a) consent to receive emails via the email address you have submitted
                  when you sign up on the Site or the Service; and (b) agree that all Terms, agreements, notices,
                  disclosures, and other communications that the Company provides to you electronically satisfy
                  any legal requirement that such communications would satisfy if it were in writing.
                  The foregoing does not affect your non-waivable rights.
                </p>
                <p>
                  The Company may also use your email address to send you other messages,
                  including information about the Company and Site or the Service and special offers.
                  You may opt out of such email by changing your account settings, using a link in the email,
                  or sending an email to <span class="text-color-green">support@adtechmedia.io.</span>
                </p>
              </section>
              <section id="warranty">
                <h2 class="paddingBottom20">Warranty Disclaimer</h2>
                <p class="uppercase">
                  THE SITE AND SERVICE ARE PROVIDED "AS IS,"" WITHOUT WARRANTY OF ANY KIND. WITHOUT LIMITING THE
                  FOREGOING,
                  THE COMPANY EXPRESSLY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS, IMPLIED OR STATUTORY,
                  REGARDING THE SITE AND SERVICE INCLUDING WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABILITY,
                  FITNESS FOR A PARTICULAR PURPOSE, TITLE, SECURITY, ACCURACY AND NON-INFRINGEMENT.
                  WITHOUT LIMITING THE FOREGOING, THE COMPANY MAKES NO WARRANTY OR REPRESENTATION THAT ACCESS TO OR
                  OPERATION OF THE SITE OR THE SERVICE WILL BE UNINTERRUPTED OR ERROR FREE. YOU ASSUME FULL
                  RESPONSIBILITY AND RISK OF LOSS RESULTING FROM YOUR UPLOADING, DOWNLOADING, AND/OR USE OF FILES,
                  INFORMATION, CONTENT OR OTHER MATERIAL SENT TO OR OBTAINED FROM THE SITE OR THE SERVICE.
                  SOME JURISDICTIONS LIMIT OR DO NOT PERMIT DISCLAIMERS OF WARRANTY, SO THIS PROVISION MAY NOT APPLY TO
                  YOU.
                </p>
              </section>
              <section id="limitation">
                <h2 class="paddingBottom20">Limitation Of Damages; Release</h2>
                <p class="uppercase">
                  TO THE EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE COMPANY, ITS AFFILIATES, DIRECTORS,
                  OR EMPLOYEES, OR ITS LICENSORS OR PARTNERS, BE LIABLE TO YOU FOR ANY LOSS OF PROFITS, USE, OR DATA,
                  OR FOR ANY INCIDENTAL, INDIRECT, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, HOWEVER ARISING,
                  THAT RESULT FROM (A) THE USE, DISCLOSURE, OR DISPLAY OF YOUR CONTENT; (B) YOUR USE OR INABILITY
                  TO USE THE SITE OR THE SERVICE; (C) THE SITE OR THE SERVICE GENERALLY OR THE SOFTWARE OR SYSTEMS
                  THAT MAKE THE SITE AND SERVICE AVAILABLE; OR (D) ANY OTHER INTERACTIONS WITH THE COMPANY OR ANY
                  OTHER USER OF THE SITE OR THE SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING
                  NEGLIGENCE),
                  FRAUD, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY HAS BEEN INFORMED OF THE POSSIBILITY
                  OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND TO HAVE FAILED OF ITS ESSENTIAL
                  PURPOSE.
                  IN NO EVENT WILL COMPANY'S LIABILITY TO YOU EXCEED $10. SOME JURISDICTIONS LIMIT OR DO NOT PERMIT
                  DISCLAIMERS OF LIABILITY, SO THIS PROVISION MAY NOT APPLY TO YOU.
                </p>
              </section>
              <section id="modification">
                <h2 class="paddingBottom20">Modification Of Terms Of Use</h2>
                <p>
                  The Company can amend these Terms at any time. It's your responsibility to check the Site
                  from time to time to view any such changes. If you continue to use the Site or the Service,
                  you show your agreement to our revisions to these Terms. Any changes to these Terms
                  (other than as set forth in this paragraph) or waiver of the Company's rights hereunder
                  shall not be valid or effective except in a written agreement bearing the physical
                  signature of an officer of the Company. No purported waiver or modification of these
                  Terms by the Company via telephonic or email communications shall be valid.
                </p>
              </section>
              <section id="privacy">
                <h2 class="paddingBottom20">Privacy Policy</h2>
                <p>
                  The Company respects the privacy of its users. Please refer to <span class="text-color-green">Privacy Policy</span>,
                  which explains
                  how we collect, use, and disclose information that pertains to your privacy.
                  When you access or use the Site or the Service, you show that you agree to this Privacy Policy.
                </p>
              </section>
              <section id="terms">
                <h2 class="paddingBottom20">General Terms</h2>
                <p>
                  If any part of these Terms is held invalid or unenforceable, that portion of the Terms will
                  be construed consistent with applicable law. The remaining portions will remain in full force and
                  effect.
                  Any failure on the part of the Company to enforce any provision of these Terms will not be considered
                  a waiver of our right to enforce such provision. Our rights under these Terms will survive any
                  termination of these Terms.
                </p>
                <p>
                  You agree that any cause of action related to or arising out of your relationship with the Company
                  must commence within 1 (one) year after the cause of action accrues. Otherwise,
                  such cause of action is permanently barred.
                </p>
                <p>
                  These Terms and your use of the Site and Service are governed by the federal laws of
                  the United States of America and the laws of the State of New Jersey, without regard to conflict of
                  law provisions.
                </p>
                <p>
                  You agree to resolve any claims relating to these Terms or the Site or the Service through
                  final and binding arbitration. Any arbitration will be conducted by
                  the American Arbitration Association (AAA) under its commercial arbitration rules.
                  The arbitration will be held in Woodcliff Lake, New Jersey.
                </p>
                <p class="uppercase">
                  ARBITRATION MUST BE ON AN INDIVIDUAL BASIS. THIS MEANS NEITHER YOU NOR THE COMPANY MAY JOIN OR
                  CONSOLIDATE
                  CLAIMS IN ARBITRATION BY OR AGAINST OTHER USERS, OR LITIGATE IN COURT OR ARBITRATE ANY CLAIMS AS A
                  REPRESENTATIVE
                  OR MEMBER OF A CLASS OR IN A PRIVATE ATTORNEY GENERAL CAPACITY.
                </p>
                <p>
                  If you attempt to bring any legal action against the Company based in any way on the Site or
                  the Service you agree that, in the event you do not prevail or the Company does prevail,
                  you will reimburse the Company for any costs and attorneys' fees associated with its defense of the
                  action.
                </p>
                <p>
                  The Company may assign or delegate these Terms and/or the Company's Privacy Policy,
                  in whole or in part, to any person or entity at any time with or without your consent.
                  You may not assign or delegate any rights or obligations under the Terms or
                  Privacy Policy without the Company's prior written consent, and any unauthorized assignment and
                  delegation by you is void.
                </p>
              </section>
              <section id="california">
                <h2 class="paddingBottom20">Notice For California Users</h2>
                <p>
                  Under California Civil Code Section 1789.3, California users are entitled to the following specific
                  consumer rights notice: Current rates for the Service are at
                  <a class="link-text" href="http://www.mitocgroup.com/contact"> http://www.mitocgroup.com/contact</a>.
                  You may contact us at support@adtechmedia.io. The Complaint Assistance Unit of
                  the Division of Consumer Services of the California Department of Consumer Affairs
                  may be contacted in writing at 1625 N. Market
                  Blvd, Suite S-202, Sacramento, California 95834, or by telephone at (800) 952-5210.
                </p>
                <p class="uppercase">
                  YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS, UNDERSTAND THE TERMS, AND WILL BE BOUND BY THESE
                  TERMS.
                  YOU FURTHER ACKNOWLEDGE THAT THESE TERMS TOGETHER WITH THE PRIVACY POLICY
                  AT <a class="link-text" href="http://www.mitocgroup.com/privacy">http://www.mitocgroup.com/privacy</a>
                  REPRESENT THE COMPLETE AND EXCLUSIVE STATEMENT
                  OF THE AGREEMENT BETWEEN US AND THAT IT SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT ORAL OR WRITTEN,
                  AND ANY OTHER COMMUNICATIONS BETWEEN US RELATING TO THE SUBJECT MATTER OF THIS AGREEMENT.
                </p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script async src="{{ asset('@js/common.min.js') }}"></script>
{% endblock %}
