@import './styles/variables';

.events {
  .block-space {
    .blog-block {
      display: flex;
      flex-direction: column;
    }
  }

  img {
    height: 55%;
    width: 100%;
    padding-bottom: 20px;
  }
  .read-more {
    margin-bottom: 20px;
    display: inline-block;
    margin-top: auto;
  }
}
