@font-face {
	font-family: 'Exo2-Black';
	font-display: block;
	src: url('../fonts/Exo2-Black/Exo2-Black.eot');
	src: local('☺'), url('../fonts/Exo2-Black/Exo2-Black.woff') format('woff'), url('../fonts/Exo2-Black/Exo2-Black.ttf'),
	url('../fonts/Exo2-Black/Exo2-Black.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Black-Italic';
	font-display: block;
	src: url('../fonts/Exo2-Black-Italic/Exo2-BlackItalic.eot');
	src: local('☺'), url('../fonts/Exo2-Black-Italic/Exo2-BlackItalic.woff') format('woff'), url('../fonts/Exo2-Black-Italic/Exo2-BlackItalic.ttf'),
	url('../fonts/Exo2-Black-Italic/Exo2-BlackItalic.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Regular';
	font-display: block;
	src: url('../fonts/Exo2-Regular/Exo2-Regular.eot');
	src: local('☺'), url('../fonts/Exo2-Regular/Exo2-Regular.woff') format('woff'), url('../fonts/Exo2-Regular/Exo2-Regular.ttf'),
	url('../fonts/Exo2-Regular/Exo2-Regular.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Bold';
	font-display: block;
	src: url('../fonts/Exo2-Bold/Exo2-Bold.eot');
	src: local('☺'), url('../fonts/Exo2-Bold/Exo2-Bold.woff') format('woff'), url('../fonts/Exo2-Bold/Exo2-Bold.ttf'),
	url('../fonts/Exo2-Bold/Exo2-Bold.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Extra-Bold';
	font-display: block;
	src: url('../fonts/Exo2-Extra-Bold/Exo2-ExtraBold.eot');
	src: local('☺'), url('../fonts/Exo2-Extra-Bold/Exo2-ExtraBold.woff') format('woff'), url('../fonts/Exo2-Extra-Bold/Exo2-ExtraBold.ttf'),
	url('../fonts/Exo2-Extra-Bold/Exo2-ExtraBold.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Extra-Bold-Italic';
	font-display: block;
	src: url('../fonts/Exo2-Extra-Bold-Italic/Exo2-ExtraBoldItalic.eot');
	src: local('☺'), url('../fonts/Exo2-Extra-Bold-Italic/Exo2-ExtraBoldItalic.woff') format('woff'), url('../fonts/Exo2-Extra-Bold-Italic/Exo2-ExtraBoldItalic.ttf'),
	url('../fonts/Exo2-Extra-Bold-Italic/Exo2-ExtraBoldItalic.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Extra-Light-Italic';
	font-display: block;
	src: url('../fonts/Exo2-Extra-Light-Italic/Exo2-ExtraLightItalic.eot');
	src: local('☺'), url('../fonts/Exo2-Extra-Light-Italic/Exo2-ExtraLightItalic.woff') format('woff'), url('../fonts/Exo2-Extra-Light-Italic/Exo2-ExtraLightItalic.ttf'),
	url('../fonts/Exo2-Extra-Light-Italic/Exo2-ExtraLightItalic.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Italic';
	font-display: block;
	src: url('../fonts/Exo2-Italic/Exo2-Italic.eot');
	src: local('☺'), url('../fonts/Exo2-Italic/Exo2-Italic.woff') format('woff'), url('../fonts/Exo2-Italic/Exo2-Italic.ttf'),
	url('../fonts/Exo2-Italic/Exo2-Italic.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Light';
	font-display: block;
	src: url('../fonts/Exo2-Light/Exo2-Light.eot');
	src: local('☺'), url('../fonts/Exo2-Light/Exo2-Light.woff') format('woff'), url('../fonts/Exo2-Light/Exo2-Light.ttf'),
	url('../fonts/Exo2-Light/Exo2-Light.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Light-Italic';
	font-display: block;
	src: url('../fonts/Exo2-Light-Italic/Exo2-LightItalic.eot');
	src: local('☺'), url('../fonts/Exo2-Light-Italic/Exo2-LightItalic.woff') format('woff'), url('../fonts/Exo2-Light-Italic/Exo2-LightItalic.ttf'),
	url('../fonts/Exo2-Light-Italic/Exo2-LightItalic.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Extra-Light';
	font-display: block;
	src: url('../fonts/Exo2-Extra-Light/Exo2-ExtraLight.eot');
	src: local('☺'), url('../fonts/Exo2-Extra-Light/Exo2-ExtraLight.woff') format('woff'), url('../fonts/Exo2-Extra-Light/Exo2-ExtraLight.ttf'),
	url('../fonts/Exo2-Extra-Light/Exo2-ExtraLight.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Medium';
	font-display: block;
	src: url('../fonts/Exo2-Medium/Exo2-Medium.eot');
	src: local('☺'), url('../fonts/Exo2-Medium/Exo2-Medium.woff') format('woff'), url('../fonts/Exo2-Medium/Exo2-Medium.ttf'),
	url('../fonts/Exo2-Medium/Exo2-Medium.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Medium-Italic';
	font-display: block;
	src: url('../fonts/Exo2-Medium-Italic/Exo2-MediumItalic.eot');
	src: local('☺'), url('../fonts/Exo2-Medium-Italic/Exo2-MediumItalic.woff') format('woff'), url('../fonts/Exo2-Medium-Italic/Exo2-MediumItalic.ttf'),
	url('../fonts/Exo2-Medium-Italic/Exo2-MediumItalic.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Semi-Bold';
	font-display: block;
	src: url('../fonts/Exo2-Semi-Bold/Exo2-SemiBold.eot');
	src: local('☺'), url('../fonts/Exo2-Semi-Bold/Exo2-SemiBold.woff') format('woff'), url('../fonts/Exo2-Semi-Bold/Exo2-SemiBold.ttf'),
	url('../fonts/Exo2-Semi-Bold/Exo2-SemiBold.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Semi-Bold-Italic';
	font-display: block;
	src: url('../fonts/Exo2-Semi-Bold-Italic/Exo2-SemiBoldItalic.eot');
	src: local('☺'), url('../fonts/Exo2-Semi-Bold-Italic/Exo2-SemiBoldItalic.woff') format('woff'), url('../fonts/Exo2-Semi-Bold-Italic/Exo2-SemiBoldItalic.ttf'),
	url('../fonts/Exo2-Semi-Bold-Italic/Exo2-SemiBoldItalic.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Thin';
	font-display: block;
	src: url('../fonts/Exo2-Thin/Exo2-Thin.eot');
	src: local('☺'), url('../fonts/Exo2-Thin/Exo2-Thin.woff') format('woff'), url('../fonts/Exo2-Thin/Exo2-Thin.ttf'),
	url('../fonts/Exo2-Thin/Exo2-Thin.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Exo2-Thin-Italic';
	font-display: block;
	src: url('../fonts/Exo2-Thin-Italic/Exo2-ThinItalic.eot');
	src: local('☺'), url('../fonts/Exo2-Thin-Italic/Exo2-ThinItalic.woff') format('woff'), url('../fonts/Exo2-Thin-Italic/Exo2-ThinItalic.ttf'),
	url('../fonts/Exo2-Thin-Italic/Exo2-ThinItalic.woff2') format('truetype');
	font-weight: normal;
	font-style: normal;
}
