.bold {
  font-weight: bold;
  letter-spacing: 0.01em;
}

.uppercase {
  text-transform: uppercase;
}

.small-container {
  margin-right: auto;
  margin-left: auto;
  width: 35%;
  padding: 30px 0;
  .initial-link {
    text-align: center;
    color: rgba(0,0,0,0.7);
    font-family: 'CharterItalic', sans-serif;
    font-size: 20px;
    letter-spacing: 0.3px;
    a {
      color: #3b6aabe3;
      letter-spacing: 0.8px;
      display: inline-block;
    }
  }
}

.u-maxWidth740 {
  max-width: 740px!important;
  margin-top: 20px;
  img {
    width: 100%;
  }
}

.width740Image {
  margin-top: 42px;
}

.flex {
  display: flex;
}

.header-post {
  padding-top: 35px;
  padding-bottom: 10px;
  .about {
    padding-left: 10px;
    line-height: 20px;
    a {
      &:first-child {
        font-size: 16px;
        color: rgba(0,0,0,.84);
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      color: rgba(0,0,0,.54);
      font-family: 'Roboto-Regular', sans-serif;
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }
}

.avatar-blog {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  img {
    width: 100%;
    height: 75px;
    object-fit: cover;
  }
}

.btn-follow {
  height: 19px;
  line-height: 19px;
  padding: 0 10px;
  border: 1px solid #02B875;
  color: #1C9963;
  margin-left: 10px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: inherit;
  span {
    font-size: 15px;
  }
}

.footer-post {
  margin-top: 20px;
  .line-up {
    border-top: 1px solid rgba(0,0,0,.05);
  }
  .flex-row {
    margin-left: -20px;
    margin-right: -20px;
    .flex-item-6 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .btn-follow {
    height: 32px;
    line-height: 32px;
    padding: 0 14px;
  }
  .title-post {
    font-size: 21px;
    line-height: 24px;
    a {
      color: rgba(0,0,0,.84);
      &:hover {
        color: #1C9963;
      }
    }
  }
  .p-footer {
    font-size: 16px;
    color: rgba(0,0,0,.76);
  }
  .logo {
    img {
      width: 50px;
    }
  }
}

.displayTable {
  display: table-cell;
}

.u-paddindBottom-20 {
  padding-bottom: 20px;
}

.u-pagginfLeftRight-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-paddindTop-20 {
  padding-top: 20px;
}

.u-paddingLeft-15 {
  padding-left: 15px;
}

.u-paddingTop-15 {
  padding-top: 15px;
}

.u-paddingBotton-4 {
  padding-bottom: 4px;
}

.u-verticalAlignMiddle {
  vertical-align: middle;
}

.u-verticalAlignTop {
  vertical-align: top;
}

.graf-up {
  margin-top: 10px;
}

.graf-gists {
  margin-top: 43px;
}

.graf-grap {
  margin-top: 29px;
}

.graf-ol-li {
  list-style-type: upper-greek;
  li {
    margin-left: 30px;
    margin-bottom: 14px;
    a {
      word-break: break-word;
    }
  }
}

.graf--li {
  list-style-position: inside;
  li {
    margin-left: 30px;
    margin-bottom: 14px;
    a {
      word-break: break-all;
    }
  }
}

.hljs {
  margin-top: 43px;
}

.u-maxWidth1000 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 52px;
  img {
    width: 100%;
  }
}

.layoutOutsetLeft {
  padding-top: 20px;
  .floatleft {
    float: left;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    margin-left: -150px;
  }
  .graf--li {
    list-style-position: outside;
  }
}

.img-description {
  font-size: 16px;
  line-height: 1.4;
  color: rgba(0,0,0,.68);
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  a {
    color: rgba(0,0,0,.68);
    background-image: linear-gradient(to bottom,rgba(0,0,0,.68) 50%,rgba(0,0,0,0) 50%);
    background-repeat: repeat-x;
    background-size: 2px .1em;
    background-position: bottom;
    word-break: break-word;
  }
}

.gist-file {
  margin-top: 43px;
}

.post {
  h1 {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-size: 35px;
    padding-top: 5px;
    font-family: 'Roboto-Bold', sans-serif;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
  }
  .graf-gray {
    color: rgba(0,0,0,0.54);
    padding-top: 5px;
  }
  .graf {
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
    font-family: 'CharterRegular', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    a {
      font-family: 'CharterRegular', sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -moz-font-feature-settings: "liga" on;
      text-decoration: none;
      color: rgba(0,0,0,.84);
      background-image: linear-gradient(to bottom,rgba(0,0,0,.68) 50%,rgba(0,0,0,0) 50%);
      background-repeat: repeat-x;
      background-size: 2px .1em;
      background-position: bottom;
    }
  }
  h3 {
    margin-top: 59px;
    font-size: 31px;
    margin-left: -2.13px;
    line-height: 1.15;
    letter-spacing: -.015em;
    font-family: 'Roboto-Bold', sans-serif;
  }
  h4 {
    margin-top: 30px;
    font-size: 26px;
    margin-left: -1.63px;
    line-height: 1.22;
    letter-spacing: -.012em;
    font-family: 'Roboto-Bold', sans-serif;
  }
}

.italic {
  font-family: 'CharterItalic', sans-serif;
}
