@import './styles/variables';

.bold {
  font-weight: bold;
  letter-spacing: 0.01em;
}

.uppercase {
  text-transform: uppercase;
}

.small-container {
  margin-right: auto;
  margin-left: auto;
  width: 35%;
  padding: 30px 0;
  .initial-link {
    text-align: center;
    color: rgba(0, 0, 0, 0.7);
    font-family: 'CharterItalic', sans-serif;
    font-size: 20px;
    letter-spacing: 0.3px;
    a {
      color: #3b6aabe3;
      letter-spacing: 0.8px;
      display: inline-block;
    }
  }
}

.u-maxWidth740 {
  max-width: 740px !important;
  margin-top: 20px;
  img {
    width: 100%;
  }
}

.width740Image {
  margin-top: 42px;
}

.flex {
  display: flex;
}

.header-post {
  padding-top: 35px;
  padding-bottom: 10px;
  .about {
    padding-left: 10px;
    line-height: 20px;
    a {
      &:first-child {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.84);
        &:hover {
          text-decoration: underline;
        }
      }
    }
    p {
      color: rgba(0, 0, 0, 0.54);
      font-family: 'Roboto-Regular', sans-serif;
      font-size: 14px;
      letter-spacing: 0.5px;
    }
  }
}

.avatar-blog {
  height: 60px;
  width: 60px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  overflow: hidden;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  img {
    width: 100%;
    height: 75px;
    object-fit: cover;
  }
}

.footer-post {
  margin-top: 20px;
  .line-up {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  .flex-row {
    margin-left: -20px;
    margin-right: -20px;
    .flex-item-6 {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .title-post {
    font-size: 21px;
    line-height: 24px;
    a {
      color: rgba(0, 0, 0, 0.84);
      &:hover {
        color: #1c9963;
      }
    }
  }
  .p-footer {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.76);
  }
  .logo {
    img {
      width: 50px;
    }
  }
}

.displayTable {
  display: table-cell;
}

.u-paddindBottom-20 {
  padding-bottom: 20px;
}

.u-pagginfLeftRight-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-paddindTop-20 {
  padding-top: 20px;
}

.u-paddingLeft-15 {
  padding-left: 15px;
}

.u-paddingTop-15 {
  padding-top: 15px;
}

.u-paddingBotton-4 {
  padding-bottom: 4px;
}

.u-verticalAlignMiddle {
  vertical-align: middle;
}

.u-verticalAlignTop {
  vertical-align: top;
}

.graf-up {
  margin-top: 10px;
}

.graf-gists {
  margin-top: 43px;
}

.graf-grap {
  margin-top: 29px;
}

.graf-ol-li {
  list-style-type: upper-greek;
  li {
    margin-left: 30px;
    margin-bottom: 14px;
    a {
      word-break: break-word;
    }
  }
}

.graf--li {
  list-style-position: inside;
  li {
    margin-left: 30px;
    margin-bottom: 14px;
    a {
      word-break: break-all;
    }
  }
}

.hljs {
  margin-top: 43px;
}

.u-maxWidth1000 {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 52px;
  img {
    width: 100%;
  }
}

.layoutOutsetLeft {
  padding-top: 20px;
  .floatleft {
    float: left;
    margin-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 75%;
    margin-left: -150px;
  }
  .graf--li {
    list-style-position: outside;
  }
}

.img-description {
  font-size: 16px;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.68);
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  a {
    color: rgba(0, 0, 0, 0.68);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.68) 50%, rgba(0, 0, 0, 0) 50%);
    background-repeat: repeat-x;
    background-size: 2px 0.1em;
    background-position: bottom;
    word-break: break-word;
  }
}

.gist-file {
  margin-top: 43px;
}

.post {
  margin-bottom: 30px;
  h1 {
    --x-height-multiplier: 0.342;
    --baseline-multiplier: 0.22;
    font-size: 35px;
    padding-top: 5px;
    font-family: 'Roboto-Bold', sans-serif;
    line-height: 1.3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga' on;
  }
  .graf {
    font-size: 21px;
    line-height: 1.58;
    letter-spacing: -0.003em;
    color: rgba(0, 0, 0, 0.84);
    font-family: '"Charter Regular", sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: 'liga' on;
    a {
      font-family: '"Charter Regular", sans-serif';
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -moz-font-feature-settings: 'liga' on;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.84);
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.68) 50%, rgba(0, 0, 0, 0) 50%);
      background-repeat: repeat-x;
      background-size: 2px 0.1em;
      background-position: bottom;
    }
  }
  h3 {
    margin-top: 59px;
    font-size: 31px;
    margin-left: -2.13px;
    line-height: 1.15;
    letter-spacing: -0.015em;
    font-family: 'Roboto-Bold', sans-serif;
  }
  h4 {
    margin-top: 30px;
    font-size: 26px;
    margin-left: -1.63px;
    line-height: 1.22;
    letter-spacing: -0.012em;
    font-family: 'Roboto-Bold', sans-serif;
  }
  .graf-gray {
    color: rgba(0, 0, 0, 0.54);
    padding-top: 5px;
    font-size: inherit;
  }
}

.italic {
  font-family: 'CharterItalic', sans-serif;
}

.last-blogs {
  margin-top: -75px;
  font-family: 'Eox2-Regular', sans-serif;
  .flex-row {
    justify-content: space-around;
    padding: 30px 0;
    .flex-column {
      align-items: center;
      h3 {
        font-family: 'Eox2-Regular', sans-serif;
        color: $dark-green;
        font-weight: 500;
        font-size: 1.17em;
      }
    }
    .learn-more {
      font-size: 15px;
    }
    .blog-post {
      font-family: 'Exo2-Regular', sans-serif;
      font-size: 15px;
      font-weight: 500;
      text-overflow: ellipsis;
      overflow: hidden;
      height: auto;
      display: flex;
      flex-direction: column;
      -webkit-line-clamp: 3;
      margin-bottom: 20px;
    }
    .btn-border-green {
      margin: 20px auto 30px;
      font-size: 13px;
      padding: 5px 0px;
      width: 120px;
      font-family: 'Eox2-Regular', sans-serif;
    }
    .flex-item-3 {
      flex-direction: column;
      .blog-post {
        .description {
          font-size: 14px;
          line-height: 20px;
          text-overflow: ellipsis;
          overflow: hidden;
          max-height: 60px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
        h5 {
          font-family: 'Exo2-Regular', sans-serif;
          font-size: 15px;
          font-weight: 500;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          height: auto;
          color: $dark-green;
        }
        .learn-more-b {
          .gray-blog {
            opacity: 0.7;
            display: block;
            margin: 10px 0 0;
          }
        }
      }
    }
  }
}
