@import './styles/variables';
@import './styles/mixins';

@media (min-width: 800px) {
  .container {
    width: 750px;
  }
  .blog-container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 950px;
  }
  .blog-container {
    width: 950px;
  }
  .block-img {
    .maxH-200 {
      max-height: 200px !important;
    } 
  }
}

@media (min-width: 1270px) {
  .container {
    width: 1246px;
  }
  .blog-container {
    width: 1144px;
  }
}

@media (min-width: 1270px) {
  .atm-img {
    position: relative;
    .fullscreen-img {
      &.big-img {
        position: absolute;
        top: 65px;
        left: -115px;
        width: auto;
      }
    }
  }
}

@media (min-width: 768px) {
  .extra-large {
    width: 100vw;
    transform: translateX(calc((40em - 100vw)/2));
  }
}

@media (max-width: 1270px) {
  .services-blocks {
    .cols {
      margin-bottom: 10px;
      .header-cols {
        padding: 20px;
        .up-title {
          img {
            height: 50px;
          }
          span {
            margin-left: 60px;
            top: 20px;
            font-size: 17px;
          }
        }
      }
      .content-cols {
        padding-top: 20px;
        padding-left: 20px;
        margin-right: 10px;
      }
    }
    .block-space {
      &.flex-row {
        margin-left: -5px;
        margin-right: -5px;
        .flex-item-4 {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
  .widthBlock70 {
    max-width: 80%;
  }
  .partners, .carousel-block, .aws-block {
    .block-half {
      width: 80%;
    }
  }
  .gray-block {
    .partners {
      .block-half {
        width: 50%;
      }
    }
  }
  .wrapper {
    .main-page {
      .main-text {
        max-width: 60%;
        width: 500px;
        .text-24 {
          margin-top: 26px;
          margin-bottom: 46px;
          font-size: 17px;
          line-height: 27px;
        }
        h1 {
          font-size: 40px;
          line-height: 50px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px),
(max-width: 760px) {
  .popup {
    .flex-row {
      .text-styles {
        h2, p {
          margin-top: 5px;
        }
      }
      .flex-item-6 {
        .flex-column {
          width: 85%;
        }
      }
    }
    .popup-bg-start, .popup-bg-become {
      display: none;
    }
    .partner, .start {
      &.flex-item-6 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    img {
      max-height: 80px;
    }
  }
}

@media (min-width: 992px) {
  .nav-bar {
    ul {
      li {
        .mdi-chevron-down {
          color: $white-color;
          font-size: 24px;
        }

        .dropdown {
          visibility: visible;
          opacity: 1;
          display: block;
          left: 0;
          background-color: transparent;
          width: 100%;
        }
        &:hover, &:focus-within {
          .mdi-chevron-down {
            @include rotate(180deg);
          }
        }

        &:hover {
          .dropdown {
            visibility: visible;
            opacity: 1;
            display: block;
          }
        }
      }
    }
  }
  .aws-block {
    .block-effect {
      &:hover {
        @include border-radius(7px);
      }
    }
  }

  .block-effect {
    @include transition(all 400ms);
    &.blog-content {
      &:hover {
        margin-top: 0;
        margin-bottom: 0;
        a {
          color: $dark-color;
        }
      }
    }
    &:hover {
      margin-top: -4%;
      margin-bottom: 4%;
      @include box-shadow(0 18px 20px rgba(0, 0, 0, 0.2));
      @include transition(all 400ms);
      a {
        @include transition(none);
        color: $dark-color;
      }
    }
  }
}

@media (max-width: 992px) {
  #menu-toggle {
    display: block;
  }
  .navbar-fix {
    .nav-bar {
      ul {
        li {
          .mdi-chevron-down {
           display: none;
          }
        }
      }
    }
  }
  .post {
    .img-post-left {
      float: none;
      margin-left: 0;
      width: 100%;
    }
  }
  .table {
    width: auto !important;
    overflow-x: auto;
    white-space: normal;
  }
}

@media (max-width: 992px) and (min-width: 750px) {
  .services-blocks {
    .cols {
      .header-cols {
        .up-title {
          img {
            height: 35px;
          }
          span {
            margin-left: 44px;
            top: 20px;
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 992px) and (min-width: 500px) {
  .wrapper {
    .white-block {
      .info-block {
        padding: 20px;
      }
    }
  }
}
@media (max-width: 992px) {
  .recomended-blogs {
    .flex-row {
        .flex-column {
            flex: 0 0 50%;
            max-width: 45%;
            margin-bottom: 15px;
        }
        .flex-item-3 {
            flex: 0 0 50%;
            max-width: 45%;
            margin-bottom: 15px;
        }
    }
  }
  .marginTop-250 {
    .team {
      margin-top: -150px;
    }
  }
  .error {
    .flex-item-8 {
      flex: 0 0 50%;
      max-width: 50%;
      .flex-column {
        .flex {
          .btn-green-border {
            margin-right: 30px;
            margin-bottom: 20px;
          }
        }
      }
    }
    .flex-item-4 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .tabs {
    .image-tab {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,0.1);
      }
      .adress {
        opacity: 1;
        padding: 10px;
        &:before {
          right: -9px;
          top: 36px;
        }
        i {
          margin-right: 10px;
          font-size: 14px;
        }
        a {
          &:not(:first-of-type) {
            margin-top: 5px;
          }
        }
        .location, .adress, .email, .phone {
          font-size: 10px;
          line-height: 13px;
        }
      }
    }
  }
 .gray-block {
   .gray-line {
     &:before {
       bottom: -40px;
     }
   }
 }
  .block-half {
    width: 70%;
  }
  .small-images {
    .text-color-white {
      width: 65%;
    }
    .text-color-blue, .text-color-dark {
      font-size: 12px;
    }
  }
  .media-icon {
    a {
      height: 58px;
      width: 58px;
      line-height: 58px;
      i {
        &:before {
          font-size: 17px;
        }
      }
    }
  }
  .blue-text {
    &.text-styles {
      h4 {
        font-size: 20px;
        line-height: 26px;
      }
    }
  }
  .google-img {
    margin-top: 36px;
    p {
      font-size: 17px;
      line-height: 26px;
    }
    span {
      line-height: 26px;
    }
  }
  .column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .block-img {
    .what-is {
      padding: 20px;
      &:before {
        right: -24px;
      }
      &.gradient-left-right {
        &.green {
          .text-italic {
            font-size: 17px;
            line-height: 28px;
          }
        }
      }
    }
  }
  .what-is {
    .text-italic {
      font-size: 17px;
      line-height: 28px;
    }
  }
  .text-36-SemiBold {
    font-size: 21px;
    line-height: 32px;
  }
  .text20, .text-20 {
    font-size: 15px;
    line-height: 26px;
  }
  .text28 {
    font-size: 17px;
    line-height: 23px;
  }
  .header {
    height: 395px;
    &.space-top {
      margin-top: 54px;
    }
    p {
      font-size: 12px;
    }
    h1 {
      font-size: 28px;
      line-height: 26px;
    }
    h5 {
      font-size: 17px;
      line-height: 22px;
    }
  }
  .mobile {
    display: none;
  }
  .navbar-fix {
    height: 54px;
    .mobile-nav {
      .nav-bar {
        ul {
          li {
            a {
              &.active {
                color: $white-color;
                position: relative;
                &:before {
                  position: absolute;
                  content: '';
                  width: 100%;
                  height: 2px;
                  background-color: $white-color;
                  bottom: 0;
                }
              }
            }
          }
        }
      }
    }
    .logo {
      line-height: 54px;
      a {
        .mitoc-logo {
          height: 32px;
          @include transition(.4s);
        }
      }
    }
    &.color-nav-responsive {
      .mobile-nav {
        display: inline-block;
        height: 100vh;
        width: 100%;
        background-color: $main-color;
        background-image: url(../images/v2/backgroud/transparent-up.svg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .logo {
          display: none;
        }
      }
      .nav-bar {
        ul {
          li, a {
            font-family: 'Exo2-Semi-Bold', sans-serif;
            font-size: 28px;
            color: $white-color;
            letter-spacing: 1px;
            position: relative;
          }
        }
      }
    }
    .nav-bar {
      float: none;
      ul {
        li:not(:last-child) {
          padding-right: 0;
        }
      }
      .navigation {
        display: none;
        position: absolute;
        width: 100%;
        top: 54px;
        left: 0;
        z-index: 2;
        line-height: 70px
      }
      .open + .navigation {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        text-align: center;
        height: calc(100vh - 54px);
      }
    }
    .mdi-menu, .mdi-close {
      display: block;
      float: right;
      line-height: 54px;
      font-size: 30px;
      cursor: pointer;
    }
    .mdi-close {
      color: $white-color;
    }
    .mdi-menu {
      color: $main-color;
    }
  }
  footer {
    height: auto;
    .flex-item-3 {
      flex: 0 0 33.33333333%;
      max-width: 33.33333333%;
      &:last-of-type {
        display: none;
      }
      &.block-info {
        padding-left: 0;
        ul {
          &:nth-child(1) {
            padding-right: 20px;
          }
        }
      }
    }
  }
  .btn-green-border, .btn-green, .btn-white {
    height: 55px;
  }
  .btn-green, .btn-white {
    line-height: 55px;
  }
  .green-block {
    height: 400px;
  }
  .up80 {
    padding-top: 50px;
  }

  .down80 {
    padding-bottom: 40px;
  }
  .paddingTop36 {
    padding-top: 26px;
  }
  .marginTop36 {
    margin-top: 26px;
  }
  .paddingBottom36 {
    padding-bottom: 26px;
  }
  .paddingBottom61 {
    padding-bottom: 31px;
  }
  .paddingTop61 {
    padding-top: 31px;
  }
  .marginTop61 {
    margin-top: 31px;
  }
  .text-styles {
    h2 {
      font-size: 24px;
      line-height: 30px;
    }
    h3 {
      font-size: 12px;
      margin-bottom: 8px;
    }
  }
  .space {
    .text28 {
      font-size: 17px;
      line-height: 23px;
    }
  }
  .text-42 {
    font-size: 24px;
    line-height: 30px;
  }
  .text-24 {
    font-size: 17px;
    line-height: 28px;
  }
  .text-italic {
    font-size: 17px;
    line-height: 23px;
  }
  .partner-network {
    .link-text {
      font-size: 17px;
      line-height: 23px;
    }
  }
  .wrapper {
    .main-page {
      background-image: none;
      position: relative;
      height: 650px;
      .main-text {
        max-width: 100%;
        width: auto;
        h1 {
          font-size: 28px;
          line-height: 36px;
        }
        .text-24 {
          font-size: 17px;
          line-height: 22px;
        }
      }
      .mobile-bg {
        background-image: url(../images/v2/illustration/illustration-bg.svg);
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        height: 265px;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: -1;
      }
    }
    .partners {
      img {
        max-height: 50px;
      }
      .flex-item-3 {
        &:nth-child(1), &:nth-child(2) {
          padding-bottom: 0.30em;
        }
      }
    }
    .carousel-block {
      .carousel-mission {
        padding-top: 135px;
        padding-bottom: 40px;
        &:before {
          top: 88px;
        }
        .slick-dots {
          top: 35px;
          li, button {
            height: 53px;
            width: 125px;
          }
          button {
            &#slick-slide-control00, &#slick-slide-control01, &#slick-slide-control02 {
              &:before {
                font-size: 13px;
                letter-spacing: 0.69px;
              }
            }
          }
        }
        .slide-text-right {
          h3 {
            font-size: 39px;
          }
          p {
            font-size: 16px;
          }
        }
      }
    }
  }
  .pictures-block {
    h3 {
      font-size: 19px;
      line-height: 22px;
    }
  }
  .pictures-block, .partners {
    .flex-item-3 {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  .blog-block {
    .img-block {
      img {
        height: 170px;
      }
    }
    .post-title {
      text-overflow: ellipsis;
      overflow: hidden;
      line-clamp: 2;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      height: 52px;
    }
  }
  .green-block-team {
    &.gray-light-block {
      .flex-item-3 {
        flex: 0 0 50%;
        max-width: 50%;
        &.shadow-block {
          &:nth-of-type(1), &:nth-of-type(2) {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) and (min-width: 500px) {
  .case-study {
    &.white-block {
      .flex-row {
        .flex-item-4 {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .months-header{
    display: flex;
    flex-direction: column;
    .months-columns {
      margin-top: 10px;
      margin-left: -5px;
    }
  }
  .mt-n60 {
    margin-top: -60px !important;
  }
  .post {
    em a {
      word-break: break-all;
    }
  }
  .blogs {
    a {
      color: $main-color;
      &:hover {
        color: $dark-green !important;
      }
    }
    .flex-item-6 {
      max-width: 100%;
      min-width: 100%;
      padding-top: 20px;
    }
    .first-b {
      padding: 0px 10px 20px;
    }
    .header-blog {
      flex-direction: column;
      .small-blogs {
        padding-left: 0px !important;
        .flex-row {
          &:not(:last-child) {
            &:before {
              content: none !important;
            }
          }
        }
      }
    } 
  }
  .subscribeAuthorsContainer {
    flex-direction: column;
    .flex-item-6 {
      min-width: 100%;
      margin: 10px;
    }
    .displayTable {
      vertical-align: middle;
    }
  }
  .nav-scroll {
    width: 150px;
    padding: 0;
    li {
      a {
        font-size: 10px;
        line-height: 20px;
      }
    }
  }
  #content {
    width: calc(100% - 100px);
    section {
      h1 {
        font-size: 28px;
      }
      h2 {
        font-size: 20px;
      }
    }
  }
  .laptop, .laptop-manning {
    height: 180px;
    #laptop-anim {
      height: 75%;
    }
  }
  .green-block-team {
    &.white-block {
      .flex-item-4 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
  }
  .block-half {
    width: 100%;
  }
  .gray-block {
    .gray-line {
      &:before {
        display: none;
      }
    }
  }
  .services-blocks {
    .flex-row {
      .flex-item-4 {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    .cols {
      .header-cols {
        height: 200px;
        .up-title {
          img {
            height: 60px;
            top: 40px;
          }
          span {
            margin-left: 80px;
            top: 50px;
            font-size: 17px;
          }
        }
      }
    }
  }
  .small-images {
    .marginTop-94 {
      margin-top: -80px;
    }
    .flex-row {
      .flex-item-3 {
        flex: 0 0 50%;
        max-width: 50%;
        &:nth-of-type(3), &:nth-of-type(4) {
          .text-color-white {
            color: $blue-color;
            margin-top: 10px;
            &:after {
              background-color: $blue-color;
              top: 4px;
            }
          }
        }
      }
    }
  }
  body .post {
    h1 {
      font-size: 30px;
      margin-left: -2.13px;
      line-height: 1.04;
      letter-spacing: -.015em;
    }
    h3 {
      font-size: 27px;
      margin-left: -1.88px;
      line-height: 1.15;
      letter-spacing: -.015em;
      margin-top: 45px;
    }
    .graf {
      font-size: 18px;
      letter-spacing: -.004em;
    }
  }
}

@media (max-width: 700px) {
  .marginTop-250 {
    &.team {
      margin-top: -130px;
    }
  }
  .marginTop-150 {
    margin-top: -100px;
  }
  .header {
    .header__bg {
      .bg{
        &.bg-green {
          &.contact {
            &.flex-column {
              .text-color-white {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }
  .gray-block {
    &.automation-cloud {
      .flex-row {
        .flex-item-3, .flex-item-9 {
          flex: 0 0 100%;
          max-width: 100%;
        }
        .flex-item-9 {
          &.padding-left43 {
            padding-left: 0;
          }
        }
        .flex-item-3 {
          h2 {
            padding-bottom: 20px;
          }
        }
      }
    }
  }
  .what-is, .checked {
    .widthBlock60 {
      max-width: 100%;
    }
  }
  .checked {
    .fullscreen-img {
      margin-top: 20px;
    }
  }
  .header {
    background-position: inherit;
    .header__bg {
      &.green {
        &.mobile-edge {
          .flex-row {
            .flex-item-3 {
              display: none;
            }
          }
        }
      }
    }
    .cloud-img, .header-img, .partner-img {
      max-height: 100px;
      //height: auto;
      min-height: auto;
      padding-top: 20px;
      width: auto;
    }
    .flex-row {
      .flex-item-3, .flex-item-9 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      &.img-down {
       .flex-item-3, .flex-item-9 {
         flex: 0 0 100%;
         max-width: 100%;
       }
      }
      .flex-item-9 {
        padding-left: 0;
      }
    }
    .display-grid {
      display: grid;
      .flex-item-9 {
        grid-row: 1;
      }
    }
  }
  .wrapper {
    .main-page {
      .mobile-bg {
        height: 280px;
      }
      .flex {
        display: inline-block;
        .btn-green {
          display: block;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media (min-width: 685px) {
  .mobile-img {
    .img-size {
      display: none;
    }
  }
}

@media (max-width: 685px) {
  body {
    font-size: 14px;
    .blogs {
      .header-blog {
        padding-bottom: 0px;
      }
    }
  }
  .mobile-img {
    text-align: center;
  }
  .img-size {
    height: 180px;
    width: 100%;
    object-fit: contain;
    padding-top: 20px;
    &.web-img {
      display: none;
    }
  }

  .block-left {
    .widthBlock80, .widthBlock70 {
      max-width: 100%;
    }
    .block-space {
      &.flex-row {
        .flex-item-6 {
          flex: 0 0 100%;
          max-width: 100%;
          &:nth-of-type(2) {
            margin-top: 0;
          }
          &.space {
            padding: 0;
          }
        }
      }
    }
    .recomended-blogs {
      .flex-row {
          text-align: left;
          .flex-item-3 {
              .blog-post {
                  h5 {
                      height: 40px;
                      display: -webkit-box;
                      -webkit-box-orient: vertical;
                      -webkit-line-clamp: 2;
                  }
                  .description {                        
                      font-size: 14px;
                      line-height: 20px;
                      text-overflow: ellipsis;
                      overflow: hidden;
                      max-height: 70px;
                      display: -webkit-box;
                      -webkit-line-clamp: 3;
                      -webkit-box-orient: vertical;
                  }
                  .learn-more {
                      padding-bottom: 0;
                  }
              }
          }
      }
    }
  }
  .header {
    &.case-study {
      height: 375px;
      text-align: center;
      h1 {
        line-height: 30px;
      }
      h5 {
        width: 80%;
        margin: 20px auto;
      } flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .block-space {
    &.case-study {
      &.flex-row {
        .flex-item-6 {
          flex: 0 0 100%;
          max-width: 100%;
        }
      }
      .space {
        padding-top: 20px;
        padding-right: 0;
        padding-left: 0;
        padding-bottom: 0;
      }
      .marginTop36 {
        margin-top: 0;
      }
    }
  }
  .case-study-br {
    br {
      display: none;
    }
    .flex-item-3, .flex-item-9 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .flex-item-3 {
      text-align: center;
      padding-bottom: 20px;
    }
    .flex-item-9 {
      &.padding-left43 {
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 600px) {
  .aws-block {
    .about {
      &.space {
        padding-left: 0;
        padding-right: 0;
      }
      &.flex-row {
        .flex-item-6 {
          flex: 0 0 100%;
          max-width: 100%;
          &.padding-left43 {
            padding-left: 0;
            padding-top: 20px;
            .partner-network {
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
  .height-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .error {
    &.display-grid {
      display: grid;
      .flex-item-4 {
        grid-row: 1;
        margin-bottom: 30px;
        text-align: center;
        img {
          max-height: 120px;
        }
      }
      .flex-item-8, .flex-item-4 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .flex-item-8 {
        text-align: center;
        .flex {
          justify-content: center;
          .btn-green-border {
            margin-right: 0;
          }

        }
        h1, .left-green-line {
          margin-bottom: 20px;
        }
        .left-green-line {
          border-left: 0;
          padding-left: 0;
        }
      }
      &.pull-center {
        position: static;
        top: 0;
        @include transform(unset);
      }
    }
  }
  .marginLeft-43 {
    margin-left: 0;
  }
  .events {
    .read-more {
      font-size: 12px;
      i {
        font-size: 17px;
      }
    }
    .blog-block {
      .img-block {
        padding-bottom: 10px;
      }
      .post-title {
        font-size: 12px;
        line-height: 20px;
        height: 45px;
      }
      .post-date {
        font-size: 10px;
      }
    }
    .block-space {
      &.flex-row {
        margin-left: -5px;
        margin-right: -5px;
        .flex-item-4 {
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    }
  }
  .aws-block {
    &.gray-block {
      .flex-item-6 {
        flex: 0 0 100%;
        max-width: 100%;
        &.padding-left43 {
          padding-left: 0;
          .partner-network {
            margin-top: 20px;
          }
        }
        .marginTop-auto {
          margin-top: 20px;
        }
      }
    }
  }
  .data-green {
    .flex-item-3, .flex-item-9 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .flex-item-3 {
      h2 {
        padding-bottom: 20px;
        line-height: 27px;
      }
    }
    .flex-item-9 {
      &.padding-left43 {
        padding-left: 0;
      }
    }
  }
  .space {
    >.flex-item-5, >.flex-item-7 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    >.flex-item-5 {
      padding-bottom: 20px;
    }
  }
  .read-watch {
    &.display-flex {
      display: inline;
    }
    .widthBlock30 {
      margin-top: 20px;
      padding-bottom: 20px;
    }
    .widthBlock30, .half-aws {
      max-width: 100%;
    }
    .half-aws {
     .display-flex {
       -webkit-justify-content: flex-start;
       justify-content: flex-start;
     }
    }
  }
  .block-img {
    .display-grid {
      display: grid;
      .flex-item-7, .flex-item-5 {
        flex: 0 0 100%;
        max-width: 100%;
      }
      .flex-item-5 {
        grid-row: 1;
      }
    }
    .what-is {
      &.gradient-left-right, &.green {
        &:before {
         top: -26px;
          width: 100%;
          -webkit-transform: skew(6deg);
          -moz-transform: skew(6deg);
          -o-transform: skew(6deg);
          transform: skewY(6deg);
        }
      }
      &:before {
        width: 100%;
        top: -36px;
        right: auto;
        left: 0;
        -webkit-transform: skew(6deg);
        -moz-transform: skew(6deg);
        -o-transform: skew(6deg);
        transform: skewY(6deg);
      }
    }
  }
  .widthBlock80 {
    max-width: 95%;
  }
  .blog-block {
    .flex-row {
      .flex-item-4 {
        flex: 0 0 100%;
        max-width: 100%;
        &:not(:first-of-type) {
          padding-top: 20px;
        }
      }
    }
  }
  .pictures-block {
    .flex-item-3, .flex-item-4 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .read-more {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
  .wrapper {
    .carousel-block {
      .carousel-mission {
        .flex-item-6 {
          flex: 0 0 100%;
          max-width: 100%;
          text-align: center;
        }
        img {
          max-height: 170px;
          width: auto;
          margin: 0 auto;
        }
        .slide-text-right {
          padding-left: 0;
        }
      }
    }
  }
  footer {
    padding: 41px 0;
    .flex-item-3 {
      &:first-of-type {
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
      }
      &:nth-child(2), &:nth-child(3) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      &.block-info {
        .phone {
          font-size: 14px;
        }
        .email {
          font-size: 10px;
        }
        .flex {
          display: inline;
        }
        i {
          font-size: 12px;
        }
      }
    }
    .footer-down {
      text-align: center;
      &.display-flex {
        display: grid;
        -webkit-justify-content: unset;
        justify-content: unset;
        .media {
          grid-row: 1;
        }
      }
      a {
        p {
          display: inline-block;
        }
      }
    }
  }
}

@media (min-width: 500px) {
  .min500 {
    display: none;
    img {
      position: relative;
      margin-top: -178px;
    }
  }
}

@media (max-width: 500px) {
  .nav-scroll, #sidebar {
    display: none;
  }
  #content {
    width: 100%;
    padding-left: 0;
    section {
      h1, h2 {
        padding-top: 40px;
      }
    }
  }
  .green-block, &.footer-bg {
    height: auto;
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .atm-img {
    .marginTop-200 {
      margin-top: 0;
    }
  }
  .img-up {
    .display-grid {
      display: grid;
      .flex-item-6 {
        &:last-child {
          grid-row: 1;
          padding-bottom: 36px;
        }
      }
    }
  }
  .tabs {
    [class^="tab"] label, [class*=" tab"] label  {
      font-size: 12px;
      padding: 1em 0;
    }
  }
  .min500 {
    &.services {
      img {
        margin-top: -200px;
        height: 300px;
      }
    }
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    img {
      position: relative;
      margin-top: -178px;
      max-height: 255px;
    }
  }
  .header {
    height: 442px;
    .header__bg {
      .bg {
        padding-top: 20px;
      }
      &.green {
        &.mobile-edge {
          @include transform(skewY(-27deg));
          .bg-green {
            @include transform(skewY(27deg));
            &.bg {
              padding-top: 50px;
            }
          }
          .flex-row {
            .flex-item-3 {
              display: none;
            }
          }
          .btn-white {
            &.become-partner {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
  .moldova {
    .marginTop-auto {
      text-align: left;
      margin-top: 10px;
      .media-icon {
        &.flex {
          -webkit-justify-content: flex-start;
          justify-content: flex-start;
        }
      }
    }
  }
  .maps {
    .block-space {
      &.flex-row {
        .flex-item-6 {
          &:nth-of-type(2) {
            margin-top: 0;
          }
        }
      }
    }
  }
  .block-space {
    &.flex-row {
      .flex-item-6 {
        flex: 0 0 100%;
        max-width: 100%;
        &:nth-of-type(2) {
          margin-top: 26px;
        }
      }
    }
  }
  .partners {
    &.white-block {
      .flex {
        .block-half {
          width: 100%;
          &:nth-of-type(3) {
            padding-bottom: 5px;
          }
        }
      }
    }
  }
  .partners, .carousel-block, .aws-block {
    .block-half {
      width: 100%;
    }
  }
  .widthBlock70 {
    max-width: 90%;
  }
  .wrapper {
    .main-page {
      .mobile-bg {
        background-position: 120% 50%;
        height: 240px;
      }
      .btn-green, .btn-green-border {
        min-width: auto;
      }
    }
    .partners {
      img {
        max-height: 35px;
      }

      &.white-block {
        .info-block {
          padding: 24px;
        }
      }
    }

    .white-block {
      .flex-row {
        .flex-item-4 {
          flex: 0 0 100%;
          max-width: 100%;
          &:not(:first-of-type) {
            margin-top: 5px;
          }
        }
      }
      .info-block {
        padding: 40px;
        h3 {
          font-size: 15px;
          line-height: 22px;
        }
      }
      .gray-block {
        &.white-block {
          .info-block {
            img {
              max-height: 100px;
            }
          }
        }
      }
    }
  }
  .green-block-team {
    &.gray-light-block {
      .flex-item-3 {
        flex: 0 0 100%;
        max-width: 100%;
        &.shadow-block {
          &:nth-of-type(3) {
            padding-bottom: 10px;
          }
        }
      }
    }
  }
}

@media (max-height: 470px) {
  .navbar-fix {
    .nav-bar {
      .open +.navigation {
        justify-content: space-around;
        line-height: normal;
      }
    }
  }
}

@media (max-width: 435px) {
  .tabs {
    .image-tab {
      .adress {
        left: 30%;
        @include transform(translate(-50%, -30%));
      }
    }
  }
  .wrapper {
    .carousel-block {
      .carousel-mission {
        .slick-dots {
          top: 35px;
          li, button {
            width: 85px;
            button {
              &#slick-slide-control00, &#slick-slide-control01, &#slick-slide-control02 {
                &:before {
                  font-size: 11px;
                }
              }
            }
          }
        }
      }
    }
  }
  .recomended-blogs {
    .flex-row {
        .flex-item-3 {
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .recomended-blog-header {
      flex-direction: column !important;
      justify-content: center !important;
      align-items: center;
      * {
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 370px) {
  .wrapper {
    .main-page {
      .mobile-bg {
        background-position: 160% 50%;
        height: 206px
      }
    }
  }
}
