$primary-color: blue;
$green-gradient: linear-gradient(90deg, #28B655 0%, #75DB4F 100%);
$dark-green: #146B2F;
$dark-color: #1A1919;
$main-color: #28B655;
$gray-line: #D3D3D3;
$btn-shadow: 0 20px 34px -20px rgba(16,200,74,0.57);
$gray-dark-color: #F6F6F6;
$blue-color: #0077EC;
$orange: #FF9900;
$red-color: #E82A61;
$white-color: #FFFFFF;
$light-green: #29bc58;
