{% extends '../layout.twig' %}

{% block content %}
    <div class="small-container">
        <p class="initial-link">
        This article was initially published here:
            <a href="https://blog.mitocgroup.com/introducing-programmatic-aws-landing-zone-as-terraform-module-3e566ee6e73f" target="_blank" rel="noreferrer">https://blog.mitocgroup.com/introducing-programmatic-aws-landing-zone-as-terraform-module-3e566ee6e73f</a>
        </p>
    </div>
    <div class="container u-maxWidth740">
        <h1>Introducing Programmatic AWS Landing Zone as Terraform Module</h1>
        <p class="graf-gray">June 17th, 2019 / 4 min read </p>
        <p class="graf graf-up">
            <a href="https://aws.amazon.com/solutions/aws-landing-zone/" target="_blank" rel="noreferrer">AWS Landing Zone</a> is a solution that helps customers more quickly set up a secure, multi-account AWS environment based on AWS best practices.
        </p>
        <p class="graf graf-up">
            In over 5 years of our corporate existence our team at Mitoc Group was relentlessly working to help large organizations transform themselves and build or migrate their IT footprint to AWS cloud. In other words — quoting our friends from AWS — our customers are reinventing themselves on AWS. It is a never ending effort to invent and simplify on behalf of customers, and AWS is doing a great job at solving complex problems with easy to digest solutions.
        </p>
        <div class="layoutOutsetLeft">
            <div class="floatleft">
                <img src="{{ asset('@img/blog/2019-06-17/aws-landing-zone.png') }}" alt="AWS Landing Zone Architecture" />
                <div class="center img-description">
                    AWS Landing Zone (source: <a href="https://aws.amazon.com/solutions/aws-landing-zone" rel="noreferrer">https://aws.amazon.com/solutions/aws-landing-zone</a>)
                </div>
            </div>
            <h3>What is AWS Landing Zone?</h3>
            <p class="graf graf-up">
                Quoting from official source:
            </p>
            <p class="graf graf-up">
                <span class="italic">AWS Landing Zone is a solution that helps customers more quickly set up a secure, multi-account AWS environment based on AWS best practices. With the large number of design choices, setting up a multi-account environment can take a significant amount of time, involve the configuration of multiple accounts and services, and <strong>require a deep understanding of AWS services</strong>.</span>
            </p>
            <p class="graf graf-up">
                The AWS Landing Zone solution reduced by a lot the complexity and the consistency of similar design patterns provided to different customers. On the other hand, our team had to rebuild some CloudFormation components as Terraform components, in order to use them further down the automation pipeline.
            </p>
            <p class="graf graf-up">
                So we asked ourselves: Why not to build the entire AWS Landing Zone solution in Terraform? Would that be feasible and would that solve our customers problems? Spoiler alert: It is and it does :)
            </p>
        </div>
        <h3>When NOT to Use AWS Landing Zone?</h3>
        <p class="graf graf-up">
            If you are managing your cloud services and cloud resources within one or two AWS accounts, this solution might be an overkill for you. Everybody else, please continue reading :)
        </p>
        <h3>What to Consider Before Getting Started?</h3>
        <p class="graf graf-up">
            Many large organizations we have worked with do have some kind of cloud strategy already in place. Without a clear vision and clear expectations, companies struggle to adopt cloud services successfully. Please consider spending some time in order to define your own cloud strategy and how does AWS fit into that strategy.
        </p>
        <p class="graf graf-grap">
            Once the strategy is in place, successful AWS Landing Zone customers have considered proactively the following prerequisites:
        </p>
        <ol class="graf graf-ol-li graf-grap">
            <li>Automation is NOT an option. Cloud native automation is preferred.</li>
            <li>Teams are consistently using the same pipelines with the same toolset for cloud resources provisioning. Terraform is preferred.</li>
            <li>Cloud champions are empowered to build reusable processes and expose them as reusable services instead of reusable code. Serverless architecture is preferred.</li>
        </ol>
        <h3>Introducing Terraform Module for AWS Landing Zone</h3>
        <p class="graf graf-up">
            After a couple of months of hard work, it is my pleasure to introduce terraform module for AWS Landing Zone (see above link). <a href="https://github.com/TerraHubCorp/terraform-aws-landing-zone">Source code</a> is managed using GitHub and <a href="https://registry.terraform.io/modules/TerraHubCorp/landing-zone">stable releases</a> are published on Terraform Module Registry.
        </p>
        <p class="graf graf-up">
            To get started, simply include main.tf into your terraform codebase:
        </p>
        <pre><code class="html">
module "landing_zone" {
  source     = "TerraHubCorp/landing-zone/aws"
  version    = "0.0.6"
  root_path  = "${path.module}"
  account_id = "${var.account_id}"
  region     = "${var.region}"
  landing_zone_components = "${var.landing_zone_components}"
}
        </code></pre>
        <p class="graf graf-up">
            NOTE: Make sure to include <span class="italic">variables.tf</span> and whatever makes sense from <span class="italic">outputs.tf</span>
        </p>
        <p class="graf graf-up">
            To simplify and make it easier to understand, we included default values in <span class="italic">terraform.tfvars</span>:
        </p>
        <pre><code class="html">
account_id = "123456789012"
region = "us-east-1"
landing_zone_components = {
  landing_zone_pipeline_s3_bucket = "s3://terraform-aws-landing-zone/mycompany/landing_zone_pipeline_s3_bucket/default.tfvars"
  [...]
}
        </code></pre>
        <p class="graf graf-up">
            This means that when you use this terraform module, you will need to:
        </p>
        <ol class="graf graf-ol-li graf-grap">
            <li>Change <span class="italic">account_id</span> and <span class="italic">region</span> to values that correspond to your AWS Organization</li>
            <li>Change <span class="italic">landing_zone_components</span> to values that fit into your AWS Landing Zone use case</li>
            <li>Change <span class="italic">s3://terraform-aws-landing-zone/mycompany</span> to your S3 bucket and S3 key prefix where you will be storing <span class="italic">.tfvars</span> files (or absolute path to <span class="italic">.tfvars</span> files on local disk)</li>
        </ol>
        <p class="graf graf-up">
            This module can have tens, hundreds or thousands of deployable components, but not all of them should be and will be deployed. At runtime, components that are not part of <span class="italic">landing_zone_components</span> map variable will be ignored.
        </p>
        <h3>Conclusion</h3>
        <p class="graf graf-up">
            We are very excited and proud of sharing some fruits of our continuous effort to help customers build cloud native automation. Terraform module for AWS Landing Zone is just another solution that helps organizations more quickly set up a secure, multi-account AWS environment based on AWS best practices. We are well aware that AWS evolves with an insanely fast pace, and we are committed to evolve this terraform powered solution that covers all the basics, as well as integrates with other successful solutions on AWS.
        </p>
    </div>

    <div class="container u-maxWidth740">
        <h4>Final Thoughts</h4>
        <p class="graf graf-up">
            TerraHub.io is the DevOps Hub for Terraform Automation. We provide managed services
            that simplify cloud resources management using terraform. If this is of your interest
            and you'd like to learn more, please feel free to reach out over
            <a href="mailto:hello@terrahub.io" target="_blank" rel="noopener">Email</a>,
            <a href="https://twitter.com/terrahubcorp" alt="TerraHub on Twitter" target="_blank" rel="noreferrer">Twitter</a> or
            <a href="https://www.linkedin.com/company/terrahubcorp" alt="TerraHub on LinkedIn" target="_blank" rel="noreferrer">LinkedIn</a>.
            We'd be happy to help!
        </p>
    </div>

{% endblock %}
